{% if shop.metafields.get_reviews.popup %}
<div class="grapps__review_popup"></div>
{% endif %}
<input type="hidden" id="active_widget" value="{{ shop.metafields.get_reviews.widget }}">
<input type="hidden" id="get-review-shop-domain" value="{{ shop.permanent_domain  }}">
<link rel="stylesheet" href="https://api.dsreviews.net/css/style.min.css" />
<script type="text/javascript" src="https://api.dsreviews.net/js/app.min.js"></script>


<style rel="stylesheet">:root{--grapps-general-text-color:#333;--grapps-header-text-color:#3d4246;--grapps-summary-color:#fb8d18;--grapps-button-bg-color:#fb8d18;--grapps-button-text-color:#ffffff;--grapps-star-color:#fb8d18;--grapps-list-date-color:#c3c3c3;--grapps-general-fontsize:14px;--grapps-header-fontsize:22px;--grapps-button-fontsize:14px;--grapps-star-fontsize:14px;--grapps-popup-color-background:#3d4246;--grapps-popup-color-star:#fb8d18;--grapps-popup-color-text:#ffffff;--grapps-widget-color-button-background:#fb8d18;--grapps-widget-color-button-text:#fff;}</style>