<style>
  .content-sliderBox {
     width: 100%;
     height: auto;
   }
   .sliderBox {
     margin: 0px auto;
     overflow: visible;
     position: relative;
     display: grid;
     grid-template-columns: 1fr auto 1fr;
     align-items: center;
   }
   .sliderBox:before,
   .sliderBox:after {
     content: "";
     display: block;
     border-top: 2px solid #cc4e61;
   }

   .mask {
     overflow: hidden;
     height: 35vh;
     width: 55vw;
     border: 2px solid #cc4e61;
     padding: 5%;
   }

   .sliderBox ul {
     margin: 0;
     padding: 0;
     position: relative;
   }

   .sliderBox li {
     width: auto;
     height: auto;
     position: absolute;
     /* top: -325px; */
     list-style: none;
   }

   .sliderBox .quote {
     font-size: 15px;
     font-style: italic;
     text-align: center;
   }

   .sliderBox .source {
     font-size: 10px;
     text-align: center;
     margin-top: 30px;
     color: #cc4e61;
   }

   .sliderBox li.anim1 {
     -webkit-animation: cycle 15s linear infinite;
     animation: cycle 15s linear infinite;
   }

   .sliderBox li.anim2 {
     -webkit-animation: cycle2 15s linear infinite;
     animation: cycle2 15s linear infinite;
   }

   .sliderBox li.anim3 {
     -webkit-animation: cycle3 15s linear infinite;
     animation: cycle3 15s linear infinite;
   }

   .sliderBox li.anim4 {
     -webkit-animation: cycle4 15s linear infinite;
     animation: cycle4 15s linear infinite;
   }

   .sliderBox li.anim5 {
     -webkit-animation: cycle5 15s linear infinite;
     animation: cycle5 15s linear infinite;
   }

   .sliderBox:hover li {
     -webkit-animation-play-state: paused;
     animation-play-state: paused;
   }

   .pink-it {
     color: #cc4e61;
     font-weight:bold;
    
   }
   .name {
     color: #cc4e61;
   }
   .heading {
     font-size: 20px;
     font-weight:bold;
     text-align: center;
   }

   @-webkit-keyframes cycle {
     0% {
       top: 0px;
     }
     4% {
       top: 0px;
     }
     16% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     20% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     21% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     50% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     92% {
       top: -325px;
       opacity: 0;
       z-index: 0;
     }
     96% {
       top: -325px;
       opacity: 0;
     }
     100% {
       top: 0px;
       opacity: 1;
     }
   }

   @keyframes cycle {
     0% {
       top: 0px;
     }
     4% {
       top: 0px;
     }
     16% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     20% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     21% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     50% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     92% {
       top: -325px;
       opacity: 0;
       z-index: 0;
     }
     96% {
       top: -325px;
       opacity: 0;
     }
     100% {
       top: 0px;
       opacity: 1;
     }
   }

   @-webkit-keyframes cycle2 {
     0% {
       top: -325px;
       opacity: 0;
     }
     16% {
       top: -325px;
       opacity: 0;
     }
     20% {
       top: 0px;
       opacity: 1;
     }
     24% {
       top: 0px;
       opacity: 1;
     }
     36% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     40% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     41% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     100% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
   }

   @keyframes cycle2 {
     0% {
       top: -325px;
       opacity: 0;
     }
     16% {
       top: -325px;
       opacity: 0;
     }
     20% {
       top: 0px;
       opacity: 1;
     }
     24% {
       top: 0px;
       opacity: 1;
     }
     36% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     40% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     41% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     100% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
   }

   @-webkit-keyframes cycle3 {
     0% {
       top: -325px;
       opacity: 0;
     }
     36% {
       top: -325px;
       opacity: 0;
     }
     40% {
       top: 0px;
       opacity: 1;
     }
     44% {
       top: 0px;
       opacity: 1;
     }
     56% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     60% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     61% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     100% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
   }

   @keyframes cycle3 {
     0% {
       top: -325px;
       opacity: 0;
     }
     36% {
       top: -325px;
       opacity: 0;
     }
     40% {
       top: 0px;
       opacity: 1;
     }
     44% {
       top: 0px;
       opacity: 1;
     }
     56% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     60% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     61% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     100% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
   }

   @-webkit-keyframes cycle4 {
     0% {
       top: -325px;
       opacity: 0;
     }
     56% {
       top: -325px;
       opacity: 0;
     }
     60% {
       top: 0px;
       opacity: 1;
     }
     64% {
       top: 0px;
       opacity: 1;
     }
     76% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     80% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     81% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     100% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
   }

   @keyframes cycle4 {
     0% {
       top: -325px;
       opacity: 0;
     }
     56% {
       top: -325px;
       opacity: 0;
     }
     60% {
       top: 0px;
       opacity: 1;
     }
     64% {
       top: 0px;
       opacity: 1;
     }
     76% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     80% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
     81% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
     100% {
       top: -325px;
       opacity: 0;
       z-index: -1;
     }
   }

   @-webkit-keyframes cycle5 {
     0% {
       top: -325px;
       opacity: 0;
     }
     76% {
       top: -325px;
       opacity: 0;
     }
     80% {
       top: 0px;
       opacity: 1;
     }
     84% {
       top: 0px;
       opacity: 1;
     }
     96% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     100% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
   }

   @keyframes cycle5 {
     0% {
       top: -325px;
       opacity: 0;
     }
     76% {
       top: -325px;
       opacity: 0;
     }
     80% {
       top: 0px;
       opacity: 1;
     }
     84% {
       top: 0px;
       opacity: 1;
     }
     96% {
       top: 0px;
       opacity: 1;
       z-index: 0;
     }
     100% {
       top: 325px;
       opacity: 0;
       z-index: 0;
     }
   }

  @media (min-width: 2000px) {
  	.content-sliderBox {
  		width: 100%;
  		height: aut
  	}
  	.sliderBox {
  		margin: 0px auto;
  		overflow: visible;
  		position: relative;
  		display: grid;
  		grid-template-columns: 1fr auto 1fr;
  		align-items: center;
  	}
  	.sliderBox:before{
  		width:100%;
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.sliderBox:after {
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.mask {
  		overflow: hidden;
  		height: 35vh;
  		border: 1px solid #cc4e61;
  		padding: 2%;
  	}
  	.sliderBox ul {
  		margin: 0;
  		padding: 0;
  		position: relative;
  	}
  	.sliderBox li {
  		width: auto;
  		height: auto;
  		position: absolute;
  		/* top: -325px; */
  		list-style: none;
  	}
  	.sliderBox .quote {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 400;
  		font-size: 20px;
  		line-height: 168%;
  		text-align: center;
  		color: #000000;
  	}
  	.sliderBox .source {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 500;
  		font-size: 20px;
  		line-height: 168%;
  		text-align: center;
  		color: #cc4e61;
  	}

  	.sliderBox li.anim1 {
  		-webkit-animation: cycle 15s linear infinite;
  		animation: cycle 15s linear infinite;
  	}

  	.sliderBox li.anim2 {
  		-webkit-animation: cycle2 15s linear infinite;
  		animation: cycle2 15s linear infinite;
  	}

  	.sliderBox li.anim3 {
  		-webkit-animation: cycle3 15s linear infinite;
  		animation: cycle3 15s linear infinite;
  	}

  	.sliderBox li.anim4 {
  		-webkit-animation: cycle4 15s linear infinite;
  		animation: cycle4 15s linear infinite;
  	}

  	.sliderBox li.anim5 {
  		-webkit-animation: cycle5 15s linear infinite;
  		animation: cycle5 15s linear infinite;
  	}

  	.sliderBox:hover li {
  		-webkit-animation-play-state: paused;
  		animation-play-state: paused;
  	}

  	.pink-it {
  		color: #cc4e61;
  	}
  	.name {
  		color: #cc4e61;
  	}
  	.heading {
  		font-size: 30px;
  		font-weight: 500;
  		text-align: center;
  		font-family: "Poppins";
  		font-style: normal;
  		line-height: 48px;
  	}

  	@-webkit-keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@-webkit-keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}

  	@keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}
  }
  @media (min-width:1800px) and (max-width: 2000px) {
    .content-sliderBox {
  		width: 100%;
    }
  	.sliderBox {
  		margin: 0px auto;
  		overflow: visible;
  		position: relative;
  		display: grid;
  		grid-template-columns: 1fr auto 1fr;
  		align-items: center;
  	}
  	.sliderBox:before{
  		width:100%;
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.sliderBox:after {
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.mask {
  		overflow: hidden;
  		height: 30vh;
        width: 50vw;
  		border: 1px solid #cc4e61;
  		padding: 2%;
  	}
  	.sliderBox ul {
  		margin: 0;
  		padding: 0;
  		position: relative;
  	}
  	.sliderBox li {
  		width: auto;
  		height: auto;
  		position: absolute;
  		/* top: -325px; */
  		list-style: none;
  	}
  	.sliderBox .quote {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 400;
  		font-size: 20px;
  		line-height: 168%;
  		text-align: center;
  		color: #000000;
  	}
  	.sliderBox .source {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 500;
  		font-size: 16px;
  		line-height: 168%;
  		text-align: center;
  		color: #cc4e61;
  	}

  	.sliderBox li.anim1 {
  		-webkit-animation: cycle 15s linear infinite;
  		animation: cycle 15s linear infinite;
  	}

  	.sliderBox li.anim2 {
  		-webkit-animation: cycle2 15s linear infinite;
  		animation: cycle2 15s linear infinite;
  	}

  	.sliderBox li.anim3 {
  		-webkit-animation: cycle3 15s linear infinite;
  		animation: cycle3 15s linear infinite;
  	}

  	.sliderBox li.anim4 {
  		-webkit-animation: cycle4 15s linear infinite;
  		animation: cycle4 15s linear infinite;
  	}

  	.sliderBox li.anim5 {
  		-webkit-animation: cycle5 15s linear infinite;
  		animation: cycle5 15s linear infinite;
  	}

  	.sliderBox:hover li {
  		-webkit-animation-play-state: paused;
  		animation-play-state: paused;
  	}

  	.pink-it {
  		color: #cc4e61;
  	}
  	.name {
  		color: #cc4e61;
  	}
  	.heading {
  		font-size: 26px;
  		font-weight: 500;
  		text-align: center;
  		font-family: "Poppins";
  		font-style: normal;
  		line-height: 48px;
  	}

  }
  @media (min-width:1650px) and (max-width: 1800px) {
    .content-sliderBox {
  		width: 100%;
  	}
  	.sliderBox {
  		margin: 0px auto;
  		overflow: visible;
  		position: relative;
  		display: grid;
  		grid-template-columns: 1fr auto 1fr;
  		align-items: center;
  	}
  	.sliderBox:before{
  		width:100%;
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.sliderBox:after {
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.mask {
  		overflow: hidden;
  		height: 35vh;
        width: 50vw;
  		border: 1px solid #cc4e61;
  		padding: 2%;
  	}
  	.sliderBox ul {
  		margin: 0;
  		padding: 0;
  		position: relative;
  	}
  	.sliderBox li {
  		width: auto;
  		height: auto;
  		position: absolute;
  		/* top: -325px; */
  		list-style: none;
  	}
  	.sliderBox .quote {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 400;
  		font-size: 16px;
  		line-height: 168%;
  		text-align: center;
  		color: #000000;
  	}
  	.sliderBox .source {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 500;
  		font-size: 10px;
  		line-height: 168%;
  		text-align: center;
  		color: #cc4e61;
  	}

  	.sliderBox li.anim1 {
  		-webkit-animation: cycle 15s linear infinite;
  		animation: cycle 15s linear infinite;
  	}

  	.sliderBox li.anim2 {
  		-webkit-animation: cycle2 15s linear infinite;
  		animation: cycle2 15s linear infinite;
  	}

  	.sliderBox li.anim3 {
  		-webkit-animation: cycle3 15s linear infinite;
  		animation: cycle3 15s linear infinite;
  	}

  	.sliderBox li.anim4 {
  		-webkit-animation: cycle4 15s linear infinite;
  		animation: cycle4 15s linear infinite;
  	}

  	.sliderBox li.anim5 {
  		-webkit-animation: cycle5 15s linear infinite;
  		animation: cycle5 15s linear infinite;
  	}

  	.sliderBox:hover li {
  		-webkit-animation-play-state: paused;
  		animation-play-state: paused;
  	}

  	.pink-it {
  		color: #cc4e61;
  	}
  	.name {
  		color: #cc4e61;
  	}
  	.heading {
  		font-size: 23px;
  		font-weight: 500;
  		text-align: center;
  		font-family: "Poppins";
  		font-style: normal;
  		line-height: 48px;
  	}

  }
  @media (min-width:1500px) and (max-width: 1650px) {
  	.content-slideau
  		width: 100au
  	.sliderBox {
  		margin: 0px auto;
  		overflow: visible;
  		position: relative;
  		display: grid;
  		grid-template-columns: 1fr auto 1fr;
  		align-items: center;
  	}
  	.sliderBox:before{
  		width:100%;
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.sliderBox:after {
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.mask {
  		overflow: hidden;
  		height: 35vh;
        width: 50vw;
  		border: 1px solid #cc4e61;
  		padding: 2%;
  	}
  	.sliderBox ul {
  		margin: 0;
  		padding: 0;
  		position: relative;
  	}
  	.sliderBox li {
  		width: auto;
  		height: auto;
  		position: absolute;
  		/* top: -325px; */
  		list-style: none;
  	}
  	.sliderBox .quote {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 400;
  		font-size: 16px;
  		line-height: 168%;
  		text-align: center;
  		color: #000000;
  	}
  	.sliderBox .source {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 500;
  		font-size: 10px;
  		line-height: 168%;
  		text-align: center;
  		color: #cc4e61;
  	}

  	.sliderBox li.anim1 {
  		-webkit-animation: cycle 15s linear infinite;
  		animation: cycle 15s linear infinite;
  	}

  	.sliderBox li.anim2 {
  		-webkit-animation: cycle2 15s linear infinite;
  		animation: cycle2 15s linear infinite;
  	}

  	.sliderBox li.anim3 {
  		-webkit-animation: cycle3 15s linear infinite;
  		animation: cycle3 15s linear infinite;
  	}

  	.sliderBox li.anim4 {
  		-webkit-animation: cycle4 15s linear infinite;
  		animation: cycle4 15s linear infinite;
  	}

  	.sliderBox li.anim5 {
  		-webkit-animation: cycle5 15s linear infinite;
  		animation: cycle5 15s linear infinite;
  	}

  	.sliderBox:hover li {
  		-webkit-animation-play-state: paused;
  		animation-play-state: paused;
  	}

  	.pink-it {
  		color: #cc4e61;
  	}
  	.name {
  		color: #cc4e61;
  	}
  	.heading {
  		font-size: 23px;
  		font-weight: 500;
  		text-align: center;
  		font-family: "Poppins";
  		font-style: normal;
  		line-height: 48px;
  	}

  	@-webkit-keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@-webkit-keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}

  	@keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}
  }
  @media (min-width:1281px) and (max-width: 1499px) {
  	.content-sliderBox {
  		width: 100%;
  		height: 360px;
  	}

  	.sliderBox {
  		margin: 0px auto;
  		overflow: visible;
  		position: relative;
  		display: grid;
  		grid-template-columns: 1fr auto 1fr;
  		align-items: center;
  	}
  	.sliderBox:before{
  		width:100%;
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.sliderBox:after {
  		content: "";

  		display: block;
  		border-top: 2px solid #cc4e61;
  	}

  	.mask {
  		overflow: hidden;
  		height: 40vh;
  		width: 70vw;
  		border: 1px solid #cc4e61;
  		padding: 2%;
  	}

  	.sliderBox ul {
  		margin: 0;
  		padding: 0;
  		position: relative;
  	}

  	.sliderBox li {
  		width: auto;
  		height: auto;
  		position: absolute;
  		/* top: -325px; */
  		list-style: none;
  	}

  	.sliderBox .quote {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 400;
  		font-size: 16px;
  		line-height: 168%;
  		text-align: center;
  		color: #000000;
  	}

  	.sliderBox .source {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 500;
  		font-size: 10px;
  		line-height: 168%;
  		text-align: center;
  		color: #cc4e61;
  	}

  	.sliderBox li.anim1 {
  		-webkit-animation: cycle 15s linear infinite;
  		animation: cycle 15s linear infinite;
  	}

  	.sliderBox li.anim2 {
  		-webkit-animation: cycle2 15s linear infinite;
  		animation: cycle2 15s linear infinite;
  	}

  	.sliderBox li.anim3 {
  		-webkit-animation: cycle3 15s linear infinite;
  		animation: cycle3 15s linear infinite;
  	}

  	.sliderBox li.anim4 {
  		-webkit-animation: cycle4 15s linear infinite;
  		animation: cycle4 15s linear infinite;
  	}

  	.sliderBox li.anim5 {
  		-webkit-animation: cycle5 15s linear infinite;
  		animation: cycle5 15s linear infinite;
  	}

  	.sliderBox:hover li {
  		-webkit-animation-play-state: paused;
  		animation-play-state: paused;
  	}

  	.pink-it {
  		color: #cc4e61;
  	}
  	.name {
  		color: #cc4e61;
  	}
  	.heading {
  		font-size: 23px;
  		font-weight: 500;
  		text-align: center;
  		font-family: "Poppins";
  		font-style: normal;
  		line-height: 48px;
  	}

  	@-webkit-keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@-webkit-keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}

  	@keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}
  }
  @media (min-width:1100px) and (max-width:1280px) {
  		.content-sliderBox {
  			width: 100%;
  			height: auto;
  		}

  		.sliderBox {
  			margin: 0px auto;
  			overflow: visible;
  			position: relative;
  			display: grid;
  			grid-template-columns: 1fr auto 1fr;
  			align-items: center;
  		}
  		.sliderBox:before{
  			width:100%;
  			content: "";
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}
  		.sliderBox:after {
  			content: "";
  			/* width:335px;
  			margin-left:45px; */
  			/* width:100%; */
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}

  		.mask {
  			overflow: hidden;
  			height: 44vh;
  			width: 67vw;
  			border: 1px solid #cc4e61;
  			padding: 2%;
  		}

  		.sliderBox ul {
  			margin: 0;
  			padding: 0;
  			position: relative;
  		}

  		.sliderBox li {
  			width: auto;
  			height: auto;
  			position: absolute;
  			/* top: -325px; */
  			list-style: none;
  		}

  		.sliderBox .quote {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 400;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #000000;
  		}

  		.sliderBox .source {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 500;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #cc4e61;
  		}

  		.sliderBox li.anim1 {
  			-webkit-animation: cycle 15s linear infinite;
  			animation: cycle 15s linear infinite;
  		}

  		.sliderBox li.anim2 {
  			-webkit-animation: cycle2 15s linear infinite;
  			animation: cycle2 15s linear infinite;
  		}

  		.sliderBox li.anim3 {
  			-webkit-animation: cycle3 15s linear infinite;
  			animation: cycle3 15s linear infinite;
  		}

  		.sliderBox li.anim4 {
  			-webkit-animation: cycle4 15s linear infinite;
  			animation: cycle4 15s linear infinite;
  		}

  		.sliderBox li.anim5 {
  			-webkit-animation: cycle5 15s linear infinite;
  			animation: cycle5 15s linear infinite;
  		}

  		.sliderBox:hover li {
  			-webkit-animation-play-state: paused;
  			animation-play-state: paused;
  		}

  		.pink-it {
  			color: #cc4e61;
  		}
  		.name {
  			color: #cc4e61;
  		}
  		.heading {
  			font-size: 30px;
  			font-weight: 500;
  			text-align: center;
  			font-family: "Poppins";
  			font-style: normal;
  			line-height: 48px;
  		}

  		@-webkit-keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@-webkit-keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}

  		@keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}
  	}
    @media (min-width:1024px) and (max-width:1100px){
  		.content-sliderBox {
  			width: 100%;
  			height: auto;
  		}

  		.sliderBox {
  			margin: 0px auto;
  			overflow: visible;
  			position: relative;
  			display: grid;
  			grid-template-columns: 1fr auto 1fr;
  			align-items: center;
  		}
  		.sliderBox:before{
  			width:100%;
  			content: "";
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}
  		.sliderBox:after {
  			content: "";
  			/* width:335px;
  			margin-left:45px; */
  			/* width:100%; */
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}

  		.mask {
  			overflow: hidden;
  			height: 75vh;
  			width: 68vw;
  			border: 1px solid #cc4e61;
  			padding: 2%;
  		}

  		.sliderBox ul {
  			margin: 0;
  			padding: 0;
  			position: relative;
  		}

  		.sliderBox li {
  			width: auto;
  			height: auto;
  			position: absolute;
  			/* top: -325px; */
  			list-style: none;
  		}

  		.sliderBox .quote {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 400;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #000000;
  		}

  		.sliderBox .source {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 500;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #cc4e61;
  		}

  		.sliderBox li.anim1 {
  			-webkit-animation: cycle 15s linear infinite;
  			animation: cycle 15s linear infinite;
  		}

  		.sliderBox li.anim2 {
  			-webkit-animation: cycle2 15s linear infinite;
  			animation: cycle2 15s linear infinite;
  		}

  		.sliderBox li.anim3 {
  			-webkit-animation: cycle3 15s linear infinite;
  			animation: cycle3 15s linear infinite;
  		}

  		.sliderBox li.anim4 {
  			-webkit-animation: cycle4 15s linear infinite;
  			animation: cycle4 15s linear infinite;
  		}

  		.sliderBox li.anim5 {
  			-webkit-animation: cycle5 15s linear infinite;
  			animation: cycle5 15s linear infinite;
  		}

  		.sliderBox:hover li {
  			-webkit-animation-play-state: paused;
  			animation-play-state: paused;
  		}

  		.pink-it {
  			color: #cc4e61;
  		}
  		.name {
  			color: #cc4e61;
  		}
  		.heading {
  			font-size: 30px;
  			font-weight: 500;
  			text-align: center;
  			font-family: "Poppins";
  			font-style: normal;
  			line-height: 48px;
  		}
  }
  @media (min-width:800px) and (max-width:1024px){
  		.content-sliderBox {
  			width: 100%;
  			height: auto;
  		}

  		.sliderBox {
  			margin: 0px auto;
  			overflow: visible;
  			position: relative;
  			display: grid;
  			grid-template-columns: 1fr auto 1fr;
  			align-items: center;
  		}
  		.sliderBox:before{
  			width:100%;
  			content: "";
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}
  		.sliderBox:after {
  			content: "";
  			/* width:335px;
  			margin-left:45px; */
  			/* width:100%; */
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}

  		.mask {
  			overflow: hidden;
  			height: 75vh;
  			width: 68vw;
  			border: 1px solid #cc4e61;
  			padding: 2%;
  		}

  		.sliderBox ul {
  			margin: 0;
  			padding: 0;
  			position: relative;
  		}

  		.sliderBox li {
  			width: auto;
  			height: auto;
  			position: absolute;
  			/* top: -325px; */
  			list-style: none;
  		}

  		.sliderBox .quote {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 400;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #000000;
  		}

  		.sliderBox .source {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 500;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #cc4e61;
  		}

  		.sliderBox li.anim1 {
  			-webkit-animation: cycle 15s linear infinite;
  			animation: cycle 15s linear infinite;
  		}

  		.sliderBox li.anim2 {
  			-webkit-animation: cycle2 15s linear infinite;
  			animation: cycle2 15s linear infinite;
  		}

  		.sliderBox li.anim3 {
  			-webkit-animation: cycle3 15s linear infinite;
  			animation: cycle3 15s linear infinite;
  		}

  		.sliderBox li.anim4 {
  			-webkit-animation: cycle4 15s linear infinite;
  			animation: cycle4 15s linear infinite;
  		}

  		.sliderBox li.anim5 {
  			-webkit-animation: cycle5 15s linear infinite;
  			animation: cycle5 15s linear infinite;
  		}

  		.sliderBox:hover li {
  			-webkit-animation-play-state: paused;
  			animation-play-state: paused;
  		}

  		.pink-it {
  			color: #cc4e61;
  		}
  		.name {
  			color: #cc4e61;
  		}
  		.heading {
  			font-size: 30px;
  			font-weight: 500;
  			text-align: center;
  			font-family: "Poppins";
  			font-style: normal;
  			line-height: 48px;
  		}
  }
  @media (min-width:768px) and (max-width:800px){
  		.content-sliderBox {
  			width: 100%;
  			height: auto;
  		}

  		.sliderBox {
  			margin: 0px auto;
  			overflow: visible;
  			position: relative;
  			display: grid;
  			grid-template-columns: 1fr auto 1fr;
  			align-items: center;
  		}
  		.sliderBox:before{
  			width:100%;
  			content: "";
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}
  		.sliderBox:after {
  			content: "";
  			/* width:335px;
  			margin-left:45px; */
  			/* width:100%; */
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}

  		.mask {
  			overflow: hidden;
  			height: 55vh;
  			width: 68vw;
  			border: 1px solid #cc4e61;
  			padding: 2%;
  		}

  		.sliderBox ul {
  			margin: 0;
  			padding: 0;
  			position: relative;
  		}

  		.sliderBox li {
  			width: auto;
  			height: auto;
  			position: absolute;
  			/* top: -325px; */
  			list-style: none;
  		}

  		.sliderBox .quote {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 400;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #000000;
  		}

  		.sliderBox .source {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 500;
  			font-size: 20px;
  			line-height: 168%;
  			text-align: center;
  			color: #cc4e61;
  		}

  		.sliderBox li.anim1 {
  			-webkit-animation: cycle 15s linear infinite;
  			animation: cycle 15s linear infinite;
  		}

  		.sliderBox li.anim2 {
  			-webkit-animation: cycle2 15s linear infinite;
  			animation: cycle2 15s linear infinite;
  		}

  		.sliderBox li.anim3 {
  			-webkit-animation: cycle3 15s linear infinite;
  			animation: cycle3 15s linear infinite;
  		}

  		.sliderBox li.anim4 {
  			-webkit-animation: cycle4 15s linear infinite;
  			animation: cycle4 15s linear infinite;
  		}

  		.sliderBox li.anim5 {
  			-webkit-animation: cycle5 15s linear infinite;
  			animation: cycle5 15s linear infinite;
  		}

  		.sliderBox:hover li {
  			-webkit-animation-play-state: paused;
  			animation-play-state: paused;
  		}

  		.pink-it {
  			color: #cc4e61;
  		}
  		.name {
  			color: #cc4e61;
  		}
  		.heading {
  			font-size: 30px;
  			font-weight: 500;
  			text-align: center;
  			font-family: "Poppins";
  			font-style: normal;
  			line-height: 48px;
  		}

  		@-webkit-keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@-webkit-keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}

  		@keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}
  	}

  @media (min-width:481px) and (max-width:767px){
  		.content-sliderBox {
  			width: 100%;
  			height: auto;
  		}

  		.sliderBox {
  			margin: 0px auto;
  			overflow: visible;
  			position: relative;
  			display: grid;
  			grid-template-columns: 1fr auto 1fr;
  			align-items: center;
  		}
  		.sliderBox:before{
  			width:100%;
  			content: "";
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}
  		.sliderBox:after {
  			content: "";
  			/* width:335px;
  			margin-left:45px; */
  			/* width:100%; */
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}

  		.mask {
  			overflow: hidden;
  			height: 50vh;
  			width: 60vw;
  			border: 1px solid #cc4e61;
  			padding: 2%;
  		}

  		.sliderBox ul {
  			margin: 0;
  			padding: 0;
  			position: relative;
  		}

  		.sliderBox li {
  			width: auto;
  			height: auto;
  			position: absolute;
  			/* top: -325px; */
  			list-style: none;
  		}

  		.sliderBox .quote {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 400;
  			font-size: 16px;
  			line-height: 168%;
  			text-align: center;
  			color: #000000;
  		}

  		.sliderBox .source {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 500;
  			font-size: 16px;
  			line-height: 168%;
  			text-align: center;
  			color: #cc4e61;
  		}

  		.sliderBox li.anim1 {
  			-webkit-animation: cycle 15s linear infinite;
  			animation: cycle 15s linear infinite;
  		}

  		.sliderBox li.anim2 {
  			-webkit-animation: cycle2 15s linear infinite;
  			animation: cycle2 15s linear infinite;
  		}

  		.sliderBox li.anim3 {
  			-webkit-animation: cycle3 15s linear infinite;
  			animation: cycle3 15s linear infinite;
  		}

  		.sliderBox li.anim4 {
  			-webkit-animation: cycle4 15s linear infinite;
  			animation: cycle4 15s linear infinite;
  		}

  		.sliderBox li.anim5 {
  			-webkit-animation: cycle5 15s linear infinite;
  			animation: cycle5 15s linear infinite;
  		}

  		.sliderBox:hover li {
  			-webkit-animation-play-state: paused;
  			animation-play-state: paused;
  		}

  		.pink-it {
  			color: #cc4e61;
  		}
  		.name {
  			color: #cc4e61;
  		}
  		.heading {
  			font-size: 20px;
  			font-weight:bold;
  			text-align: center;
  			font-family: "Poppins";
  			font-style: normal;
  			line-height: 35px;
  		}

  		@-webkit-keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@-webkit-keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}

  		@keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}
  	}
  @media (min-width:320px) and (max-width:480px){
  		.content-sliderBox {
  			width: 100%;
  			height: auto;
  		}

  		.sliderBox {
  			margin: 0px auto;
  			overflow: visible;
  			position: relative;
  			display: grid;
  			grid-template-columns: 1fr auto 1fr;
  			align-items: center;
  		}
  		.sliderBox:before{
  			width:100%;
  			content: "";
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}
  		.sliderBox:after {
  			content: "";
  			/* width:335px;
  			margin-left:45px; */
  			/* width:100%; */
  			display: block;
  			border-top: 2px solid #cc4e61;
  		}

  		.mask {
  			overflow: hidden;
  			height: 47vh;
  			width: 80vw;
  			border: 1px solid #cc4e61;
  			padding: 3%;
  		}

  		.sliderBox ul {
  			margin: 0;
  			padding: 0;
  			position: relative;
  		}

  		.sliderBox li {
  			width: auto;
  			height: auto;
  			position: absolute;
  			/* top: -325px; */
  			list-style: none;
  		}

  		.sliderBox .quote {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 400;
  			font-size: 13px;
  			line-height: 168%;
  			text-align: center;
  			color: #000000;
  		}

  		.sliderBox .source {
  			font-family: "Poppins";
  			font-style: normal;
  			font-weight: 500;
  			font-size: 13px;
  			line-height: 168%;
  			text-align: center;
  			color: #cc4e61;
  		}

  		.sliderBox li.anim1 {
  			-webkit-animation: cycle 15s linear infinite;
  			animation: cycle 15s linear infinite;
  		}

  		.sliderBox li.anim2 {
  			-webkit-animation: cycle2 15s linear infinite;
  			animation: cycle2 15s linear infinite;
  		}

  		.sliderBox li.anim3 {
  			-webkit-animation: cycle3 15s linear infinite;
  			animation: cycle3 15s linear infinite;
  		}

  		.sliderBox li.anim4 {
  			-webkit-animation: cycle4 15s linear infinite;
  			animation: cycle4 15s linear infinite;
  		}

  		.sliderBox li.anim5 {
  			-webkit-animation: cycle5 15s linear infinite;
  			animation: cycle5 15s linear infinite;
  		}

  		.sliderBox:hover li {
  			-webkit-animation-play-state: paused;
  			animation-play-state: paused;
  		}

  		.pink-it {
  			color: #cc4e61;
  		}
  		.name {
  			color: #cc4e61;
  		}
  		.heading {
  			font-size: 20px;
  			font-weight: bold;
  			text-align: center;
  			font-family: "Poppins";
  			font-style: normal;
  			line-height: 32px;
  		}

  		@-webkit-keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@keyframes cycle {
  			0% {
  				top: 0px;
  			}
  			4% {
  				top: 0px;
  			}
  			16% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			20% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			21% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			50% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			92% {
  				top: -325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			96% {
  				top: -325px;
  				opacity: 0;
  			}
  			100% {
  				top: 0px;
  				opacity: 1;
  			}
  		}

  		@-webkit-keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle2 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			16% {
  				top: -325px;
  				opacity: 0;
  			}
  			20% {
  				top: 0px;
  				opacity: 1;
  			}
  			24% {
  				top: 0px;
  				opacity: 1;
  			}
  			36% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			40% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			41% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle3 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			36% {
  				top: -325px;
  				opacity: 0;
  			}
  			40% {
  				top: 0px;
  				opacity: 1;
  			}
  			44% {
  				top: 0px;
  				opacity: 1;
  			}
  			56% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			60% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			61% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@keyframes cycle4 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			56% {
  				top: -325px;
  				opacity: 0;
  			}
  			60% {
  				top: 0px;
  				opacity: 1;
  			}
  			64% {
  				top: 0px;
  				opacity: 1;
  			}
  			76% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			80% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  			81% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  			100% {
  				top: -325px;
  				opacity: 0;
  				z-index: -1;
  			}
  		}

  		@-webkit-keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}

  		@keyframes cycle5 {
  			0% {
  				top: -325px;
  				opacity: 0;
  			}
  			76% {
  				top: -325px;
  				opacity: 0;
  			}
  			80% {
  				top: 0px;
  				opacity: 1;
  			}
  			84% {
  				top: 0px;
  				opacity: 1;
  			}
  			96% {
  				top: 0px;
  				opacity: 1;
  				z-index: 0;
  			}
  			100% {
  				top: 325px;
  				opacity: 0;
  				z-index: 0;
  			}
  		}
  	}

  @media (max-width:319px) and (max-width:480px){
  	.content-sliderBox {
  		width: 100%;
  		height: auto;
  	}

  	.sliderBox {
  		margin: 0px auto;
  		overflow: visible;
  		position: relative;
  		display: grid;
  		grid-template-columns: 1fr auto 1fr;
  		align-items: center;
  	}
  	.sliderBox:before{
  		width:100%;
  		content: "";
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}
  	.sliderBox:after {
  		content: "";
  		/* width:335px;
  		margin-left:45px; */
  		/* width:100%; */
  		display: block;
  		border-top: 2px solid #cc4e61;
  	}

  	.mask {
  		overflow: hidden;
  		height: 50vh;
  		width: 80vw;
  		border: 1px solid #cc4e61;
  		padding: 3%;
  	}

  	.sliderBox ul {
  		margin: 0;
  		padding: 0;
  		position: relative;
  	}

  	.sliderBox li {
  		width: auto;
  		height: auto;
  		position: absolute;
  		/* top: -325px; */
  		list-style: none;
  	}

  	.sliderBox .quote {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 400;
  		font-size: 13px;
  		line-height: 168%;
  		text-align: center;
  		color: #000000;
  	}

  	.sliderBox .source {
  		font-family: "Poppins";
  		font-style: normal;
  		font-weight: 500;
  		font-size: 13px;
  		line-height: 168%;
  		text-align: center;
  		color: #cc4e61;
  	}

  	.sliderBox li.anim1 {
  		-webkit-animation: cycle 15s linear infinite;
  		animation: cycle 15s linear infinite;
  	}

  	.sliderBox li.anim2 {
  		-webkit-animation: cycle2 15s linear infinite;
  		animation: cycle2 15s linear infinite;
  	}

  	.sliderBox li.anim3 {
  		-webkit-animation: cycle3 15s linear infinite;
  		animation: cycle3 15s linear infinite;
  	}

  	.sliderBox li.anim4 {
  		-webkit-animation: cycle4 15s linear infinite;
  		animation: cycle4 15s linear infinite;
  	}

  	.sliderBox li.anim5 {
  		-webkit-animation: cycle5 15s linear infinite;
  		animation: cycle5 15s linear infinite;
  	}

  	.sliderBox:hover li {
  		-webkit-animation-play-state: paused;
  		animation-play-state: paused;
  	}

  	.pink-it {
  		color: #cc4e61;
  	}
  	.name {
  		color: #cc4e61;
  	}
  	.heading {
  		font-size: 20px;
  		font-weight: bold;
  		text-align: center;
  		font-family: "Poppins";
  		font-style: normal;
  		line-height: 32px;
  	}

  	@-webkit-keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@keyframes cycle {
  		0% {
  			top: 0px;
  		}
  		4% {
  			top: 0px;
  		}
  		16% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		20% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		21% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		50% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		92% {
  			top: -325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		96% {
  			top: -325px;
  			opacity: 0;
  		}
  		100% {
  			top: 0px;
  			opacity: 1;
  		}
  	}

  	@-webkit-keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle2 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		16% {
  			top: -325px;
  			opacity: 0;
  		}
  		20% {
  			top: 0px;
  			opacity: 1;
  		}
  		24% {
  			top: 0px;
  			opacity: 1;
  		}
  		36% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		40% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		41% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle3 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		36% {
  			top: -325px;
  			opacity: 0;
  		}
  		40% {
  			top: 0px;
  			opacity: 1;
  		}
  		44% {
  			top: 0px;
  			opacity: 1;
  		}
  		56% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		60% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		61% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@keyframes cycle4 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		56% {
  			top: -325px;
  			opacity: 0;
  		}
  		60% {
  			top: 0px;
  			opacity: 1;
  		}
  		64% {
  			top: 0px;
  			opacity: 1;
  		}
  		76% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		80% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  		81% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  		100% {
  			top: -325px;
  			opacity: 0;
  			z-index: -1;
  		}
  	}

  	@-webkit-keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}

  	@keyframes cycle5 {
  		0% {
  			top: -325px;
  			opacity: 0;
  		}
  		76% {
  			top: -325px;
  			opacity: 0;
  		}
  		80% {
  			top: 0px;
  			opacity: 1;
  		}
  		84% {
  			top: 0px;
  			opacity: 1;
  		}
  		96% {
  			top: 0px;
  			opacity: 1;
  			z-index: 0;
  		}
  		100% {
  			top: 325px;
  			opacity: 0;
  			z-index: 0;
  		}
  	}
  }
</style>
<div class="content-sliderBox">
  <div class="sliderBox">
    <div class="mask">
      <div class="heading">
        <p>
          <span class="pink-it">100+ 5-Star</span><span style="font-weight:bold; color:#4a4a4a;"> Reviews From</span> <span class="pink-it">Women</span><span style="font-weight:bold; color:#4a4a4a;"> All Over The World</span> 
        </p>
      </div>
      <ul>
        <li class="anim1">
          <div class="quote">
           'This morning I received photo and feedback that a customer never had (in last few years) perfect skin colour as of today, since using the R&R gel. She is absolutely overwhelmed!'
          </div>
          <div class="source">-Dermatologist in Harley Street, London</div>
        </li>
        <li class="anim2">
          <div class="quote">
            'I honestly don't remember the last time my face was uniform in colour and it was the same colour after the gym! and after a shower - no redness! OMG it is so wonderful
          </div>
          <div class="source">-- it works!' TV presenter, London</div>
        </li>
        <li class="anim3">
          <div class="quote">
            'Guys you are in the top ten trending on 17 different hashtags. Honestly this only ever happened like once in seven years! I'm so happy!'
          </div>
          <div class="source">-Nathalie, make-up artist and influencer </div>
        </li>
        <li class="anim4">
          <div class="quote">
            I thought I'd tried everything to reduce my dark spots. All my friends and family have been commenting on my skin and how good it looks. I've never had that before, it makes me feel amazing!'..
          </div>
          <div class="source">-Jane </div>
        </li>
      
          <li class="anim5">
          <div class="quote">
           'After using the R&R gel for a month, I can already see my scars fading and my skin is getting better. I have been waiting a long time to be able to purchase an acne treatment that finally works!..
          </div>
          <div class="source">-Jade</div>
        </li>
          <li class="anim6">
          <div class="quote">
           ''I have suffered from acne since I was a teenager. I thought at 34 I'd finally figured out and my skin was clear, but then life happened, stress, and I got pregnant. My face went crazy. It was the worst breakout I've ever had in my life. And it lasted for months. That's when I found the Recovery & Repair gel! I was desperate and ready to try anything and everything. This is the only product that has helped calm my skin down drastically.'..
          </div>
          <div class="source">-Naomi</div>
        </li>
          <li class="anim7">
          <div class="quote">
           ''I thought for sure, when I opened it, this would be a disaster for my sensitive skin. I was WRONG. It feels amazing on my skin and causes no problems. It makes my skin so soft and hydrated.' Meredith'I had really bad dark patches over my skin and I tried everything going, nothing worked. I tried Seacra and wow, fantastic, the difference in my skin after a week has changed already. So happy and I will buy again.'..
          </div>
          <div class="source">-Tracy B.</div>
        </li>
          <li class="anim8">
          <div class="quote">
           ''Try it. Great product. Already see a difference in my skin. Sunspots minimised, lines more blurred. No residue and non-sticky.''..
          </div>
          <div class="source">-Gaynor M.</div>
        </li>
          <li class="anim9">
          <div class="quote">
         'Really nice and skin drinks it in...
          </div>
          <div class="source">-Geraldine B.</div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Carousel-reviews",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "Carousel-reviews",
      "blocks": []
    }
  ]
}
{% endschema %}
