{%- for block in section.blocks -%}
            <div class="testimonial__preview">
              <blockquote class="testimonial__blockquote">
                {%- if block.settings.icon != 'none' -%}
                  {%- if block.settings.icon == 'quote' -%}
                    <div class="quote-icon"><svg aria-hidden="true" focusable="false" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="currentColor" fill-rule="evenodd"/></svg></div>
                  {%- else -%}
                    <div class="rating" role="img">
                      <span aria-hidden="true" class="rating-star" style="--rating: {{ block.settings.icon }};--rating-max: 5;--rating-decimal: 0;"></span>
                    </div>
                  {%- endif -%}
                {%- endif -%}

                {%- if block.settings.text != blank -%}
                  <div class="rte typeset2">{{ block.settings.text }}</div>
                {%- endif -%}

                {%- if block.settings.author != blank -%}
                  <cite class="testimonial__author">{{ block.settings.author | escape }}</cite>
                {%- endif -%}
              </blockquote>
            </div>
          {%- endfor -%}