<!-- Link Swiper's CSS -->
<link
  rel="stylesheet"
  href="{{ 'swiper-bundle.min.css' | asset_url }}"
>
<link
  rel="stylesheet"
  href="{{ 'prod_bundle.css' | asset_url }}"
>
<!-- Demo styles -->
<style></style>
<!-- Swiper -->
<div class="prod-bundle">
  <div class="swiper myBundleSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sub-section">
          <img
            class="first-one-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0027_1.jpg?v=1671623511"
          >
          <div style="line-height: 0.5">
            <h2 style="color: #cc4e61; font-size: larger;">Recovery & Repair Gel 30ml</h2>
            <p style="color: #cc4e61">Clinically proven Acne & Rosacea gel</p>
            <p style="color: #FFCD4E;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #cc4e61">(102 Reviews)</span>
            </p>
          </div>
          <div style="display: flex;flex-direction: row; ">
            <a style="margin: 0 2%;" class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a style="margin: 0 2%;" class="button" href="/cart/44189675618615:1 ">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sub-section">
          <img
            class="first-two-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image51cc062b8e3b74d772625099724fbb99cfdc9a0e178e1a1807d205415441991f_1.jpg?v=1671623510"
          >
          <div style="line-height: 0.5">
            <h2 style="color: #cc4e61; font-size: larger;">Recovery & Repair Gel 30ml</h2>
            <p style="color: #cc4e61">Clinically proven Acne & Rosacea gel</p>
            <p style="color: #FFCD4E;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #cc4e61">(102 Reviews)</span>
            </p>
          </div>

          <div style="display: flex;flex-direction: row; margin: 0 2%">
            <a style="margin: 0 2%;" class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a style="margin: 0 2%;" class="button" href="/cart/44193948336439:1">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sub-section" style="    margin-right: -10%;">
          <img
            class="first-one-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Mixed_Berries_Bottle_-9650_2.jpg?v=1671623512"
          >
          <div style="line-height: 0.5">
            <h2 style="color: #cc4e61">Glow Shot - Elderflower</h2>
            <p style="color: #cc4e61">Daily Collagen Drink</p>
            <p style="color: #ffcd4e">
              <span class="stars" style="color: #ffcd4e">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span>(102 Reviews)</span>
            </p>
          </div>
          <a style="background-color: #cc4e6170" class="button" href="/products/recovery-repair-gel-30ml"
            >Out of Stock</a
          >
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sub-section" style="    margin-right: -10%;">
          <img
            class="first-two-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Elderflowr_Bottle-9680_2.jpg?v=1671623512"
          >
          <div style="line-height: 0.5">
            <h2 style="color: #cc4e61">Glow Shot - Mixed Berry</h2>
            <p style="color: #cc4e61">Daily Collagen Drink</p>
            <p style="color: #cc4e61">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>(102 Reviews)</span>
            </p>
          </div>
          <a style="background-color: #cc4e6170" class="button" href="/products/recovery-repair-gel-30ml"
            >Out of Stock</a
          >
        </div>
      </div>
    </div>
    <div class="swiper-button-next">.</div>
    <div class="swiper-button-prev">.</div>
  </div>
</div>

<!-- Swiper JS -->
<script src="{{ "swiper-bundle.min.js" | asset_url }}"></script>
<script src="{{ "prod_bundle.js" | asset_url }}"></script>

{% schema %}
{
  "name": "Home Prod Slider",
  "settings": [],
  "presets": [
    {
      "name": "Home Prod Slider"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
