<!-- Link Swiper's CSS -->
<link
  rel="stylesheet"
  href="{{ 'swiper-bundle.min.css' | asset_url }}"
>
<link
  rel="stylesheet"
  href="{{ 'product_bundle.css' | asset_url }}"
>
<!-- Demo styles -->
<style></style>
<!-- Swiper -->
<div class="product-bundle">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sub-section" style="    margin-right: -10%;">
          <img
            class="first-one-one"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0027_1.jpg?v=1671623511"
          >
          <div style="color: #cc4e61;">
            <h2>Recovery & Repair Gel 30ml</h2>
            <p>Clinically proven Acne & Rosacea gel</p>
            <p class="slideshow-stars">
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span>(102 Reviews)</span>
            </p>
          </div>
          <div style="display: flex;flex-direction: row; margin: 0 2%">
            <a class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a class="button" href="/cart/recovery-repair-gel-30ml">Add to Cart</a>
          </div>
        </div>
        -->
        <div class="sub-section">
          <img
            class="first-one-two"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image51cc062b8e3b74d772625099724fbb99cfdc9a0e178e1a1807d205415441991f_1.jpg?v=1671623510"
          >
          <div style="color: #cc4e61;">
            <h2 style="color: #cc4e61">Recovery & Repair Gel 30ml</h2>
            <p>Clinically proven Acne & Rosacea gel</p>
            <p class="slideshow-stars">
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span class="stars">&#9733;</span>
              <span>(102 Reviews)</span>
            </p>
          </div>

          <div style="display: flex;flex-direction: row; margin: 0 2%">
            <a class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a class="button" href="/cart/recovery-repair-gel-30ml">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sub-section" style="    margin-right: -10%;">
          <img
            class="first-one-one"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Mixed_Berries_Bottle_-9650_2.jpg?v=1671623512"
          >
          <a class="button" href="/products/recovery-repair-gel-30ml">Out of Stock</a>
        </div>
        -->
        <div class="sub-section">
          <img
            class="first-one-two"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Elderflowr_Bottle-9680_2.jpg?v=1671623512"
          >
          <a class="button" href="/products/recovery-repair-gel-30ml">Out of Stock</a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next">.</div>
    <div class="swiper-button-prev">.</div>
  </div>
</div>

<!-- Swiper JS -->
<script src="{{ "swiper-bundle.min.js" | asset_url }}"></script>
<script src="{{ "product_bundle.js" | asset_url }}"></script>

{% schema %}
{
  "name": "Home Prod Slider",
  "settings": [],
  "presets": [
    {
      "name": "Home Prod Slider"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
