<link rel="stylesheet" href="{{ "infinte_scroll.css" | asset_url }}">
<!-- partial:index.partial.html -->
<div class="infinite-scroll">
  <div class="gallery-scroll">
    <ul class="cards">
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        2
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
      <li>
        3
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </li>
    </ul>
    <div class="actions">
      <button class="prev"></button>
      <button class="next"></button>
    </div>
  </div>
</div>
<!-- partial -->
<script src='{{ 'gsap.min.js' | asset_url }}'></script>
<script src='{{ 'ScrollTrigger.min.js' | asset_url }}''></script>
<script src="{{ 'infinte_scroll.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Infinity Scroll",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Infinity Scroll",
      "blocks": []
    }
  ]
}
{% endschema %}
