<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="stylesheet" href="{{ 'ingredients-animations.css' | asset_url }}">

<!-- partial:index.partial.html -->
<div class="cont">
  <div class="sec-1">
    <section class="game-section">
      <div class="owl-carousel custom-carousel owl-theme">
        <div class="item" data-hash="zero">
          <div class="img-item" style="background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/1_30.jpg?v=1672308453); background-position: right;"> </div>
          <div class="item-desc">
            <h3>Red Algae</h3>
            <p>Your Skin's Superfood</p>
          </div>
        </div>
        <div class="item" data-hash="one">
          <div class="img-item" style="background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Jojoba-Oil-benefits-1170x1560-1_1.jpg?v=1672300952);  background-position: bottom;">
          </div>
          <div class="item-desc">
            <h3>Jojoba</h3>
            <p>Repairing Agent</p>

          </div>
        </div>
        <div class="item" data-hash="two">
          <div class="img-item" style="background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/how-to-grow-chamomile-1402627-02-crop-9b5069a36d234b089b4a8d51be686493_1.jpg?v=1672300630);  background-position: center;">
          </div>
          <div class="item-desc">
            <h3>Chamomile</h3>
            <p>A Natural Stress Reliever</p>

          </div>
        </div>
        <div class="item" data-hash="tree">
          <div class="img-item" style="background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Rectangle_32.jpg?v=1672299940);  background-position: center;">
          </div>
          <div class="item-desc">
            <h3>Calendula</h3>
            <p>Skin Regenerator</p>
          </div>
        </div>
      </div>

    </section>
  </div>
  <div class="sec-2">
    <div class="slider2 owl-carousel owl-theme">
      <div  class="text-item" data-hash="zero">
        <div class="ingred-content">
          <div class="head-content"><h1> .1 </h1><h1 class="para-content">Protect & Hydrate </h1>
          </div>
          <br>
          <br>
          <br>
          <h2> Red Algae </h2>
          <h1 class="underlined"> Your skin's superfood </h1>
          <p>Red Algae is known as a skin protector and beautifier. It is a natural skincare ingredient that hydrates your skin and helps maintain its natural elasticity.<br><br>
          The unique properties of Red Algae are ideal for sensitive skin, flaky skin and sun damaged skin as it works to balance out mineral production which promotes skin hydration and ultimate protection.<br> <br>Red Algae is a natural remedy for skin disorders such as eczema, acne and rosacea. It improves skin firmness, smoothness and skin tone. As an effective solution for skin irritations and skin redness, red algae helps moisturize the skin and restore its balance, as it also reduce fine lines, expression wrinkles and hyperpigmentation.
          </p>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div  class="text-item" data-hash="one">
        <div class="ingred-content">
          <div class="head-content"><h1> .2 </h1><h1 class="para-content">Moisturize & Repair </h1>
          </div>
          <br>
          <br>
          <br>
          <h2> Jojoba </h2>
          <h1 class="underlined"> Repairing Agent </h1>
          <p>Jojoba is the key to healthier and youthful skin,. Rich in vitamins and infused with antitoxidant,
            anti-bacterial and anti-inflammatory properties, Jajoba controls sebum and repair skindamage.
            It helps cure severes sunburn, healing it much faster than would ordinarily occur.
          </p>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div  class="text-item"data-hash="two">
        <div class="ingred-content">
          <div class="head-content"><h1> .3 </h1><h1 class="para-content">Soften & Detoxify </h1>
          </div>
          <br>
          <br>
          <br>
          <h2> Chamomile </h2>
          <h1 class="underlined">
            A Natural Stress Reliver
          </h1>
          <p>
            Stress can accelerate the aging process, causing the appearance of fine lines, wrinkles and blemishes.
            Chamomile protects skin from free radical damage, soothes skin irritation and treats minor skin problems such as eczema,
            dry skin and roughness. People with sensitive skin can experience relief from chamomile's anti-inflammatory and healing
            properties. Chamomile is known as a natural remedy for lightening skin and preventing acne. It can brighten the skin,
            fade acne scars and hyper pigmentation by acting as a natural bleaching agent. Its anti-inflammatory compounds within
            our gel kills bacteria, fades red spots and heals skin wounds.
          </p>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div  class="text-item"data-hash="tree">
        <div class="ingred-content">
          <div class="head-content"><h1> .4 </h1><h1 class="para-content">Soothe & Regenerate</h1>
          </div>
          <br>
          <br>
          <br>
          <h2> Calendula </h2>
          <h1 class="underlined">Skin Regenerator</h1>
          <p>It is not surprising that Calendula - a plant known for its healing and soothing properties, can actually help your skin resist early signs of ageing including dullness, dryness, fine lines, and uneven skin tone and its texture. Enriched with antioxidant compounds Calendula helps soothe extremely dry, irritated skin and reduce discomfort. It heals fungal infections, rashes, sunburns, and speeds up cell regeneration. And since calendula is such a gentle ingredient, it's also an ideal botanical to have on hand for those with sensitive skin.
          </p>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <a href="#" class="next-button">
      <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.61651e-07 22C-4.30557e-07 34.15 9.85 44 22 44C34.15 44 44 34.15 44 22C44 9.85 34.15 -1.49274e-06 22 -9.61651e-07C9.85 -4.30557e-07 -1.49274e-06 9.85 -9.61651e-07 22ZM17.586 28.586C17.2217 28.9632 17.0201 29.4684 17.0247 29.9928C17.0292 30.5172 17.2395 31.0188 17.6104 31.3896C17.9812 31.7605 18.4828 31.9708 19.0072 31.9753C19.5316 31.9799 20.0368 31.7783 20.414 31.414L28.414 23.414C28.7889 23.0389 28.9996 22.5303 28.9996 22C28.9996 21.4697 28.7889 20.9611 28.414 20.586L20.414 12.586C20.0368 12.2217 19.5316 12.0201 19.0072 12.0246C18.4828 12.0292 17.9812 12.2395 17.6104 12.6104C17.2395 12.9812 17.0292 13.4828 17.0247 14.0072C17.0201 14.5316 17.2217 15.0368 17.586 15.414L24.172 22L17.586 28.586Z" fill="#CC4E61"></path>
      </svg>
    </a>
  </div>
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script src="{{ 'ingredients-animations.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Ingredients Animation",
    "settings": [],
    "presets": [
      {
        "name": "Ingredients Animation",
        "blocks": []
      }
    ]
  }
{% endschema %}