 <ul class="section">
        <!-- <li>
          <a href="#" class="section-link hover-link">hover me</a>
        </li> -->
        <li>
          <h2>Natural Rosacea Treatment</h2>
          <p>
            1. It doesn’t damage your skin, naturally improves the production of
            cells in a healthy way 
            <br />
            2. Astaxanthin is a powerful antioxidant, so it naturally improves the
            make-up of your cells
            <br/>
            3. No physical effects other than adding a spring to your step
            <br/>
            4. 100% natural, so there are no side-effects
            <br/>
            5. Working to improve the production of 
            healthy cells so when you stop,
             your cells are in a better position
          </p>
          <!-- <a href="#" class="section-link cyan color-cyan hover-link"
            >Positive</a -->
          
        </li>
        <li>
          <h2>Prescribed Rosacea Treatment</h2>
          <p>
            1. Beta blockers and niacin cause blood 
            dilation and rosacea flare-ups
            <br/>
            2. Aggressively targets your skin causing dryness, irritation and sensitivity
            <br/>
            3. Causes physical affects such as indigestion, bloating, diarrhoea and sickness
            <br/>
            4. Cannot be used for a long-period without extreme side-effects
            <br/>
            5. Not sustainable. When you stop using the treatment, your Rosacea returns
          </p>
          <!-- <a href="#" class="section-link red hover-link">Negative</a> -->
        </li>
      </ul>

      <div class="cursor" id="cursor"></div>
      <div class="cursor2" id="cursor2"></div>

      <!-- Link to page
	================================================== -->

      <a
        href="https://themeforest.net/user/ig_design/portfolio"
        class="link-to-portfolio hover-link"
        target="”_blank”"
      ></a>