<!-- Link Swiper's CSS -->
<link
  rel="stylesheet"
  href="{{ 'swiper-bundle.min.css' | asset_url }}"
>
<link
  rel="stylesheet"
  href="{{ 'product_bundle.css' | asset_url }}"
>
<!-- Demo styles -->
<style></style>
<!-- Swiper -->
<div class="product-bundle">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sub-section">
          <img
            class="first-one-one"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1431_1.jpg?v=1671195824"
          >
          <a class="button" href="#">Glow From Outside</a>
        </div>
        <div class="sub-section">
          <img
            class="first-one-two"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1439.jpg?v=1671195826"
          >
          <a class="button" href="#">Glow From Outside</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sub-section">
          <img class="big-one" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1432.jpg?v=1671195825">
          <a class="button" href="#">Glow From Outside</a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1437.jpg?v=1671195897">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1438.jpg?v=1671195896">
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1428.jpg?v=1671195896">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1427.jpg?v=1671195896">
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1433.jpg?v=1671195896">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1429.jpg?v=1671195896">
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1434.jpg?v=1671195897">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1436.jpg?v=1671195896">
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1435.jpg?v=1671195896">
      </div>
    </div>
    <div class="swiper-button-next">.</div>
    <div class="swiper-button-prev">.</div>
  </div>
</div>

<!-- Swiper JS -->
<script src="{{ "swiper-bundle.min.js" | asset_url }}"></script>
<script src="{{ "product_bundle.js" | asset_url }}"></script>

{% schema %}
{
  "name": "Prdocut Bundle",
  "settings": [],
  "presets": [
    {
      "name": "Product Bundle"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
