<!-- Link Swiper's CSS -->
<link
  rel="stylesheet"
  href="{{ 'swiper-bundle.min.css' | asset_url }}"
>
<link
  rel="stylesheet"
  href="{{ 'product_bundle.css' | asset_url }}"
>
<!-- Demo styles -->
<style></style>
<!-- Swiper -->
<div class="product-bundle">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
<!--       <div class="swiper-slide">
        <div class="sub-section" style="    margin-right: -10%;">
          <img
            class="first-one-one"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1474.png?v=1671623731"
          >
          <a class="button" href="#">Glow From Outside</a>
        </div> 
        <div class="sub-section">
           <img
            class="first-one-two"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1475.jpg?v=1671623731"
          > 
           <a class="button" href="#">Glow From Outside</a>
        </div> 
        <div class="sub-section">
           <img
            class="first-one-two"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1439_2.png?v=1671610840"
          > 
           <a class="button" href="#">Glow From Outside</a>
        </div> 
      </div> -->
<!--       <div class="swiper-slide"> -->
<!--         <div class="sub-section">
          <img class="big-one" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1432.jpg?v=1671195825">
          <a class="button" href="#">Glow From Outside</a>
        </div> -->
<!--       </div>  -->
      <div class="swiper-slide">
        <div class="sub-section">
          <img class="first-one-one" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1474.png?v=1671623731">
          <a class="button" href="#">Add to Cart</a>
        </div> 
        <div class="sub-section">
           <img class="first-one-two" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1475.jpg?v=1671623731">
           <a class="button" href="#">Add to Cart</a>
        </div> 
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1484.png?v=1671623731" <a class="button" href="#">Add to Cart</a>>
      
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1421.jpg?v=1671623731">
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1479.jpg?v=1671624916">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1478.jpg?v=1671623731">
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1477.jpg?v=1671624916">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1476.jpg?v=1671623730">
      </div>
     
    </div>
    <div class="swiper-button-next">.</div>
    <div class="swiper-button-prev">.</div>
  </div>
</div>

<!-- Swiper JS -->
<script src="{{ "swiper-bundle.min.js" | asset_url }}"></script>
<script src="{{ "product_bundle.js" | asset_url }}"></script>

{% schema %}
{
  "name": "Prdocut Bundle",
  "settings": [],
  "presets": [
    {
      "name": "Product Bundle"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
