<link rel="stylesheet" href="{{ "swiper1.css" | asset_url }}">
<link rel="stylesheet" href="{{ "rr-refill.css" | asset_url }}">
<!-- partial:index.partial.html -->
<div class="infinite-scroll">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide cards">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </div>
      <div class="swiper-slide cards">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </div>
      <div class="swiper-slide cards">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </div>
      <div class="swiper-slide cards">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </div>
      <div class="swiper-slide cards">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </div>
      <div class="swiper-slide cards">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4b96f762-3f7a-41fb-bc65-d7f4bbe821e2.png?v=1671474083">
        </div>
        <div class="author-heading">
          <h3>Dermatologist</h3>
          <p>Harley Street, London</p>
          <span> </span>
        </div>
        <div class="text-content">
          <span><i>"</i></span>
          <span
            >This morning I received photo and feedback that a customer never had (in last few years) perfect skin
            colour as of today, since using the R&R gel. She is absolutely overwhelmed!</span
          >
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
  </div>
</div>
<!-- partial -->
<script src="{{ 'swiper.js' | asset_url }}"></script>
<script src="{{ 'infinte_scroll.js' | asset_url }}"></script>

{% schema %}
{
  "name": "rr-refill Scroll",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "rr-refill Scroll",
      "blocks": []
    }
  ]
}
{% endschema %}
