
    <style>
@media (min-width:1375px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }

    @media(min-width:1281px) and (max-width:1374px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:1025px) and (max-width:1280px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:768px) and (max-width:1024px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:481px) and (max-width:767px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:320px) and (max-width:480px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }

    </style>

    <section>
      <div id="grid">
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_726_1_de566029-18da-44c5-980b-067eb379e026.png?v=1671779674"
        />
        <div class="hero-text">
          <h1 class="science_txt">
            The Science
            <br />
            <span style="color: #4a4a4a">Behind Red Algae</span>
          </h1>
          <p class="science__sec_p">
            Using cutting-edge scientific technology, we’ve extracted nature’s
            most powerful antioxidant, and the skincare world’s most coveted
            ingredient, that’s remained largely inaccessible in its most potent
            form since its evolution.
            <br />
            <b>The results have been life-changing.</b>
          </p>
          <a href="https://seacra-dev.myshopify.com/collections/all"
            ><button>Shop now</button></a
          >
        </div>
      </div>
    </section>
