

.benifits__column {
  float: left;
/*   width:26%; */
  width: 23%;
/*   padding: 10px; */
  height: 300px; 
  position: relative;
  text-align:center;
  justify-content:center;
  margin-left: 15rem;
}

.benifits_row:after {
  content: "";
  display: table;
  clear: both;
}
.benifits__column .images {
 text-align:center;
}

.benifits__column .benifitsP{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #CC4E61;
}
.benifits__column .benifits__H{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168%;
    color: #4A4A4A;
}
 @media only screen and (min-width:769px) and (max-width:1200px) {
   .benifits__column {
   width:22%;
/*    margin-left:0rem; */
   }
 }
@media only screen and (min-width:1201px) and (max-width:1499px) {
   .benifits__column {
   width:22%;
/*    margin-left:0rem; */
   }
 }
@media screen and (max-width: 768px) {
  .benifits__column {
    width: 50%;
    margin-left:0rem;
        margin-bottom: -10rem;

  }
  .benifits__column .images img{
        width: 31%;
/*     width:35px; */
/*     height:29px; */
  }
  .benifits__column .benifitsP{
    font-size: 10px;
    font-weight:bold;
  }
  .benifits__column .benifits__H{
    font-size: 10px;
    
  }
}