
@media (min-width: 1281px) {
  .benifits_row{
    padding:0px 130px;
    justify-content:center;
  }
.benifits__column {
  float: left;
  width: 33%;
  padding: 0px 110px;
  height: 300px; 
  position: relative;
  text-align:center;
  justify-content:center;
}
  .benifits__column .second_benifit{
    margin-top:2rem;
  }
 .benifits__column .third_benifit{
    margin-top:-11px;
  }
 .benifits__column .sixth_benifit{
    margin-top:0px;
  }
.benifits_row:after {
  content: "";
  display: table;
  clear: both;
}
.benifits__column .images {
 text-align:center;
}

.benifits__column .benifitsP{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #CC4E61;
}
.benifits__column .benifits__H{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168%;
    color: #4A4A4A;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .benifits_row{
    padding:0px 50px;
    justify-content:center;
  }
.benifits__column {
  float: left;
  width: 33%;
  padding: 0px 10px;
  height: 280px; 
  position: relative;
  text-align:center;
  justify-content:center;
}
  .benifits__column .second_benifit{
    margin-top:2rem;
  }
 .benifits__column .third_benifit{
    margin-top:-11px;
  }
 .benifits__column .sixth_benifit{
    margin-top:0px;
  }
.benifits_row:after {
  content: "";
  display: table;
  clear: both;
}
.benifits__column .images {
 text-align:center;
}

.benifits__column .benifitsP{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #CC4E61;
}
.benifits__column .benifits__H{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168%;
    color: #4A4A4A;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .benifits_row{
    padding:0px 50px;
    justify-content:center;
  }
.benifits__column {
  float: left;
  width: 33%;
  padding: 0px 10px;
  height: 280px; 
  position: relative;
  text-align:center;
  justify-content:center;
}
  .benifits__column .second_benifit{
    margin-top:-5px;
  }
 .benifits__column .third_benifit{
    margin-top:-16px;
  }
 .benifits__column .sixth_benifit{
    margin-top:-6px;
  }
.benifits_row:after {
  content: "";
  display: table;
  clear: both;
}
.benifits__column .images {
 text-align:center;
}
  .benifits__column .images img{
        width: 26%;
  }
.benifits__column .benifitsP{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #CC4E61;
}
.benifits__column .benifits__H{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168%;
    color: #4A4A4A;
}
}

@media (min-width: 481px) and (max-width: 767px) {
  .benifits_row{
    padding:0px 26px;
    justify-content:center;
  }
.benifits__column {
  float: left;
  width: 50%;
  padding: 0px 10px;
  height: 200px; 
  position: relative;
  text-align:center;
  justify-content:center;
}
  .benifits__column .second_benifit{
    margin-top:-5px;
  }
 .benifits__column .third_benifit{
    margin-top:-8px;
  }
 .benifits__column .sixth_benifit{
    margin-top:-6px;
  }
.benifits_row:after {
  content: "";
  display: table;
  clear: both;
}
.benifits__column .images {
 text-align:center;
}
  .benifits__column .images img{
        width: 26%;
  }
.benifits__column .benifitsP{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    color: #CC4E61;
}
.benifits__column .benifits__H{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 168%;
    color: #4A4A4A;
}
}
@media (min-width: 320px) and (max-width: 480px) {
  .benifits_row{
    padding:0px 16px;
    justify-content:center;
  }
.benifits__column {
  float: left;
  width: 50%;
  padding: 0px 10px;
  height: 200px; 
  position: relative;
  text-align:center;
  justify-content:center;
}
  .benifits__column .second_benifit{
    margin-top:-5px;
  }
 .benifits__column .third_benifit{
    margin-top:-6px;
  }
 .benifits__column .sixth_benifit{
    margin-top:-3px;
  }
.benifits_row:after {
  content: "";
  display: table;
  clear: both;
}
.benifits__column .images {
 text-align:center;
}
  .benifits__column .images img{
        width: 26%;
  }
.benifits__column .benifitsP{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    color: #CC4E61;
}
.benifits__column .benifits__H{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 168%;
    color: #4A4A4A;
}
}
@media (max-width:319px){
  .benifits_row{
    padding:0px 16px;
    justify-content:center;
  }
.benifits__column {
  float: left;
  width: 50%;
  padding: 0px 10px;
  height: 200px; 
  position: relative;
  text-align:center;
  justify-content:center;
}
  .benifits__column .second_benifit{
    margin-top:-5px;
  }
 .benifits__column .third_benifit{
    margin-top:-6px;
  }
 .benifits__column .sixth_benifit{
    margin-top:-3px;
  }
.benifits_row:after {
  content: "";
  display: table;
  clear: both;
}
.benifits__column .images {
 text-align:center;
}
  .benifits__column .images img{
        width: 24%;
  }
.benifits__column .benifitsP{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    color: #CC4E61;
}
.benifits__column .benifits__H{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 168%;
    color: #4A4A4A;
}
}
