.section-header-red {
  position: relative;
/*   display: flex; /* sets a flex container */ */
  align-items: center; /* aligns vertically */
  left: 179px;
/*   position: relative; */
  }

  .section-header-red .quote-red {
  font-size: calc(0.5em + 1vmin);
  color: #4a4a4a;
  padding-top: 4vh;
}
.section-header-red .quoted-red{
  display: flex;
  flex-direction: row;
}
.section-header-red .quoted-apostrophies  {
  font-size: 6vh;
  color: #cc4e61;
}
.section-header-red .boxed-heading-red {
    font-size: calc(1.3em + 1vmin);
    margin-top: 4%;
    font-weight: 600;
    top: -31px;
    position: relative;
}

.section-header-red .colored {
  color: #cc4e61
}
/* p {
  color: white;
  font-size: 20px;
} */
.section-header-red .p1 {
  color: #cc4e61;
  font-size: calc(0.4em + 1vmin);
  /* display: flex; */
}

  .section-header-red::before,
  .section-header-red::after {
    border-top: 7px solid #4a4a4a;
    display: block;
/*     opacity:0.17 */
    height: 1px;
    content: " ";
    width: 81%;
    border-radius: 10px;
    border: 1px solid #4A4A4A;

  }
  .quotes-red {
  border-color: #cc4e61;
  border-style: solid;
  border-radius: 0.5vw;
  padding: 0.3em 0.8em;
  display: inline-block;
}
  .no-quotes {
  padding: 10vh;
}

  .text-center {
    text-align: center !important;
  }
  .section-header-red .or {
  height: 12rem;
    top: -14rem;
/*   left:40px; */
    position: relative;
    border-right: 1px solid #aaa;
  text-align:center;
  justify-content:center;
}

  .section-header-red .or-line {
  border-right: 1px solid #aaa;
  height: 11em;
  text-align: center;
    justify-content: center;
}
 @media screen and (max-width: 768px) {
    .boxed-heading-red {
      width: 100%;
      margin-left:-9px;
    }
   .section-header-red .boxed-heading {
    font-size: calc(1.03em + 0.32vmin);
    margin-top: 28%;
    font-weight: 600;
    top: -40px;
    position: relative;
    left: 11px;
}
 }
     