.section-header-red {
  position: relative;
/*   display: flex; /* sets a flex container */ */
  align-items: center; /* aligns vertically */
  left: 179px;
/*   position: relative; */
  }

  .section-header-red .quote-red {
  font-size: calc(0.5em + 1vmin);
  color: #4a4a4a;
  padding-top: 20vh;
}
.section-header-red .quoted-red{
  display: flex;
  flex-direction: row;
}
.section-header-red .quoted-apostrophies  {
  font-size: 6vh;
  color: #cc4e61;
}
.section-header-red .boxed-heading-red {
    font-size: calc(1.3em + 1vmin);
    margin-top: 4%;
    font-weight: 600;
    top: -31px;
    position: relative;
}

.section-header-red .colored {
  color: #cc4e61
}
/* p {
  color: white;
  font-size: 20px;
} */
.section-header-red .p1 {
  color: #cc4e61;
  font-size: calc(0.4em + 1vmin);
  /* display: flex; */
}

  .section-header-red::before,
  .section-header-red::after {
/*     border-top: 7px solid #4a4a4a;  */
    display: block;
    opacity: 0.17px;
    content: " ";
    width: 81%;
    padding: 0px 0px; 
    border-radius: 10px; 
    border: 1px solid #4A4A4A;
  }
  .quotes-red {
  border-color: #cc4e61;
  border-style: solid;
  border-radius: 0.5vw;
  padding: 0.3em 0.8em;
  display: inline-block;
}
  .no-quotes {
  padding: 10vh;
}

  .text-center {
    text-align: center !important;
  }

/* .or {
  height: 6em;
    top: -8rem;
    position: relative;
    height: 6em;
    border-right: 1px solid #aaa;
}

.or-line {
  border-right: 1px solid #aaa;
  height: 6em;
} */

 .blogkey_line{
    padding:0px 42px;
  }
.blog_column {
/*     float: left; */
  width:50%;
  padding: 0px 44px; 
  }

  .blogke_liney:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:0rem;
}

  .blog_column button {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #CC4E61;
  }
 
.or {
  height: 6rem;
    position: relative;
    border-right: 1px solid #aaa;
    text-align: center;
    justify-content: center;
    left: -131px;
    position: relative;
    top:9px;
}

.or-line {
  border-right: 1px solid #aaa;
  height: 11em;
  text-align: center;
    justify-content: center;
}
 .blogbutton1{
/*     background: #CC4E61; */
    border-radius: 63px;
    padding: 7px 23px;
    top: -38px;
    position: relative;
    text-align: center;
    color: #CC4E61;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    left: 755px;
  }
 @media screen and (max-width: 768px) {
   .blog_column {
  width:100%;
  padding: 0px 30px; 
  }
  
    .boxed-heading-red {
      width: 100%;
      margin-left:-9px;
    }
   .section-header-red::before {
/*     border-top: 7px solid #4a4a4a;  */
   display: block;
    opacity: .17 height: 1px;
    content: " ";
    width: 85%;
    border: 1px solid #4A4A4A;
    left: -147px;
    position: relative;
  }
   .section-header-red::after {
/*     border-top: 7px solid #4a4a4a;  */
   display: block;
    opacity: .17 height: 1px;
    content: " ";
    width: 85%;
    border: 1px solid #4A4A4A;
    left: -147px;
    position: relative;
     top: -113px;
  }
   .section-header-red .boxed-heading {
    font-size: calc(1.03em + 0.32vmin);
    margin-top: 28%;
    font-weight: 600;
    top: -40px;
    position: relative;
    left: 11px;
}
     .or {
  border-bottom: 1px solid #aaa;
     border-right:none;
/*   height: 11em; */
       width:100%;
  text-align: center;
    justify-content: center;
       left: -172px;
    position: relative;
       top:-39px;
}
   .blogbutton1{
/*     background: #CC4E61; */
    border-radius: 63px;
    padding: 7px 23px;
    top: -38px;
    position: relative;
    text-align: center;
    color: #CC4E61;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    left: 755px;
  }
}
   
   .or-line {
  border-bottom: 1px solid #aaa;
     border-right:none;
/*   height: 11em; */
  text-align: center;
    justify-content: center;
}
 .blogbutton1{
/*     background: #CC4E61; */
    border-radius: 63px;
    padding: 7px 23px;
    top: -38px;
    position: relative;
    text-align: center;
    color: #CC4E61;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    left: 755px;
  }
 }
     