.section-header-blog {
  position: relative;
  display: flex; /* sets a flex container */
  align-items: center; /* aligns vertically */
  }

  .section-header-blog .quote{
  font-size: calc(0.5em + 1vmin);
  color: #4a4a4a;
  padding-top: 4vh;
}
.section-header-blog .quoted{
  display: flex;
  flex-direction: row;
}
.section-header-blog .quoted-apostrophies  {
  font-size: 6vh;
  color: #cc4e61;
}
.section-header-blog .boxed-heading-blog {
    font-size: calc(1.3em + 1vmin);
    margin-top: -6%;
    font-weight: 600;
    top: 20px;
    position: relative;
    left: 0px;
    width: 597px;
    padding: 0px 30px;
}
}

.section-header-blog .colored {
  color: #cc4e61;
  font-size:19px;
  
}
/* p {
  color: white;
  font-size: 20px;
} */
.section-header-blog .p1 {
  color: #cc4e61;
  font-size: calc(0.4em + 1vmin);
  /* display: flex; */
}

  .section-header-blog::before,
  .section-header-blog::after {
    border-top: 5px solid #cc4e61;
    display: block;
    height: 1px;
    content: " ";
    width: 50%;
    border-radius: 10px;
  }
  .quotes-blog {
  border-color: #cc4e61;
  border-style: solid;
  border-radius: 0.5vw;
  padding: 0.3em 0.8em;
  display: inline-block;
}
  .no-quotes-blog {
  padding: 10vh;
}

  .text-center {
    text-align: center !important;
  }
  .blogbutton{
    background: #CC4E61;
    border-radius: 63px;
    padding: 7px 23px;
    top: 15px;
    position: relative;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    left: 0px;
  }
 @media screen and (max-width: 768px) {
    .boxed-heading-blog {
      width: 100%;
      margin-left:-9px;
    }
   .section-header-blog .boxed-heading-blog {
/*     font-size: calc(1.03em + 0.32vmin);
    margin-top: 28%;
    font-weight: 600;
    top: -40px;
    position: relative;
    left: 15px; */
    padding: 0px 2px;
    left: 10px;
    top: 10px;
}
   .section-header-blog .colored{
     color: #cc4e61;
    font-size: 14px;
   }
    .section-header-blog::before,
  .section-header-blog::after {
    border-top: 7px solid #cc4e61;
    display: block;
    height: 1px;
    content: " ";
    width: 13%;
    border-radius: 10px;
  }
 }

@media screen and (max-width:768px){
  .boxed-heading-blog{
    width: 100%;
  }
   .section-header-blog .boxed-heading-blog .blogbutton{
background: #CC4E61;
    border-radius: 63px;
    padding: 7px 23px;
    top: 5px;
    position: relative;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    left: -8px;
}
  .section-header-blog .boxed-heading-blog {
    width: 100%;
  }
 
}