      .main_microderma {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
      }
      .microimage1 {
        width: 422.15px;
        height: 429px;
        position: relative;
        align-items: center;
        top: 61px;
      }

      .microimage2 {
        height: 564px;
        width: 1269px;
        display: block;
        animation: slideShow 5s forwards 1;
        -o-animation: slideShow 5s forwards 1;
        -moz-animation: slideShow 5s forwards 1;
        -webkit-animation: slideShow 5s forwards 1;
      }
      @keyframes slideShow {
        0% {
          opacity: 0;
          transform: scale(1);
          -ms-transform: scale(1);
        }
        5% {
          opacity: 1;
        }
        25% {
          opacity: 1;
        }
        30% {
          opacity: 1;
          transform: scale(1.1);
          -ms-transform: scale(1.1);
        }
        100% {
          opacity: 1;
          /* transform: scale(1.1);
          -ms-transformm: scale(1.1); */
        }
      }
      @-o-keyframes slideShow {
        0% {
          opacity: 0;
          -o-transform: scale(1);
        }
        5% {
          opacity: 1;
        }
        25% {
          opacity: 1;
        }
        30% {
          opacity: 1;
          -o-transform: scale(1.1);
        }
        100% {
          opacity: 1;
          -o-transformm: scale(1.1);
        }
      }
      @-moz-keyframes slideShow {
        0% {
          opacity: 0;
          -moz-transform: scale(1);
        }
        5% {
          opacity: 1;
        }
        25% {
          opacity: 1;
        }
        30% {
          opacity: 1;
          -moz-transform: scale(1.1);
        }
        100% {
          opacity: 1;
          -moz-transformm: scale(1.1);
        }
      }
      @-webkit-keyframes slideShow {
        0% {
          opacity: 0;
          -webkit-transform: scale(1);
        }
        5% {
          opacity: 1;
        }
        25% {
          opacity: 1;
        }
        30% {
          opacity: 1;
          -webkit-transform: scale(1.1);
        }
        100% {
          opacity: 1;
          -webkit-transformm: scale(1.1);
        }
      }

@media screen and (max-width: 600px) {
        .main_microderma {
          width: 100%;
          
        }
      }