.quote {
  font-size:15px;
  color: black;
}
.boxed-heading {
  font-size: 32px;
}

.colored {
  color: #cc4e61
}
/* p {
  color: white;
  font-size: 20px;
} */
.p1 {
  color: #cc4e61;
  font-size: 15px;
  /* display: flex; */
}
.quotes {
  border-color: #cc4e61;
  border-style: solid;
  border-radius: 5px;
  padding: 0% 5%;
  color: black;
  font-family: poppins;
/*   font-size: 30px; */
  text-align: center;
  width: 75%;
  height:25%;
}
.no-quotes {
  padding: 10px; 
}
/* Boxed Text Container Bordered */
.line {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line:before,
.line:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  border-radius: 15px;
}
.line:before {
  margin-left: -50%;
}
.line:after {
  margin-right: -50%;
}
/* */
.line1 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line1:before,
.line1:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 55%;
  border-radius: 15px;
}
.line1:before {
  margin-left: -50%;
}
.line1:after {
  margin-right: -50%;
}
/* Boxed Text Container Not Bordered 1 */
.line-1 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-1:before {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 85%;
  border-radius: 15px;
}

.line-1:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 85%;
  border-radius: 15px;
}
.line-1:before {
  margin-left: -50%;
}
.line-1:after {
  margin-right: -50%;
}

@media only screen and (max-width: 936px) {
  .line-1:before {
    width: 85%;
    border-radius: 15px;
  }
  
  .line-1:after {
    width: 85%;
  }
}

/* Boxed Text Container Not Bordered  2 */
.line-2 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-2:before,
.line-2:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 6px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  border-radius: 15px;
}
.line-2:before {
  margin-left: -50%;
  left: -40px;
}
.line-2:after {
  margin-right: -50%;
  right: -37px;
}

@media only screen and (min-width: 1450px){
  .line:before,
  .line:after {
    width: 17%;
  }
  .line-1:before,
  .line-1:after {
    width: 40%;
  }
}
@media only screen and (max-width: 1450px) and (min-width: 1300px) {
  .line:before,
  .line:after {
    width: 17%;
  }
  .line-1:before,
  .line-1:after {
    width: 36%;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1150px) {
  .line:before,
  .line:after {
    width: 17%;
  }
  .line-1:before,
  .line-1:after {
    width: 10%;
  }
}
@media only screen and (max-width: 1150px) and (min-width: 1000px) {
  .line:before,
  .line:after {
    width: 17%;
  }
  .line-1:before,
  .line-1:after {
    width: 10%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 936px) {
  .footer-above-icons .grid {
    column-gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .boxed-heading {
    font-size: 13px;
    padding-bottom: 20px;
  }

  .no-quotes .boxed-heading{
    font-size: 15px; 
  }
  
  .quote {
    font-size:10px;
    color: black;
  }

  .p1 {
    color: #cc4e61;
    font-size: 10px;
  }
  
  .quotes {
    border-color: #cc4e61;
    border-style: solid;
    border-radius: 5px;
    padding: 5%;
    color: black;
    font-family: poppins;
  /*   font-size: 30px; */
    text-align: center;
    width: 95%;
    height:25%;
  }
  .no-quotes {
    padding: 10px;
  }
  .line:before,
  .line:after {
    width: 8%;
  }
  .line-1:before,
  .line-1:after {
    width: 23%;
  }
}