.quote {
  font-size: calc(0.5em + 1vmin);
  color: black;
  padding-top: 4vh;
}
.quoted{
  display: flex;
  flex-direction: row;
}
.quoted-apostrophies  {
  font-size: 6vh;
  color: #cc4e61;
}
.boxed-heading {
  font-size: calc(0.75em + 1vmin);
  margin-top: 4%;
}

.colored {
  color: #cc4e61
}
/* p {
  color: white;
  font-size: 20px;
} */
.p1 {
  color: #cc4e61;
  font-size: calc(0.4em + 1vmin);
  /* display: flex; */
}
.quotes {
  border-color: #cc4e61;
  border-style: solid;
  border-radius: 0.5vw;
  padding: 0% 5%;
  color: black;
  font-family: poppins;
  text-align: center;
  width: 75%;
  height: 25%;
}
.no-quotes {
  padding: 10vh;
}
/* Boxed Text Container Bordered */
.line {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line:before,
.line:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50vw;
  border-radius: 1vh;
}
.line:before {
  margin-left: -50vw;
}
.line:after {
  margin-right: -50vw;
}
/* */
.line1 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line1:before,
.line1:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 6px;
  position: relative;
  vertical-align: middle;
  width: 67%;
  border-radius: 15px;
  left: -3px;
}
.line1:before {
  margin-left: -50%;
/*   left: -81px; */
}
.line1:after {
  margin-right: -59%;
/*   left: 48px; */
}


/* Boxed Text Container Not Bordered 1 */
.line-1 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-1:before {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 85%;
  border-radius: 15px;
}

.line-1:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 85%;
  border-radius: 15px;
}
.line-1:before {
  margin-left: -50%;
}
.line-1:after {
  margin-right: -50%;
}



/* Boxed Text Container Not Bordered  2 */
.line-2 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-2:before,
.line-2:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 6px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  border-radius: 15px;
}
.line-2:before {
  margin-left: -50%;
  left: -40px;
}
.line-2:after {
  margin-right: -50%;
  right: -37px;
}

.line-new2 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-new2:before,
.line-new2:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 6px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  border-radius: 15px;
}
.line-new2:before {
  margin-left: -50%;
  left: -40px;
}
.line-new2:after {
  margin-right: -50%;
  right: -37px;
}

.line-new3 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-new3:before,
.line-new3:after {
  background-color: #cc4e61;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  border-radius: 15px;
}
.line-new3:before {
  margin-left: -50%;
  left: -40px;
}
.line-new3:after {
  margin-right: -50%;
  right: -37px;
}
/* Boxed Text Container Not Bordered  3 */
.blogline {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blogline:after {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 1px;
  opacity: 0.14;
  position: relative;
  vertical-align: middle;
  width: 100%;
  border-radius: 15px;
}

/* .blogline:after {
  margin-right: -50%;
  right: 385px;
} */
.or-2 {

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.or-2:before,
.or-2:after {
    background-color: #000000;
    content: "";
    display: inline-block;
    height: 1px;
    opacity: 0.14;
    position: relative;
    vertical-align: middle;
    width: 55%;
    border-radius: 56px;
}
.or-2:before {
  margin-left: -50%;
  left: -40px;
}
.or-2:after {
  margin-right: -50%;
  right: -37px;
}

@media only screen and (min-width: 1450px){
  .line:before,
  .line:after {
    width: 50%;
  }
  .line-1:before,
  .line-1:after {
    width: 50%;
  }
   .or-2:before,
  .or-2:after {
    width: 85%;
  }
 
  .blogline:after {
    width: 100%;
  }
}
@media only screen and (max-width: 1450px) and (min-width: 1300px) {
  .line:before,
  .line:after {
    width: 17%;
  }
  .line-1:before,
  .line-1:after {
    width: 36%;
  }
  
  .blogline:after {
    width: 100%;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1150px) {
  .line:before,
  .line:after {
    width: 17%;
  }
  .line-1:before,
  .line-1:after {
    width: 36%;
  }
  .or-2:before,
  .or-2:after {
    width: 17%;
  }
   .or-2:before,
  .or-2:after {
    width: 36%;
  }

  .blogline:after {
    width: 36%;
  }
}
@media only screen and (max-width: 1150px) and (min-width: 1000px) {
  .line:before,
  .line:after {
    width: 22%;
  }
  .line-1:before,
  .line-1:after {
    width: 36%;
  }
   .or-2:before,
  .or-2:after {
    width: 36%;
  }
 
  .blogline:after {
    width: 36%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 936px) {
  .line:before,
  .line:after {
    width: 17%;
  }
  .line-1:before,
  .line-1:after {
    width: 10%;
  }
   .or-2:before,
  .or-2:after {
    width: 10%;
  }
}
@media only screen and (max-width: 936px) and (min-width: 600px) {
  .line:before,
  .line:after {
    width: 20%;
  }
  .line-1:before,
  .line-1:after {
    width: 30%;
  }
  .or-2:before,
  .or-2:after {
    width: 30%;
  
}
