* {
  box-sizing: border-box;
}

.carbon-footprint{
  width:100%;
}
.carbon_main1{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 73%;
/*         width: 80%;
        left:14%; */
        left:18%;
        position:relative;
        top:70px;
  margin-bottom:10px;
  /* width:100%;
  justify-content: center;
  align-items: center;
  margin-left:10px;
  margin-right:10px; */
}
.c_section {
  float: left;
  width: 50%;
  /* padding: 10px; */
  height: 300px; 
  position:relative;
  /* top:70px; */
}

.carbon_main1 {
  content: "";
  display: table;
  clear: both;
}
.carbon_main1 .c_section .moneyback .img_content p{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 48px;
  text-align: left;
  color: #cc4e61;
}

.carbon_main1 .c_section .moneyback .img_content span{
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 54px;
    text-align: left;
    color: #4a4a4a;
    /* position:relative;
    top: 15px; */
}

.carbon_main1 .c_section .moneyback .img_content h3{
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #4a4a4a;
    position:relative;
    top: -15px;
    width:212px;
}
.carbon_main1 .c_section .moneyback .img_content .images{
/*     top: 54px; */
    position: relative;
    left: 30px;
}

.moneyback{
    display:flex;
}

.img_content{
    flex-direction: column;
}

@media screen and (max-width: 768px) {
  /* .carbon_main{
    margin-left:10px;
  margin-right:10px;
  } */
  .c_section {
    width: 100%;
    left: -39px;
    position: relative;
  }
}
@media only screen and (max-width: 482px) and (min-width: 415px)  {
  
  .carbon_main1 {
    width: 100%;

  }
  .c_section {
    width: 80%;
  }
  .carbon_main1 .c_section .moneyback .img_content .images{
    width:100%;
  }
  .moneyback{
    width:110%;
  }
}
@media only screen and (max-width: 414px) and (min-width: 300px)  {
  .carbon-footprint{
  width:100%;
}
  .moneyback{
    width:115%;
  }
  .carbon_main1 .c_section .moneyback .img_content .images{
    width:100%;
/*         top: 20px;
    position: relative; */
  }
}