      @media (min-width: 1567px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 79px;
        }
        .pink_redalgae_main h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          width: 85%;
          margin: auto;
          padding: 27px 0px;
        }
        .collagen_hr {
          position: relative;
          top: -23px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          display: flex;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column2 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 30%;
        }
        .round-txt3 {
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          width: 60%;
          margin: auto;
          padding: 70px 0px;
        }
        .round-txt3 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 25%;
        }
      }
      @media (min-width: 1457px) and (max-width: 1566px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 22px;
        }
        .pink_redalgae_main h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          width: 85%;
          margin: auto;
          padding: 27px 0px;
        }
        .collagen_hr {
          position: relative;
          top: -23px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          display: flex;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column2 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 30%;
        }
        .round-txt3 {
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          width: 60%;
          margin: auto;
          padding: 70px 0px;
        }
        .round-txt3 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 25%;
        }
      }
      @media (min-width: 1385px) and (max-width: 1456px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 25px;
        }
        .pink_redalgae_main h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          width: 85%;
          margin: auto;
          padding: 27px 0px;
        }
        .collagen_hr {
          position: relative;
          top: -23px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          display: flex;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column2 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 30%;
        }
        .round-txt3 {
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          width: 70%;
          margin: auto;
          padding: 70px 0px;
        }
        .round-txt3 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 25%;
        }
      }
      @media (min-width: 1313px) and (max-width: 1384px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 22px;
        }
        .pink_redalgae_main h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          width: 85%;
          margin: auto;
          padding: 27px 0px;
        }
        .collagen_hr {
          position: relative;
          top: -23px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          display: flex;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column2 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 33%;
        }
        .round-txt3 {
          width: 70%;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
          padding: 70px 0px;
        }
        .round-txt3 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 25%;
        }
      }
      @media (min-width: 1281px) and (max-width: 1312px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 27px;
        }
        .collagen_hr {
          position: relative;
          top: -23px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          display: flex;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column2 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 34%;
        }
        .round-txt3 {
          width: 80%;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
          padding: 70px 0px;
        }
        .collagen-round-image3 {
          width: 22%;
        }
        .round-txt3 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
        .pink_redalgae_main h1 {
          position: relative;
          top: 10px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          width: 85%;
          margin: auto;
          padding: 27px 0px;
        }
      }
      @media (min-width: 1189px) and (max-width: 1280px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 21px;
        }
        .pink_redalgae_main h1 {
          width: 100%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          margin: auto;
          padding: 27px 0px;
          position: relative;
          top: 10px;
        }
        .collagen_hr {
          position: relative;
          top: -23px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          display: flex;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 50%;
          display: flex;
        }
        .round-txt3 {
          width: 77%;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
          padding: 70px 0px;
        }
        .collagen-round-image {
          width: 35%;
          height: 100%;
        }
        .collagen-round-image3 {
          width: 23%;
        }
        .roundtxt-column1 p {
          font-size: 18px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column2 p {
          font-size: 18px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .round-txt3 p {
          font-size: 18px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
      }
      @media (min-width: 1025px) and (max-width: 1188px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 21px;
        }
        .pink_redalgae_main h1 {
          width: 100%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          margin: auto;
          padding: 27px 0px;
          position: relative;
          top: 10px;
        }
        .collagen_hr {
          position: relative;
          top: -23px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          display: flex;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 50%;
          display: flex;
        }
        .round-txt3 {
          width: 77%;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
          padding: 70px 0px;
        }
        .collagen-round-image {
          /*           width:35%;
          height:100%; */
          width: 39%;
          height: 193px;
          margin: auto;
        }
        .collagen-round-image3 {
          width: 27%;
        }
        .roundtxt-column1 p {
          font-size: 16px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 50%;
          display: flex;
        }
        .roundtxt-column2 p {
          font-size: 16px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .round-txt3 p {
          font-size: 16px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
      }
      @media (min-width: 900px) and (max-width: 1024px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 40px;
        }
        .pink_redalgae_main h1 {
          width: 100%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          margin: auto;
          padding: 27px 0px;
        }
        .collagen_hr {
          position: relative;
          top: -21px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          flex-direction: column;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 100%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 100%;
          display: flex;
          margin-top: 2rem;
        }
        .roundtxt-column2 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 30%;
        }
        .round-txt3 {
          width: 100%;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
          padding: 26px 0px;
        }
        .round-txt3 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 20px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 30%;
        }
      }
      @media (min-width: 768px) and (max-width: 989px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 51px;
        }
        .pink_redalgae_main h1 {
          width: 100%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          color: #ffffff;
          margin: auto;
          padding: 27px 0px;
          position: relative;
          top: 19px;
        }
        .collagen_hr {
          position: relative;
          top: -9px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          flex-direction: column;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 100%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-size: 16px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 100%;
          display: flex;
          margin-top: 4rem;
        }
        .roundtxt-column2 p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          color: #ffffff;
          padding: 0px 36px;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 30%;
        }
        .round-txt3 {
          width: 100%;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
          padding: 31px 0px;
        }
        .round-txt3 p {
          font-size: 16px;
          padding: 0px 41px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #ffffff;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 30%;
          /*             height:199px; */
          margin: auto;
        }
      }
      @media (min-width: 481px) and (max-width: 767px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 26px;
        }
        .pink_redalgae_main h1 {
          width: 100%;
          font-size: 23px;
          line-height: 44px;
          padding: 10px 0px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          text-align: center;
          color: #ffffff;
          margin: auto;
        }
        .collagen_hr {
          position: relative;
          top: -7px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          flex-direction: column;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 100%;
          display: flex;
        }
        .roundtxt-column1 p {
          font-size: 13px;
          line-height: 24px;
          padding: 0px 14px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          color: #ffffff;
          margin: auto;
          text-align: left;
        }
        .roundtxt-column2 {
          width: 100%;
          margin-top: 4rem;
          display: flex;
        }
        .roundtxt-column2 p {
          font-size: 13px;
          line-height: 24px;
          padding: 0px 14px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          color: #ffffff;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 30%;
          /*           height:200px; */
          margin: auto;
        }
        .round-txt3 {
          width: 100%;
          padding: 31px 0px;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
        }
        .round-txt3 p {
          font-size: 13px;
          line-height: 24px;
          padding: 0px 14px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          color: #ffffff;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 30%;
          /*             height:199px; */
          margin: auto;
        }
      }
      @media (min-width: 300px) and (max-width: 480px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 26px;
        }
        .pink_redalgae_main h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          text-align: center;
          color: #ffffff;
          margin: auto;
          width: 100%;
          font-size: 23px;
          line-height: 44px;
          padding: 10px 0px;
        }
        .collagen_hr {
          position: relative;
          top: -7px;
          background-color: #fff;
          border: 1px solid #ffffff;
        }
        .pink-roundtxt {
          flex-direction: column;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 100%;
/*           display: flex; */
          text-align:center;
          flex-direction:column;
        }
        .roundtxt-column1 p {
          font-size: 13px;
          line-height: 24px;
          padding: 0px 4px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          color: #ffffff;
          margin: auto;
          text-align: center;
        }
        .roundtxt-column2 {
          width: 100%;
          margin-top: 4rem;
          text-align:center;
          flex-direction:column;
/*           display: flex; */
        }
        .roundtxt-column2 p {
          font-size: 13px;
          line-height: 24px;
          padding: 0px 14px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          color: #ffffff;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image {
          width: 50%;
          /*           height:200px; */
          margin: auto;
        }
        .round-txt3 {
          width: 100%;
          justify-content: center;
          text-align: center;
          margin-top: 8rem;
          display: flex;
          margin: auto;
          padding: 31px 0px;
        }
        .round-txt3 p {
          font-size: 13px;
          line-height: 24px;
          padding: 0px 14px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          color: #ffffff;
          margin: auto;
          text-align: left;
        }
        .collagen-round-image3 {
          width: 30%;
          /*             height:199px; */
          margin: auto;
        }
      }
      /*       @media screen and (min-width: 300px) and (max-width:480px) {
        .pink_redalgae_main {
          padding: 0px 50px;
        }
        .pink_redalgae_main h1 {
          width: 100%;
        }
        .pink-roundtxt {
          flex-direction: column;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 100%;
        }
        .roundtxt-column2 {
          width: 100%;
        }
        .round-txt3 {
          width: 100%;
          margin: 0px 0px;
        }
         .collagen-round-image3 {
            width: 30%;
            height:199px;
            margin:auto;
        }
        .collagen-round-image3 {
          width: 30%;
          height:200px;
          margin:auto;
        }
      } */