.pink_redalgae_main {
        background: #cc4e61;
        padding: 0px 79px;
      }
      .pink_redalgae_main h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #ffffff;
        width: 85%;
        margin: auto;
        padding: 27px 0px;
      }
      .collagen_hr{
        position:relative;
        top:-23px;
        background-color:#fff;
        border:1px solid #ffffff;
      }
      .pink-roundtxt {
        display: flex;
        width: 100%;
      }
      .roundtxt-column1 {
        width: 50%;
        display: flex;
      }
      .roundtxt-column1 p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        padding: 0px 36px;
        margin: auto;
        text-align:left;
      }
      .roundtxt-column2 {
        width: 50%;
        display: flex;
      }
      .roundtxt-column2 p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        padding: 0px 36px;
        margin: auto;
         text-align:left;
      }
      .collagen-round-image {
        width: 30%;
      }
      .round-txt3 {
        justify-content: center;
        text-align: center;
        margin-top: 8rem;
        display: flex;
        width: 60%;
        margin: auto;
        padding: 70px 0px;
      }
      .round-txt3 p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        padding: 0px 20px;
        margin: auto;
        text-align:left;
      }
      .collagen-round-image3 {
        width: 25%;
      }
 @media screen and (min-width:1457px) and (max-width: 1566px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 22px;
        }
      }
      @media screen and (min-width:1385px) and (max-width: 1456px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 25px;
        }
        .round-txt3 {
            width:70%;
        }
      }
      @media screen and (min-width:1313px) and (max-width: 1384px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 22px;
        }
        .collagen-round-image {
            width: 33%;
        }
        .round-txt3 {
            width:70%;
        }
      }
      @media screen and (min-width:1281px) and (max-width: 1312px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 27px;
        }
         .collagen-round-image {
            width: 34%;
        }
        .round-txt3 {
            width:80%;
        }
        .collagen-round-image3 {
            width: 22%;
        }
        .pink_redalgae_main h1 {
           position:relative;
           top:10px;
        }
      }
      @media screen and (min-width:1189px) and (max-width: 1280px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 21px;
        }
        .pink_redalgae_main h1 {
            width:100%;
        }
        .round-txt3 {
            width:77%;
        }
        .collagen-round-image {
          width:35%;
          height:100%;
        }
        .collagen-round-image3 {
          width: 23%;
        }
         .pink_redalgae_main h1 {
           position:relative;
           top:10px;
        }
        .roundtxt-column1 p{
          font-size:18px;
        }
        .roundtxt-column2 p{
          font-size:18px;
        }
        .round-txt3 p {
          font-size:18px;
        }
      }
@media screen and (min-width:1025px) and (max-width: 1188px) {
        .pink_redalgae_main {
          background: #cc4e61;
          padding: 0px 21px;
        }
        .pink_redalgae_main h1 {
            width:100%;
        }
        .round-txt3 {
            width:77%;
        }
        .collagen-round-image {
/*           width:35%;
          height:100%; */
              width: 39%;
          height: 193px;
          margin: auto;
      }
        }
        .collagen-round-image3 {
          width: 23%;
        }
         .pink_redalgae_main h1 {
           position:relative;
           top:10px;
        }
        .roundtxt-column1 p{
          font-size:16px;
        }
        .roundtxt-column2 p{
          font-size:16px;
        }
        .round-txt3 p {
          font-size:16px;
        }
      }
 @media screen and (min-width:900px) and (max-width:1024px) {
         .pink_redalgae_main {
            padding: 0px 40px;
        }
        .pink_redalgae_main h1 {
            width: 100%;
        }
        .pink-roundtxt {
            flex-direction: column;
            width: 100%;
        }
        .roundtxt-column1 {
            width: 100%;
        }
        .roundtxt-column2 {
            width: 100%;
        }
        .round-txt3 {
            width: 100%;
            margin: 0px 0px;
        }
        .collagen-round-image3 {
            width: 30%;
        }
      }
      @media screen and (min-width:768px) and (max-width:989px) {
         .pink_redalgae_main {
            padding: 0px 40px;
        }
        .pink_redalgae_main h1 {
            width: 100%;
        }
        .pink-roundtxt {
            flex-direction: column;
            width: 100%;
        }
        .roundtxt-column1 {
            width: 100%;
        }
        .roundtxt-column2 {
            width: 100%;
        }
        .round-txt3 {
            width: 100%;
            margin: 0px 0px;
        }
        .collagen-round-image3 {
            width: 30%;
        }
      }

      @media screen and (max-width: 767px) {
        .pink_redalgae_main {
          padding: 0px 50px;
        }
        .pink_redalgae_main h1 {
          width: 100%;
        }
        .pink-roundtxt {
          flex-direction: column;
          width: 100%;
        }
        .roundtxt-column1 {
          width: 100%;
        }
        .roundtxt-column2 {
          width: 100%;
        }
        .round-txt3 {
          width: 100%;
          margin: 0px 0px;
        }
        .collagen-round-image3 {
          width: 30%;
        }
      }