
.video___main{
   text-align:center;
   justify-content: center;
}
.video___main .contentTxt {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 168%;
  text-align: center;
  color: #4A4A4A;
  text-align: center;
}
.video___main .contentTxt .span_contentTxt{
  color:#CC4E61;
}
.video___main .video-wrapper{
  display: flex;
  margin-top: 4rem;
}
.video-container {
  width: 23%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin-left: 9rem;
}
/* .video-container .video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.video-container video {
  width: 100%;
  float: left;
    /* width: 20%; */
  height: 100%;
  border-radius: 4px;
}

/* .play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
} */
/* .play-button-wrapper #circle-play-b :before{
  cursor: pointer;
  pointer-events: auto;
  display:block;
} */
/* .play-button-wrapper #circle-play-b:after{
  display:none;
   cursor: pointer;
  pointer-events: auto;
} */
/* .play-button-wrapper #circle-play-b svg {
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0.9;
} */
@media screen and (max-width:768px){
  .video___main{
        margin: 15px 10px;
  }
  .video-container {
    margin-left:2rem;
  }
  .video___main .contentTxt {
   font-size:15px;
    font-weight:bold;
  }
  .video___main .contentTxt .span_contentTxt{
    font-size:13px; 
  }
/* #circle-play-b .creator_img{
  width:30%;
} */
}