* {
    box-sizing: border-box;
  }
  
  .contact_main{
          display:flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          position:relative;
  }
  .contact___column {
    float: left;
    width: 27%;
    height: 116px; 
    position:relative;
    margin-left:8rem;
  }
  
  .contact_main {
    content: "";
    display: table;
    clear: both;
  }
  .contact_main .contact___column .competition1_monthly .contact___content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    color: #4A4A4A;
  }
  
  
  
  .contact_main .contact___column .competition1_monthly .contact___content h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130.5%;
    text-align: left;
    color: #CC4E61;
  }
  .contact_main .contact___column .competition1_monthly .contact___content h3{
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #4A4A4A;
    position:relative;

  }
  .contact_main .contact___column .competition1_monthly .contact___content .images1{
text-align:center;
align-items:center;
    top:8px;
    position:relative;
  }
.contact_main .contact___column .competition1_monthly .contact___content .images2{
text-align:center;
align-items:center;
    top:12px;
    position:relative;
  }
 .contact_main .contact___column .competition1_monthly .contact___content .images3{
text-align:center;
align-items:center;
    top:12px;
    position:relative;
  }
  
  .competition1_monthly{
      display:flex;
  }
.contact___content{
      flex-direction: column;
      margin-left:2rem;
      position: relative;
     top: 13px;
     text-align: center;
  }
 @media only screen and (min-width:1201px) and (max-width:1264px) {
     .contact___column {
       width:100%;
     }
 }
 @media only screen and (min-width:769px) and (max-width:1200px) {
    .contact___column {
    width:100%;
    }
  } 
  @media screen and (max-width: 768px) {
    .contact___column {
      width: 100%;
      margin-left:-9px;
    }
      .contact_main .contact___column .competition1_monthly .contact___content .images1{
          text-align:center;
          align-items:center;
        width:102px;
        height:52px;
  }
     .contact_main .contact___column .competition1_monthly .contact___content .images2{
          text-align:center;
          align-items:center;
        width:102px;
        height:36px;
  }
    .contact_main .contact___column .competition1_monthly .contact___content .images3{
          text-align:center;
          align-items:center;
        width:102px;
        height:52px;
  }
    .contact_main .contact___column .competition1_monthly .contact___content p{
      font-size: 13px;
      left: -17px;
}
    }
    .contact_main .contact___column .competition1_monthly .contact___content h4{
      font-size: 10px;
    }
    .contact_main .contact___column .competition1_monthly .contact___content h3{
      font-size: 10px;
    }
  }