* {
    box-sizing: border-box;
  }
  
  .contact_main{
          display:flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          position:relative;
  }
  .round___column {
    float: left;
    width: 27%;
    height: 300px; 
    position:relative;
    margin-left:8rem;
  }
  
  .contact_main {
    content: "";
    display: table;
    clear: both;
  }
  .contact_main .round___column .competition_monthly .contact___content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #4A4A4A;
  }
  
  
  
  .contact_main .round___column .competition_monthly .contact___content h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130.5%;
    text-align: left;
    color: #CC4E61;
  }
  .contact_main .round___column .competition_monthly .contact___content h3{
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #4A4A4A;
    position:relative;

  }
  .contact_main .round___column .competition_monthly .contact___content .images{
text-align:center;
align-items:center;
    top:10px;
    position:relative;
  }
  
  .competition_monthly{
      display:flex;
  }