.rating {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.like,
.dislike {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}
.likes-num,
.dislikes-num {
  color: #cc4e61;
}
.customer-sections h4 {
  font-size: 1.9rem;
}
.customer-sections h5 {
  font-size: 1.7rem;
}
.dislike:hover,
.like:hover {
  color: #cc4e61;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.active {
  color: #cc4e61;
}
.customer-reviews {
  width: 90%;
  height: fit-content;
  margin: 0 5%;
}
.user-reviews {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgba(204, 78, 97, 0.31);
  margin: 1%;
  padding-bottom: 6%;
  display: flex;
  flex-direction: row;
}
.pagination {
  width: 10%;
  height: 2rem;
  margin: 0 44.5%;
}
.customer-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5% 5% 0 5%;
}
.name-avat {
  width: 4.5rem;
  height: 4.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  font-size: 1.5rem;
  color: #cc4e61;
  background-color: rgba(204, 78, 97, 0.17);
}
.name-text {
  padding-left: 5%;
}
.name-text h5 {
  color: #cc4e61;
  line-height: 0.5;
  margin-top: 0.5rem;
}
.user-reviews .sub-1 {
  width: 30%;
  height: 6rem;
  padding: 0.5%;
  display: flex;
  flex-direction: row;
}
.user-reviews .sub-2 {
  width: 50%;
  height: 6rem;
  display: flex;
  flex-direction: column;
}
.user-reviews .sub-2 h5 {
  color: #cc4361;
  margin-top: 0.3rem;
  padding-bottom: 1%;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(204, 78, 97, 0.31);
}
.user-reviews .sub-2 .cust-rev-input {
  border: none;
  margin-top: 0.3rem;
  padding-bottom: 1%;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(204, 78, 97, 0.31);
}
.user-reviews .sub-2 .cust-rev-input::placeholder {
  color: rgba(204, 78, 97, 0.31);
}
.user-reviews .sub-3 {
  width: 20%;
  height: 6rem;
}
.description {
  margin-top: -1%;
  font-size: 1.3rem;
  max-height: 100%;
}
.date {
  margin: 0;
  font-size: 1.3rem;
}
.united {
  line-height: 0;
  padding: 0;
}
.card {
  border: none;
  width: 100rem;
}
.custom-ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-reviews h5 {
  font-size: 1.5rem;
}
.custom-ratings h4 {
  font-size: 2.5rem;
}
.reviews-num {
  color: #cc4e61;
}
.reviews {
  list-style-type: none;
}
.reviewed-stars {
  color: yellow;
}
.pages {
  list-style-type: none;
  display: flex;
  font-weight: 600;
}
.pages .page-num {
  color: #828282;
  font-weight: 300;
}
.pages .active {
  color: #4a4a4a;
  font-weight: 600;
}
.pages .page-num,
.pages .next-page {
  padding: 0.2rem 1.2rem;
}
.section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.reviews-num {
  padding: 15% 50%;
}
.starsTable {
  padding: 0% 5%;
}
.count {
  padding: 1.5% 5%;
  font-size: 1.3rem;
}
.im21--tab-group .swiper-slide {
  width: auto;
}
.im21--tab-group__button {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-size: 0.6em;
  z-index: 2;
  cursor: pointer;
}
.im21--tab-group__button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  display: block;
  content: "";
  border: 0.5px solid #dfdfdf;
  border-radius: 100%;
}
.im21--tab-group__button::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
}
.im21--tab-group__button_next::after {
  right: 100%;
  background: linear-gradient(-90deg, #ffffff 25%, rgba(255, 255, 255, 0) 100%);
}
.im21--tab-group__button_prev::after {
  left: 100%;
  background: linear-gradient(90deg, #ffffff 25%, rgba(255, 255, 255, 0) 100%);
}
.im21--tab-group__button_disabled {
  cursor: default;
  color: #dfdfdf;
}
.im21--tab-group__button_disabled::after {
  display: none;
}
.im21--tab-group_has-nav {
  display: flex;
}
.im21--tab-group_has-nav .im21--tab-group__button {
  display: flex;
}
.im21--tab-item {
  position: relative;
  display: flex;
  align-items: center;
  font-szie: 14px;
  line-height: 18px;
  padding: 0 16px;
  height: 40px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #818181;
  cursor: pointer;
}
.im21--tab-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  /* background-color: #c0c0c0; */
}
.im21--tab-item:hover {
  color: #cc4e61;
}
.im21--tab-item_active {
  color: #06112e;
}
.im21--tab-item_active::after {
  height: 2px;
  background-color: #cc4e61;
}
@charset "UTF-8";
#clear {
  display: inline;
}
/* Rating Star Widgets Style */
.rating-stars {
  color: #cc4e61;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rating-stars ul {
  list-style-type: none;
  padding: 10px 25px;
  margin-top: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul > li.star {
  display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 1em; /* Change the size of the stars */
  color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color: #ffcc36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #ff912c;
}

.customInput-wrap {
  color: #cc4e61;
}
.stars-section {
  display: flex;
  flex-direction: row;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    display: block;
    width: 250px;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #cc4e6159;
    height: fit-content;
    margin-top: 3.5%;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    box-shadow: -250px 0 0 250px #cc4361;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #cc4361;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #cc4361;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
output {
  border: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#stars_rating {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#stars_rating div {
  text-align: center;
  font-size: 20px;
  margin: 0;
}
#stars_rating .stars {
  display: inline-flex;
  flex-flow: row nowrap;
  max-width: 360px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  margin-top: -8px;
}
#stars_rating .stars .star {
  position: relative;
  color: #ccf;
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
}
#stars_rating .stars .star:after {
  content: "★";
  position: absolute;
  transform: translateX(-100%);
  top: 0px;
  font-size: 20px;
}
@media (max-width: 479px) {
  #stars_rating p {
    font-size: 15px;
  }
  #stars_rating p.heading {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  #stars_rating .stars .star {
    padding: 0 3px;
    font-size: 20px;
  }
  #stars_rating .stars .star:after {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  #stars_rating .stars .star.rated:before {
    left: -2px;
    top: -10px;
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  #stars_rating .stars.rated .star:before {
    left: -2px;
    top: -10px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #stars_rating .stars .star {
    padding: 0 7px;
    font-size: 20px;
  }
  #stars_rating .stars .star:after {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #stars_rating .stars .star.rated:before {
    left: 0px;
    top: -14.5px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #stars_rating .stars.rated .star:before {
    left: 0px;
    top: -14.5px;
    font-size: 20px;
  }
}
.avg {
  font-size: 3rem;
}
