 <style>
  * {
    box-sizing: border-box;
  }
  
  
  .sec1 {
    float: left;
    width: 28%;
    padding: 10px;
    height: 300px; 
    position:relative;
    top:74px;
    left:-356px;
  }    
  .sec2 {
    float: left;
    width: 28%;
    padding: 10px;
    height: 300px; 
    position:relative;
    top:70px;
    left:-438px;
  }    
  .sec3 {
    float: left;
    width: 28%;
    padding: 10px;
    height: 300px; 
    position:relative;
    top:70px;
    right:391px;
  }
  .customer-carbon-image1:after,.customer-carbon-image2:after,.customer-carbon-image3:after{
    content: "";
    display: table;
    clear: both;
  
  }
  .customer-carbon-image1:after,.customer-carbon-image2:after,.customer-carbon-image3:after{
    content: "";
    display: table;
    clear: both;
  
  }
  
  .alisha-customer-acne_slider {
          margin: 60px auto;
          max-width: 1200px;
        }
        .alisha-customer-acne_slider {
          flex: 1 1 0;
        }
  
        .inner {
          padding: 6px;
        }
  
        img {
          width: 100%;
          height: auto;
        }
        .ba-slider {
      position: relative;
      overflow: hidden;
    
    }
    
    .ba-slider img {
      width: 100%;
      height: 100%;
      display:block;
    }
    
    .ba-slider .resize {
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden;
    }
    
    .handle {
      position:absolute; 
      left:50%;
      top:0;
      bottom:0;
      width:4px;
      margin-left:-2px;
    
      background: #FFFFFF;
      cursor: ew-resize;
    }
    
    .handle:after {
        position: absolute;
        top: 50%;
        width: 68px;
        height: 67px;
        margin: -32px 0 0 -32px;
    
        /* content:'\21d4'; */
        content:url('https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_15.png?v=1669018900');
        color:#CC4E61;
        font-weight:bold;
        font-size:36px;
        text-align:center;
        line-height:64px;
      /* background-image:url(./Group\ 928.png); */
        background: #FFFFFF; 
        border:3px solid #FFFFFF; /* darken(@orange, 5%) */
        border-radius: 50%;
        transition:all 0.3s ease;
        box-shadow:
          0 2px 6px rgba(0,0,0,.3), 
          inset 0 2px 0 rgba(255,255,255,.5),
          inset 0 60px 50px -30px #FFFFFF; /* lighten(@orange, 20%)*/ 
    }
    
    .handle.draggable:after {
        width: 68px;
        height: 67px;
        margin: -32px 0 0 -32px;
        line-height:50px;
        font-size:30px;
    }
    .dev .slick-list
  {
      position: absolute;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .one-slider{
      /* display:flex; */
      flex-direction: column;
  }
  
  .img_content{
      flex-direction: column;
  }
  .title {
          text-align: center;
          margin-top: 60px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 60px;
          text-align: center;
          color: #CC4E61;
        }
  
  @media screen and (max-width: 600px) {
    .sec1 {
      width: 100%;
      height: 100%;
      position: relative;
      top: 60px;
      left: -310px;
    }
    .sec2 {
      width: 100%;
      height: 100%;
      position: relative;
      left: -925px;
      top: 214px;
    }
    .sec3 {
      width: 100%;
      height: 100%;
      position: relative;
      top: 374px;
      left: -1395px;
    }
  }
  </style>
