 .subjective_lines{
        position: relative;
        max-width: 100%;;
        margin: 0px auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 168%;
        color: #CC4E61;
        padding:15px 20px;
}

.subjective_lines:before{
  content:" ";
  height: 5px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.subjective_lines:after{
  content:" ";
  height: 5px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}


@media screen and (max-width: 768px) {
      .subjective_lines{
        position: relative;
        max-width: 100%;;
        margin: 0px auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 168%;
        color: #CC4E61;
        padding:0px 20px;
}
    .subjective_lines:before{
  content:" ";
  height: 5px;
  width: 8%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.subjective_lines:after{
  content:" ";
  height: 5px;
  width: 8%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
}
.title {
  text-align: center;
  margin-top: 60px;
}
.portfolio_slider {
  margin: 14px auto;
  max-width:100%;
}
.portfolio_slider {
  flex: 1 1 0;
  
}

.inner{
  padding: 6px;
}

.graph-image {
  width: 100%;
/*   height: 41vw; */
}
/* .graph-image:hover {
  opacity: 0.9;
} */
.graph-slider {
  left: 0px;
    align-items: center;
    display: flex;
}
.prev {
  display: inline-block;
    height: fit-content;
}
.next {
  display: inline-block;
    height: fit-content;
}

