.title {
  text-align: center;
  margin-top: 60px;
}
.portfolio_slider {
  margin: 60px auto;
  max-width:100%;
}
.portfolio_slider {
  flex: 1 1 0;
  
}

.inner{
  padding: 6px;
}

.graph-image {
  width: 100%;
  height: 90vw;
}
/* .graph-image:hover {
  opacity: 0.9;
} */
.graph-slider {
  left: 0px;
    align-items: center;
    display: flex;
}
.prev {
  display: inline-block;
    height: fit-content;
}
.next {
  display: inline-block;
    height: fit-content;
}

