.infinite-scroll {
    position: relative;
  width: 100%;
  height: 100vh;
}

.gallery-scroll {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cards {
  position: absolute;
  width: 24rem;
  height: 60rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 24rem;
  height: 40rem;
  text-align: center;
  font-size: 2rem;
  font-family: sans-serif;
  background: #f6e1e4;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
}

.cards li .image {
  /* background: white; */
  margin-top: -15%;
  z-index: 3;
}

.cards li .image img {
  width: 55%;
  height: 40%;
  border: 10px solid #cc4e61;
}

.cards li .author-heading {
  line-height: 0;
  margin: 10% 0;
}

.cards li .author-heading h3 {
  color: #cc4e61;
  font-size: 2rem;
  font-weight: 200;
}

.cards li .author-heading p {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 100;
}

.cards li .text-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  padding: 5%;
}

.cards li .text-content span {
  color: #4a4a4a;
  text-align: inherit;
  padding: 2%;
}

.cards li .text-content i {
  font-size: 3rem;
  top: -15%;
  position: relative;
  color: #cc4e6170;
}

.cards li .author-heading .actions {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.prev,
.next {
  display: inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  text-decoration: none;
  margin: 0 auto 10px;
  padding: 12px 25px;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.prev {
  left: 0;
}

.next {
  right: 40px;
}
