@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.transitions.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.transitions.css");

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
/********* Fonts Face CSS End **********/
#container {
  position: absolute;
  margin: auto;
  width: 30vw;
  height: 80pt;
  top: 0;
  bottom: 45%;
  text-align: left;
  filter: url(#threshold) blur(0.6px);
}

.ingred-content {
  padding-top: 10%;
  font-family: poppins;
  padding: 5%;
  /*   border: 1px solid; */
}

.ingred-content h1 {
  color: #cc4e61;
  /* padding: 5%; */
}

.ingred-content h2 {
  color: #cc4e61;
  font-weight: 400;
}

.ingred-content .underlined {
  border-bottom: 1px solid #cc4e61;
  color: #4a4a4a;
}

.user-saying {
  background: #cc4e61;
  width: 100%;
  color: #fff;
  height: 100%;
}

.quote-icon {
  width: 38px;
  display: block;
  margin-bottom: 30px;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.cont {
  /*   border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sec-2 {
  width: 60%;
}
.animated {
  -webkit-animation-duration: 2000 ms;
  animation-duration: 2000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1;
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0;
}
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.sec-2 span {
  font-family: poppins;
  font-size: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  display: inline-block;
  font-weight: 100;
}
.sec-1 {
  width: 40%;
}
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  background: transparent;
  /* border-radius: 16px; */
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.game-section .item .img-item {
  margin: 0 15px 10px;
  width: 235px;
  height: 400px;
  /* display: flex; */
  /* display: -webkit-flex; */
  /* align-items: flex-end; */
  /* -webkit-align-items: flex-end; */
  /* background: #343434 no-repeat center center / cover; */
  /* border-radius: 16px; */
  /* overflow: hidden; */
  /* position: relative; */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-section .item.active {
  width: 500px;

  /* box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25); */
}

.game-section .item.active .img-item {
  width: 150px;
  margin: 15px 15px 45px;
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
}
.game-section .item-desc {
  padding: 0 5px 50px;
  color: #4a4a4a;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-top: 5px solid #cc4e61;
  /* border-radius: 15px; */
  width: 100%;
  /* transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out; */
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc p,
.game-section .item-desc h3 {
  opacity: 1;
  /* -webkit-transform: translateY(0);
  transform: translateY(0); */
}
.game-section .item.active .item-desc {
  border-top: none;
}
.game-section .item.active .item-desc p,
.game-section .item.active .item-desc h3 {
  opacity: 0;
  /* -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s; */
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

h2 {
  margin-bottom: 32px;
}
h3 {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #cc4e61;
}
.p {
  color: #4a4a4a4a;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}
.line-title {
  width: 330px;
}

/* -------- Landing page ------- */
.game-section {
  padding: 50px 30px 40px;
}
.game-section .item {
  margin: 0 12px 60px;
  width: 240px;
  height: 230px;
}
.game-section .item:not(.active) {
  margin-top: 103%;
}
.game-section .item.active {
  height: 60.5vh;
  width: 10vw;
}

/* .game-section .item-desc {
  transform: translateY(calc(100% - 42px));
  -webkit-transform: translateY(calc(100% - 42px));
} */
/******** Middle section CSS End *******/

/***** responsive css Start ******/
.head-content {
  display: inline-flex;
  flex-direction: row-reverse;
}

.para-content {
  padding-left: 5%;
  width: 50vh;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 230px;
  }
  .game-section .item:not(.active) {
    margin-top: 110%;
  }
  .game-section .item.active {
    height: 89.5vh;
  }
  /* .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  } */

  .head-content {
    display: inline-flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1199px) and (max-width: 1280px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 230px;
  }
  .game-section .item:not(.active) {
    margin-top: 110%;
  }
  .game-section .item.active {
    height: 520px;
    width: 360px;
  }
  /* .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  } */
}
@media (min-width: 992px) and (max-width: 1199px) {
  .game-section .item:not(.active) {
    margin-top: 240%;
  }
  .sec-1,
  .sec-2 {
    width: 100%;
  }
  .ingred-content p {
    font-size: 30px;
  }
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 230px;
  }
  .game-section .item:not(.active) {
    margin-top: 110%;
  }
  .game-section .item.active {
    height: 520px;
    width: 360px;
  }
  /* .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  } */
}

@media (min-width: 768px) and (max-width: 991px) {
  .sec-1,
  .sec-2 {
    width: 100%;
    height: 30vh;
  }
  .ingred-content p {
    font-size: 30px;
  }
  .next-button {
    display: none;
  }
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 230px;
  }
  .game-section .item:not(.active) {
    margin-top: 100%;
  }
  .game-section .item.active {
    height: 660px;
    width: 150px;
  }
}

@media (max-width: 767px) {
  .cont {
    flex-direction: column;
  }
  .game-section .item:not(.active) {
    margin-top: 120%;
  }
  .sec-1,
  .sec-2 {
    width: 100%;
  }
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    /* margin: 0 10px 40px; */
    width: 110px;
    height: 160px;
  }
  .game-section .item.active {
    width: 20vh;
    /* box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25); */
    /* -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25); */
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-nav {
  text-align: unset;
}
