
@media (min-width:1281px){
  .join_program{
    padding:0px 42px;
  }
.join_column {
    float: left;
  width:33%;
  padding: 0px 44px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:0rem;
}
 .join_column .two_txt{
      margin-top:0rem;
    }
  .todayTxt{
    font-family: 'Poppins';
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 168%;
    color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 168%;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 12rem;
    top: -14rem;
/*   left:40px; */
    position: relative;
    border-right: 1px solid #aaa;
  text-align:center;
  justify-content:center;
}

.or-line {
  border-right: 1px solid #aaa;
  height: 11em;
  text-align: center;
    justify-content: center;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .join_program{
    padding:0px 20px;
  }
.join_column {
    float: left;
  width:33%;
  padding: 0px 15px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:0rem;
}
 .join_column .one_txt{
      margin-top:0rem;
    }
  .todayTxt{
    font-family: 'Poppins';
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 6em;
    top: -8rem;
/*   left: 18px; */
    position: relative;
    height: 6em;
    border-right: 1px solid #aaa;
}

.or-line {
  border-right: 1px solid #aaa;
  height: 6em;
}
}
 

@media (min-width: 768px) and (max-width: 1024px) {
    .join_program{
    padding:0px 20px;
  }
.join_column {
  width:100%;
  padding: 0px 42px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:-6rem;
}
 .join_column .two_txt{
      margin-top:-6px;
    }
  .todayTxt{
    font-family: 'Poppins';
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 6em;
    top: -8rem;
    position: relative;
    height: 6em;
    border-bottom: 1px solid #aaa;
      border-right: none;
}

.or-line {
   border-bottom: 1px solid #aaa;
      border-right: none;
  height: 6em;
}
}

@media (min-width: 481px) and (max-width: 767px) {
    .join_program{
    padding:0px 20px;
  }
.join_column {
  width:100%;
  padding: 0px 42px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:-6rem;
}
 .join_column .two_txt{
      margin-top:18px;
    }
  .todayTxt{
      font-family: 'Poppins';
      text-align: center;
      font-style: normal;
      font-size: 15px;
      text-align:center;
      font-weight:bold;
      color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 6em;
    top: -8rem;
    position: relative;
    height: 6em;
    border-bottom: 1px solid #aaa;
      border-right: none;
}

.or-line {
   border-bottom: 1px solid #aaa;
      border-right: none;
  height: 6em;
}
}

@media (min-width: 320px) and (max-width: 480px) {
    .join_program{
    padding:0px 20px;
  }
.join_column {
  width:100%;
  padding: 0px 9px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:-7rem;
}
 .join_column .two_txt{
      margin-top:18px;
    }
  .todayTxt{
      font-family: 'Poppins';
      text-align: center;
      font-style: normal;
      font-size: 13px;
      text-align:center;
      font-weight:bold;
      color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 6em;
    top: -8rem;
    position: relative;
    height: 6em;
    border-bottom: 1px solid #aaa;
      border-right: none;
}

.or-line {
   border-bottom: 1px solid #aaa;
      border-right: none;
  height: 6em;
}
}

@media (max-width: 319px) {
    .join_program{
    padding:0px 20px;
  }
.join_column {
  width:100%;
  padding: 0px 9px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:-7rem;
}
 .join_column .two_txt{
      margin-top:18px;
    }
  .todayTxt{
      font-family: 'Poppins';
      text-align: center;
      font-style: normal;
      font-size: 13px;
      text-align:center;
      font-weight:bold;
      color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 6em;
    top: -8rem;
    position: relative;
    height: 6em;
    border-bottom: 1px solid #aaa;
      border-right: none;
}

.or-line {
   border-bottom: 1px solid #aaa;
      border-right: none;
  height: 6em;
}
}