
@media (min-width:1281px){
  .join_program{
    padding:0px 30px;
  }
.join_column {
    float: left;
  width:33%;
  padding: 0px 28px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:0rem;
}
 .join_column .one_txt{
      margin-top:0rem;
    }
  .todayTxt{
    font-family: 'Poppins';
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 168%;
    color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 168%;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 6em;
    top: -12rem;
/*   left: 18px; */
    position: relative;
    height: 6em;
    border-right: 1px solid #aaa;
}

.or-line {
  border-right: 1px solid #aaa;
  height: 6em;
}
}

@media (min-width:1025px)and (max-width:1280px{
    .join_program{
    padding:0px 20px;
  }
.join_column {
    float: left;
  width:33%;
  padding: 0px 28px; 
  }

  .join_program:after {
    content: "";
    display: table;
    clear: both;
  }
.join_column .one_txt{
  margin-top:0rem;
}
 .join_column .one_txt{
      margin-top:0rem;
    }
  .todayTxt{
    font-family: 'Poppins';
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 168%;
    color: #4A4A4A;
 }
.todayTxt .todayTxt_span{
    color: #CC4E61;
 }
  .join_column p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 168%;
    color: #CC4E61;
  }
  .join_column h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #4A4A4A;
  }
.or {
  height: 6em;
    top: -12rem;
/*   left: 18px; */
    position: relative;
    height: 6em;
    border-right: 1px solid #aaa;
}

.or-line {
  border-right: 1px solid #aaa;
  height: 6em;
}
}
 
}

  @media (min-width: 481px) and (max-width:767px) {
    .join_program{
          margin: -32px 0px;
    }
    .join_column {
      width: 100%;
      margin-left:0px;
      margin-right:0px;
      margin-top: -2rem;
      padding: 0px 20px;
    }
    .or {
       border-bottom: 1px solid #aaa;
      border-right: none;
/*    width: 6em; */
      top:-9rem; 
}
.todayTxt{
    font-size: 15px;
  text-align:center;
  font-weight:bold;
    }

    .join_column p {
        font-size: 12px;
      font-weight: bold;
    }
    .join_column h3{
        font-size: 10px;
/*           margin-left: 3rem; */
/*           margin-right: 3rem; */
    }
    .join_column .one_txt{
      margin-top:-4rem;
    }
     .join_column .two_txt{
      margin-top:2rem;
    }
  }