
@media (min-width: 1281px) {
    .key_lines{
        position: relative;
        max-width: 100%;;
        margin: 100px auto 45px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 168%;
        color: #CC4E61;
      margin-bottom:10rem;

}
   .key_lines1{
        position: relative;
        max-width: 100%;;
        margin: 100px auto 45px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 168%;
        color: #CC4E61;
      margin-bottom:10rem;

}
.span_key_lines{
    color: #4A4A4A;
    font-weight: 300;
    font-size: 19px;

}
.key_lines:before{
  content:" ";
  height: 6px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.key_lines:after{
  content:" ";
  height: 6px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
}


@media (min-width: 1025px) and (max-width: 1280px) {
    .key_lines{
        position: relative;
        max-width: 100%;;
        margin: 81px auto 45px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 168%;
        color: #CC4E61;
      margin-bottom:10rem;

}
.span_key_lines{
    color: #4A4A4A;
    font-weight: 300;

}
.key_lines:before{
  content:" ";
  height: 6px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.key_lines:after{
  content:" ";
  height: 6px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .key_lines{
        position: relative;
        max-width: 100%;;
        margin: 81px auto 45px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 168%;
        color: #CC4E61;
      margin-bottom:10rem;

}
.span_key_lines{
    color: #4A4A4A;
    font-weight: 300;

}
.key_lines:before{
  content:" ";
  height: 6px;
  width: 26%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.key_lines:after{
  content:" ";
  height: 6px;
  width: 26%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
}
@media (min-width: 481px) and (max-width: 767px) {
    .key_lines{
        font-size: 15px;
      font-weight:bold;
      width:100%;
       color: #CC4E61;
      margin-top:3rem;
      margin-bottom:6rem;
      text-align: center;
}
  .span_key_lines{
    color: #4A4A4A;
    font-weight: 300;

}
  .key_lines:before{
  content:" ";
  height: 6px;
  width: 28%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: relative;
  top: 19px;
  left: 0;
}

.key_lines:after{
  content:" ";
  height: 6px;
  width: 28%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: relative;
  top: -27px;
  right: -72.7%;
}
}
@media (min-width: 320px) and (max-width: 480px) {
    .key_lines{
        font-size: 15px;
        font-weight:bold;
        width:100%;
       color: #CC4E61;
        margin-top:3rem;
        margin-bottom:6rem;
        text-align: center;
}
  .span_key_lines{
    color: #4A4A4A;
    font-weight: 300;

}
  .key_lines:before{
  content:" ";
  height: 6px;
  width: 18%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: relative;
  top: 19px;
  left: 0;
}

.key_lines:after{
  content:" ";
  height: 6px;
  width: 18%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: relative;
  top: -27px;
  right: -81.9%;
}
}
@media(max-width: 319px) {
    .key_lines{
        font-size: 14px;
        font-weight:bold;
        width:100%;
       color: #CC4E61;
        margin-top:3rem;
        margin-bottom:6rem;
        text-align: center;
}
  .span_key_lines{
    color: #4A4A4A;
    font-weight: 300;

}
  .key_lines:before{
  content:" ";
  height: 6px;
  width: 15%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: relative;
  top: 19px;
  left: 0;
}

.key_lines:after{
  content:" ";
  height: 6px;
  width: 15%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: relative;
  top: -27px;
  right: -81.9%;
}
}