/*    .ambakey_lines .key_lines{
        position: relative;
        max-width: 100%;;
        margin: 0px auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 168%;
        color: #CC4E61;
}
  .ambakey_lines .key_lines .span_key_lines{
    color: #4A4A4A;
    font-weight: 300;

}
 .ambakey_lines .key_lines:before{
  content:" ";
  height: 4px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

 .ambakey_lines .key_lines:after{
  content:" ";
  height: 4px;
  width: 32%;
  background: #CC4E61;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

@media screen and(max-width:768px){
    .ambakey_lines .key_lines{
        font-size: 13px;
}
} */

    .key_lines{
        position: relative;
        max-width: 100%;;
        margin: 0px auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 168%;
        color: #CC4E61;
}
.span_key_lines{
    color: #4A4A4A;
    font-weight: 300;

}
.key_lines:before{
  content:" ";
  height: 4px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.key_lines:after{
  content:" ";
  height: 4px;
  width: 32%;
  background: #CC4E61;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

@media screen and(max-width:768px){
    .key_lines{
        font-size: 13px;
}
}