.slider_week {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider__slides_week {
  position: relative;
  width: 402%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  will-change: transform;
}
.slider_week[data-pos="0"] .slider__slides_week {
  transform: translateX(0%);
}
.slider_week[data-pos="1"] .slider__slides_week {
  transform: translateX(-25%);
}
.slider_week[data-pos="2"] .slider__slides_week {
  transform: translateX(-50%);
}
.slider_week[data-pos="3"] .slider__slides_week {
  transform: translateX(-75%);
}
.slider__slide_w {
  float: left;
  width: 25%;
  height: 100%;
  display:flex;
}
.slider__dots_week {
  display: flex;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}
.slider__dot_w, .slider__indicator_w {
  display: block;
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
  background: #ffd8de;
  border-radius: 100px;
}
.slider__indicator_w {
  position: absolute;
  background: #cc4e61;
  width: auto;
}
.slider__indicator_w--left {
  transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.slider__indicator_w--right {
  transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.slider_week[data-pos="0"] .slider__indicator_w {
  left: 0em;
  right: 6em;
}
.slider_week[data-pos="1"] .slider__indicator_w {
  left: 2em;
  right: 4em;
}
.slider_week[data-pos="2"] .slider__indicator_w {
  left: 4em;
  right: 2em;
}
.slider_week[data-pos="3"] .slider__indicator_w {
  left: 6em;
  right: 0em;
}

.center_week {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.slider_week {
  max-width: 90%;
  max-height: 645px;
}
.alisha-review-slid h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  color: #CC4E61;
}
.alisha-review-slid p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #4A4A4A;
}
.read_review_btn button{
  background: #CC4E61;
  border-radius: 63px;
  padding: 10px 28px;
  color:#fff;
  border:none;
  font-size: 16px;
}
. hidden-desktop{
    display:none;
  }
.hidden-mobile img{
      height: 495px;
    width: 877px;
}
 .alisha-review-slid{
    padding:0px 15px;
  }

@media screen and (min-width:1281px) and (max-width:1591px){
  .slider_week {
  max-width: 90%;
  max-height: 590px;
}

  .hidden-mobile img{
      height: 357px;
    width: 616px;
}
  .center_week {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.slider_week {
  max-width: 90%;
  max-height: 590px;
}
  .alisha-review-slid{
    padding:0px 35px;
  }
}
@media screen and (min-width:1025px) and (max-width:1280px){
  .slider_week {
  max-width: 90%;
  max-height: 590px;
}

  .hidden-mobile img{
     height: 306px;
    width: 492px;
}
  .center_week {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.slider_week {
  max-width: 90%;
  max-height: 590px;
}
  .alisha-review-slid{
    padding:0px 35px;
  }
}
@media screen and (min-width:990px) and (max-width:1024px){
  .slider_week {
  max-width: 90%;
  max-height: 590px;
}

  .hidden-mobile img{
     height: 301px;
    width: 499px;
}
  .center_week {
  display: flex;
  height: 74vh;
  justify-content: center;
  align-items: center;
}

.slider_week {
  max-width: 90%;
  max-height: 590px;
}
  .alisha-review-slid{
    padding:0px 35px;
  }
}
@media screen and (min-width:768px) and (max-width:989px){
  .slider__slide_w{
    flex-direction:column;
    height: 60vh;
  }
  .hidden-desktop{
    text-align:center;
  }
  . hidden-mobile{
    display:none;
  }
  .center_week {
    display: flex;
    height: 94vh;
    justify-content: center;
    align-items: center;
}
 .slider_week {
    max-width: 90%;
    max-height: 920px;
}
  .slider__slides_week {
    height:120%;
  }
  .hidden-desktop img{
    width:247px;
    height:47vh;
  }
}
@media screen and (min-width:481px) and (max-width:767px){
  .slider__slide_w{
    flex-direction:column;
    height: 60vh;
  }
  .hidden-desktop{
    text-align:center;
  }
  . hidden-mobile{
    display:none;
  }
  .center_week {
    display: flex;
    height: 124vh;
    justify-content: center;
    align-items: center;
}
 .slider_week {
    max-width: 90%;
    max-height: 1072px;
}
  .slider__slides_week {
    height:120%;
  }
  .hidden-desktop img{
    width:247px;
    height:62vh;
  }
}
@media screen and (min-width:300px) and (max-width:480px){
  .slider__slide_w{
    flex-direction:column;
    height: 60vh;
  }
  .hidden-desktop{
    text-align:center;
  }
  . hidden-mobile{
    display:none;
  }
  .center_week {
    display: flex;
    height: 174vh;
    justify-content: center;
    align-items: center;
}
 .slider_week {
    max-width: 90%;
    max-height: 1334px;
}
  .slider__slides_week {
    height:120%;
  }
  .hidden-desktop img{
    width:247px;
    height:62vh;
  }
}

