.mobile-container {
  margin-top: 6px;
}
a.slideshow-.slideshow-button {
  background-color: #cc4e61;
  text-decoration: none;
  color: white;
}
a.slideshow-.slideshow-home {
  background-color: #cc4e61;
  text-decoration: none;
  color: white;
}
/* READ MORE */
.read-more-wrap {
  margin: 0;
  font-size: calc(0.75em + 1.15vw);
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-target {
  opacity: 1;
  font-size: calc(0.5em + 1.15vw);
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "View more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "View less";
}
/* .flickity-page-dot {
  display: none;
} */
.read-more-trigger {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  color: #ffff;
  font-size: 0.9em;
  text-decoration: underline;
  top: 15px;
  position: relative;
}


.acne-child .child-head h1 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
  font-weight: 800;
  color: #ffff;
}

.slideshow-stars {
  line-height: 2;
  margin-top: 1%;
  font-size: 15px;
}
.slideshow-author {
  line-height: 0;
  font-size: 10px;
  margin-top: 0%;
}

.white-it {
  color: #ffff;
}

.pink-it {
  color: #cc4e61;
}

.grey-it {
  color: #4a4a4a;
}

.blur-section {
    margin-top: -60%;
    max-width: 105% !important;
    width: 107%;
    left: -3%;
    position: absolute;
    padding: 1.5rem 2rem 3rem;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217,217,217,.1);
    box-shadow: inset 37.6667px -37.6667px 37.6667px #a5a5a51a, inset -37.6667px 37.6667px 37.6667px #ffffff1a;
    backdrop-filter: blur(37.6667px);
    border-radius: 30px 30px 0 0;
}

.acne-blur-section {
    margin-top: -60%;
    max-width: 105% !important;
    width: 107%;
    left: -3%;
    position: absolute;
    padding: 1.5rem 2rem 3rem;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217,217,217,.1);
    box-shadow: inset 37.6667px -37.6667px 37.6667px #a5a5a51a, inset -37.6667px 37.6667px 37.6667px #ffffff1a;
    backdrop-filter: blur(37.6667px);
    border-radius: 30px 30px 0 0;
}

.desktop-blur-section {
/*     max-width: 107%;
    width: 107%; */
    position: absolute;
    bottom: 1%;
    padding: 1.5rem 2rem 3rem;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217,217,217,.1);
    box-shadow: inset 37.6667px -37.6667px 37.6667px #a5a5a51a, inset -37.6667px 37.6667px 37.6667px #ffffff1a;
    backdrop-filter: blur(37.6667px);
    border-radius: 30px 0px 30px 0;
}



@media screen and (min-width: 750px) {
  .blur-section {
     all: unset; 
  }
}

@media (min-width: 650px) and (max-width: 749px) {
  .blur-section {
    margin-top: -18%;
    padding: 1.5rem 2rem 0rem;
  }
}



@media (min-width: 600px) and (max-width: 650px) {
  .blur-section {
    margin-top: -20%;
    padding: 1.5rem 2rem 0rem;
  }
}
@media (min-width: 550px) and (max-width: 600px) {
  .blur-section {
    margin-top: -25%;
    padding: 1.5rem 2rem 0rem;
  }
}

@media (min-width: 510px) and (max-width: 550px) {
  .blur-section {
    margin-top: -27%;
    padding: 1.5rem 2rem 0rem;
  }
}

@media (min-width: 480px) and (max-width: 510px) {
  .blur-section {
    margin-top: -33%;
    padding: 1.5rem 0.5rem 0rem;
  }
}

@media (min-width: 430px) and (max-width: 480px) {
  .blur-section {
    margin-top: -38%;
    padding: 1.5rem 0.5rem 0rem;
  }
}


@media (min-width: 390px) and (max-width: 430px) {
  .blur-section {
    margin-top: -45%;
    padding: 0.5rem 0rem 0rem;
  }
}
@media (min-width: 350px) and (max-width: 390px) {
  .blur-section {
    margin-top: -50%;
    padding: 0.1rem 0rem 0rem;
  }
  .typeset0, .typeset, .typeset2, .typeset3 {
    line-height: calc(1 + .3 / var(--font-body-scale));
    color: rgb(var(--color-foreground));
    font-size: 1.3rem;
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  .blur-section {
    margin-top: -55%;
    padding: 1rem;
  }
  .typeset0, .typeset, .typeset2, .typeset3 {
    line-height: calc(1 + .1 / var(--font-body-scale));
    color: rgb(var(--color-foreground));
    font-size: 1rem;
  }
}
/* @media screen and (min-height: 750px) {
  .blur-section {
     all: unset; 
  }
} */
/* @media screen and (min-height: 990px) {

} */
@media (max-width: 990px) {
  .slideshow {
    overflow: unset;
  }

  #shopify-section-template--17180309160247__rich-text-0 {
      --section-padding-top: 100px;
      --section-padding-bottom: 40px;
  }
  .slideshow--mobile-overlay .flickity-page-dots {
    visibility: hidden;
  }
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 990px) {

  .hidden-desktop {
    display: none;
  }
}