  .container {
    margin-top: 15px;
  }

  /* READ MORE */
  .read-more-wrap {
    margin: 0;
    font-size: calc(0.75em + 1.15vw);
  }

  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
  }

  .read-more-state:checked ~ .read-more-target {
    opacity: 1;
    font-size: calc(0.5em + 1.15vw);;
    max-height: 999em;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: "View more";
  }

  .read-more-state:checked ~ .read-more-trigger:before {
    content: "View less";
  }

  .read-more-trigger {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    color: #ffff;
    font-size: 0.9em;
    text-decoration: underline;
    top: 5px;
    position: relative;
  }

  .parent {
    background-image: url('https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4_d3ae1f71-821e-408c-92f8-31df023d2a29.png?v=1669300452&width=2000');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .child {
    width: 45%;
    height: 30vh;
    position: absolute;
    bottom: 22%;
    left: 28%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #fff;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    max-width: 80%;
    padding: 1.5rem 2rem 3rem 2rem;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 37.6667px -37.6667px 37.6667px rgb(165 165 165 / 10%), inset -37.6667px 37.6667px 37.6667px rgb(255 255 255 / 10%);
    backdrop-filter: blur(37.6667px);
    border-radius: 30px 0px 29px;
  }


  .acne-child {
    width: 45%;
    height: 30vh;
    position: absolute;
    bottom: 22%;
    left: 28%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #fff;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    max-width: 80%;
    padding: 1.5rem 2rem 3rem 2rem;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 37.6667px -37.6667px 37.6667px rgb(165 165 165 / 10%), inset -37.6667px 37.6667px 37.6667px rgb(255 255 255 / 10%);
    backdrop-filter: blur(37.6667px);
    border-radius: 30px 0px 29px;
  }

  .pink-it {
    color: #cc4e61;
  }

  .grey-it {
    color: #4a4a4a                           ;
  }
  .child-head h1 p {
    font-size: calc(0.4em + 0.35vw);
    line-height: 0.05vw;
  }
  .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: -2%;
  }
  .final-line {
    font-size: calc(0.45em + 0.25vw);
    padding: 0 9vw;
    margin-bottom: 2%;
  }
  .top-line {
     font-size: calc(0.25em + 0.35vw);
     margin: auto;
     padding: 0 7vw;
  }
  .acne-top-line {
     font-size: calc(0.25em + 0.35vw);
     margin: auto;
     padding: 0 7vw;
  }
  .mid-text {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 1.5vw;
    margin: 0px -2.8%;
    font-size: calc(.3em + .6vw);
    font-weight: 400;
    color: #fff;
  }
  .slideshow-stars {
      line-height: 1;
      margin-top: 0%;
      font-size: 15px;
  }
  .slideshow-author {
      line-height: 0;
      font-size: 10px;
      margin-top: -1%;
  }
  .button {
      /* border: 1px solid; */
      padding: 2%;
      border-radius: 30vw;
      background: #cc4e61;
      cursor: pointer;
      min-width: 10rem;
      min-height: 3.5rem;
      font-size: 13px;
  }
  .mid-text:before,
  .mid-text:after {
    content: "";
    display: block;
    border-top: 2px solid currentColor;
  }

  .child-head h1 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    color: #ffff;
  }

 .top-left {
    top: -0px;
    left: 0%;
    -webkit-backdrop-filter: blur(0);
    -moz-backdrop-filter: blur(0);
    -o-backdrop-filter: blur(0);
    -ms--backdrop-filter: blur(0);
    backdrop-filter: blur(0px);
    background: rgba(217,217,217,0);
    text-align: left;
    box-shadow: none;
  }

 .top-left .top-line,
 .top-left .final-line {
   padding: unset;
 }

  .top-left .mid-text {
    font-size: calc(.3em + .6vw);
    margin: 0px .2%;
    grid-template-columns: unset;
    grid-gap: unset;
  }

  .top-left .mid-text:before,
  .top-left .mid-text:after {
    border-top: none;
  }
  @media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
    .child-head h1 {
      font-size: calc(0.6em + 1.35vw);
      margin-top: 0%;
    }
    .child-head h1 p {
      font-size: calc(0.4em + 1.75vw);
    }
    .child {
      width: 110%;
      height: 45vh;
      bottom: 10%;
      margin-bottom: -5%;
      max-width: 110%;
      left: -20px;
      border-radius: 30px 0 0;
    }
    .acne-child {
      width: 105%;
      height: 35vh;
      bottom: 10%;
      margin-bottom: 160%;
      max-width: 110%;
      left: -20px;
      border-radius: 30px 0 0;
      z-index: 4;
    }
    .read-more-wrap p {
      line-height: 1.2;
      font-size: calc(0.5em + 1.15vw);
      margin: 5px auto;
    }
    .text-2 {
      line-height: 1.2;
    }
    .slideshow-author {
      color: #4a4a4a;
    }
    .read-more-wrap {
      font-size: calc(0.75em + 1.15vw);
    }
    .slideshow-stars {
      margin-top: 3%;
    }
    .final-line {
      margin-bottom: 2%;
    }
    .read-more-trigger {
      color: #4a4a4a;
    }
    .slideshow--mobile-overlay {
      height: 85vh;
    }
    .slideshow {
      overflow: unset;
    }
    .slideshow--mobile-overlay .flickity-page-dots {
      bottom: 10rem;
    }
    .button {
      font-size: 10px;
    }
    
    .slideshow-stars .stars {
      font-size: 15px;
      color: #4a4a4a;
    }
    .top-left {
      top: 0px;
      left: 0%;
      -webkit-backdrop-filter: blur(37.6667px);
      -moz-backdrop-filter: blur(37.6667px);
      -o-backdrop-filter: blur(37.6667px);
      -ms--backdrop-filter: blur(37.6667px);
      background: rgba(217, 217, 217, 0.1);
      text-align: center;
    }
    .button {
      min-height: unset;
    }
  }
  @media (min-width: 767px) {
    .hidden-desktop {
      display: none;
    }
    .button {
      padding: 1%;
    }
  }
