  .container {
    margin-top: 15px;
  }

  /* READ MORE */
  .read-more-state {
    display: none;
  }

  .read-more-wrap {
    margin: 0;
    font-size: calc(0.75em + 1.15vw);
  }

  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
  }

  .read-more-state:checked ~ .read-more-target {
    opacity: 1;
    font-size: calc(0.5em + 1.15vw);;
    max-height: 999em;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: "View more";
  }

  .read-more-state:checked ~ .read-more-trigger:before {
    content: "View less";
  }

  .read-more-trigger {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    color: #ffff;
    font-size: 0.9em;
    text-decoration: underline;
  }

  .parent {
    background-image: url('https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_4_d3ae1f71-821e-408c-92f8-31df023d2a29.png?v=1669300452&width=2000');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .child {
    width: 60%;
    height: 50vh;
    position: absolute;
    bottom: 25%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #fff;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    max-width: 80%;
    padding: 1.5rem 2rem 3rem 2rem;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 37.6667px -37.6667px 37.6667px rgb(165 165 165 / 10%), inset -37.6667px 37.6667px 37.6667px rgb(255 255 255 / 10%);
    backdrop-filter: blur(37.6667px);
    border-radius: 30px 0px 29px;
  }


  .pink-it {
    color: #cc4e61;
  }
  .child-head h1 p {
    font-size: calc(0.4em + 0.35vw);
    line-height: 0.05vw;
  }
  .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: 3%;
  }
  .final-line {
    font-size: calc(0.75em + 0.25vw);
    padding: 0 9vw;
    margin-bottom: 2%;
  }
  .top-line {
     font-size: calc(0.75em + 0.5vw);
     margin: auto;
     padding: 0 7vw;
  }
  .mid-text {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 2vw;
    margin: 0 -3.8%;
    font-size: calc(0.65em + 0.7vw);
    font-weight: 400;
  }
  .slideshow-stars {
      line-height: 1;
      margin-top: 2%;
  }
  .slideshow-author {
      line-height: 0;
  }
  .button {
      /* border: 1px solid; */
      padding: 2%;
      border-radius: 30vw;
      background: #cc4e61;
      cursor: pointer;
  }
  .mid-text:before,
  .mid-text:after {
    content: "";
    display: block;
    border-top: 2px solid currentColor;
  }

  .child-head h1 {
    font-size: calc(var(--font-heading-scale) * 2.8rem);
  }

  .slideshow__image img {
    top: -55px;
  }
  @media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
    .child-head h1 {
      font-size: calc(0.6em + 1.35vw);
      margin-top: -6%;
    }
    .child-head h1 p {
      font-size: calc(0.4em + 1.75vw);
    }
    .child {
      width: 110%;
      height: 50vh;
      bottom: 10%;
      margin-bottom: -25%;
      max-width: 110%;
      left: -20px;
      border-radius: 30px 0px 0px;
      box-shadow: 10px transparent;
    }
    .read-more-wrap p {
      line-height: 1.2;
      font-size: calc(0.5em + 1.15vw);
    }
    .text-2 {
      line-height: 1.2;
    }
    .slideshow-stars {
      color: #4a4a4a;
    }
    .slideshow-author {
      color: #4a4a4a;
    }
    .read-more-wrap {
      font-size: calc(0.75em + 1.15vw);
    }
    .slideshow-stars {
      margin-top: 3%;
    }
    .final-line {
      margin-bottom: 2%;
    }
    .read-more-trigger {
      color: #4a4a4a;
    }
    .slideshow--mobile-overlay {
      height: 85vh;
    }
    .slideshow {
      overflow: unset;
    }
    .slideshow--mobile-overlay .flickity-page-dots {
      bottom: 10rem;
    }
    .button {
      font-size: 10px;
    }

    stars {
      font-size: 15px;
    }
  }
  @media (min-width: 767px) {
    .hidden-desktop {
      display: none;
    }
    .button {
      padding: 1%;
    }
  }
