.mobile-container {
  margin-top: 15px;
}

/* READ MORE */
.read-more-wrap {
  margin: 0;
  font-size: calc(0.75em + 1.15vw);
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-target {
  opacity: 1;
  font-size: calc(0.5em + 1.15vw);
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "View more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "View less";
}

.read-more-trigger {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  color: #ffff;
  font-size: 0.9em;
  text-decoration: underline;
  top: 5px;
  position: relative;
}

.parent {
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
}

.child {
  width: calc(var(--page-width) * 0.62);
  height: calc(30vh - var(--announcement-height, 0px));
  /*  position: absolute;
    bottom: calc(25vh - var(--announcement-height, 0px));
    left: 25vw; */
  margin-bottom: -50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: #fff;
  font-family: system-ui, sans-serif;
  line-height: 1.8;
  max-width: 90%;
  padding: 1.5rem 2rem 3rem 2rem;
  text-align: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(37.6667px);
  -moz-backdrop-filter: blur(37.6667px);
  -o-backdrop-filter: blur(37.6667px);
  -ms--backdrop-filter: blur(37.6667px);
  background: rgba(217, 217, 217, 0.1);
  box-shadow: inset 37.6667px -37.6667px 37.6667px rgb(165 165 165 / 10%),
    inset -37.6667px 37.6667px 37.6667px rgb(255 255 255 / 10%);
  backdrop-filter: blur(37.6667px);
  border-radius: 30px 0px 29px;
}

.rosa-child {
  width: calc(var(--page-width) * 0.62);
  height: calc(35vh - var(--announcement-height, 0px));
  position: absolute;
  bottom: 2%;
  left: %;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: #fff;
  font-family: system-ui, sans-serif;
  line-height: 0.5;
  max-width: 80%;
  padding: 1.5rem 2rem 3rem 2rem;
  text-align: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(37.6667px);
  -moz-backdrop-filter: blur(37.6667px);
  -o-backdrop-filter: blur(37.6667px);
  -ms--backdrop-filter: blur(37.6667px);
  background: rgba(217, 217, 217, 0.1);
  box-shadow: inset 37.6667px -37.6667px 37.6667px rgb(165 165 165 / 10%),
    inset -37.6667px 37.6667px 37.6667px rgb(255 255 255 / 10%);
  backdrop-filter: blur(37.6667px);
  border-radius: 30px 0px 29px;
}

.acne-child {
  width: calc(var(--page-width) * 0.4);
  height: calc(30vh - var(--announcement-height, 0px));
  position: absolute;
  bottom: 1%;
  left: 33%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: #fff;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  max-width: 80%;
  padding: 1.5rem 2rem 3rem 2rem;
  text-align: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(37.6667px);
  -moz-backdrop-filter: blur(37.6667px);
  -o-backdrop-filter: blur(37.6667px);
  -ms--backdrop-filter: blur(37.6667px);
  background: rgba(217, 217, 217, 0.1);
  box-shadow: inset 37.6667px -37.6667px 37.6667px rgb(165 165 165 / 10%),
    inset -37.6667px 37.6667px 37.6667px rgb(255 255 255 / 10%);
  backdrop-filter: blur(37.6667px);
  border-radius: 30px 0px 29px;
}

.child-head h1 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
  font-weight: 600;
}
.acne-child .child-head h1 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
  font-weight: 600;
  color: #ffff;
}
.child-head h1 p {
  font-size: calc(0.4em + 0.35vw);
  line-height: 0.05vw;
  font-weight: 400;
}
.child-head {
  margin-top: -2%;
}

.final-line {
  font-size: calc(0.25em + 0.45vw);
  padding: 0 2vw;
  margin-bottom: 2%;
}
.top-line {
  font-size: calc(0.25em + 0.45vw);
  margin: auto;
  padding: 0 2vw;
}
.acne-top-line {
  font-size: calc(0.25em + 0.35vw);
  margin: auto;
}
.mid-text {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  grid-gap: 0.5vw;
  margin: 0px -3.8%;
  font-size: calc(0.3em + 0.6vw);
  font-weight: 400;
  color: #fff;
}
.slideshow-stars {
  line-height: 1;
  margin-top: 0%;
  font-size: 15px;
}
.slideshow-author {
  line-height: 0;
  font-size: 10px;
  margin-top: -1%;
}

.white-it {
  color: #ffff;
}

.pink-it {
  color: #cc4e61;
}

.grey-it {
  color: #4a4a4a;
}

.button {
  /* border: 1px solid; */
  padding: 2%;
  border-radius: 30vw;
  background: #cc4e61;
  cursor: pointer;
  min-width: 10rem;
  min-height: 3.5rem;
  font-size: 13px;
}
.mid-text:before,
.mid-text:after {
  content: "";
  display: block;
  border-top: 2px solid currentColor;
}

.top-left {
  display: block;
  position: absolute;
  top: -0px;
  left: 0%;
  -webkit-backdrop-filter: blur(0);
  -moz-backdrop-filter: blur(0);
  -o-backdrop-filter: blur(0);
  -ms--backdrop-filter: blur(0);
  backdrop-filter: blur(0px);
  background: rgba(217, 217, 217, 0);
  text-align: left;
  box-shadow: none;
}

.top-left .top-line,
.top-left .final-line {
  padding: unset;
}
.flexed-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: -10vh;
}
.top-left .mid-text {
  font-size: calc(0.3em + 0.6vw);
  margin: 0px 0.2%;
  grid-template-columns: unset;
  grid-gap: unset;
}

.top-left .mid-text:before,
.top-left .mid-text:after {
  border-top: none;
}

.rosa-top-left {
  top: 40%;
  left: 4%;
  -webkit-backdrop-filter: blur(0);
  -moz-backdrop-filter: blur(0);
  -o-backdrop-filter: blur(0);
  -ms--backdrop-filter: blur(0);
  backdrop-filter: blur(0px);
  background: rgba(217, 217, 217, 0);
  text-align: left;
  box-shadow: none;
  /* margin: 0% 0; */
  height: 35vh;
}
.rosa-top-left .child-head h1 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
  font-weight: 600;
}
.rosa-top-left .acne-top-line {
  margin: unset;
  padding: unset;
  font-size: calc(0.25em + 0.65vw);
}

.rosa-top-left .slideshow-stars {
  padding: 0 1%;
}
.rosa-top-left .slideshow-author {
  padding: 0 1.5%;
  margin-top: 0%;
}
.rosa-top-left .button {
  margin: 1% 0;
}

.acne-child .child-h1 p {
  font-weight: 100;
}

.flickity-page-dot.is-selected:before,
.slideshow--legacy .flickity-page-dots .flickity-page-dot:after,
.slideshow--legacy .flickity-page-dots .flickity-page-dot:before {
  background-color: white;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
  .child-head h1 {
    font-size: calc(0.6em + 1.35vw);
    margin-top: 0%;
  }
  .child-head h1 p {
    font-size: calc(0.4em + 1.75vw);
  }
  .child {
    width: 1100%;
    height: 45vh;
    margin-bottom: -5%;
    position: absolute;
    max-width: 110%;
    left: -20px;
    border-radius: 30px 0 0;
  }
  .acne-child {
    width: 102%;
    height: 40vh;
    bottom: -8vh;
    max-width: 110%;
    left: -10px;
    border-radius: 30px 0 0;
    z-index: 4;
  }
  .read-more-wrap p {
    line-height: 1.2;
    font-size: calc(0.5em + 1.15vw);
    margin: 5px auto;
  }
  .text-2 {
    line-height: 1.2;
  }
  .slideshow-author {
    color: #4a4a4a;
  }
  .read-more-wrap {
    font-size: calc(0.75em + 1.15vw);
  }
  .slideshow-stars {
    margin-top: 3%;
  }
  .final-line {
    margin-bottom: 2%;
  }
  .read-more-trigger {
    color: #4a4a4a;
  }
  .slideshow--mobile-overlay {
    height: 85vh;
  }
  .slideshow {
    overflow: unset;
  }
  .slideshow--mobile-overlay .flickity-page-dots {
    bottom: 10rem;
  }
  .button {
    font-size: 10px;
  }

  .slideshow-stars .stars {
    font-size: 15px;
    color: #4a4a4a;
  }
  .top-left {
    top: 0px;
    left: 0%;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217, 217, 217, 0.1);
    text-align: center;
  }
  .button {
    min-height: unset;
  }
  .slideshow-button {
    width: unset;
  }
}

@media (min-width: 767px) {
  .hidden-desktop {
    display: none;
  }
  .button {
    padding: 1%;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .child {
    width: calc(var(--page-width) * 0.35);
    height: calc(35vh - var(--announcement-height, 0px));
    bottom: 10%;
    margin-bottom: -5%;
    max-width: 100%;
    left: -20px;
    border-radius: 30px 0 0;
  }
  .acne-child {
    width: calc(var(--page-width) * 0.35);
    height: calc(42vh - var(--announcement-height, 0px));
    bottom: 1vh;
    max-width: 110%;
    border-radius: 30px 0 0;
    z-index: 4;
    left: 30%;
  }
  .rosa-top-left {
    top: 40%;
    left: 4%;
    -webkit-backdrop-filter: blur(0);
    -moz-backdrop-filter: blur(0);
    -o-backdrop-filter: blur(0);
    -ms--backdrop-filter: blur(0);
    backdrop-filter: blur(0px);
    background: rgba(217, 217, 217, 0);
    text-align: left;
    box-shadow: none;
    height: 49vh;
  }
  .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: -5%;
  }
  .rosa-top-left .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: -3%;
  }
  .top-left {
    display: block;
    position: absolute;
    top: 10%;
    left: 4%;
  }
  .button {
    margin-top: 10px;
  }
}
@media (min-width: 990px) and (max-width: 1280px) {
  .child {
    width: calc(var(--page-width) * 0.35);
    height: calc(35vh - var(--announcement-height, 0px));
    bottom: 10%;
    margin-bottom: -35%;
    max-width: 100%;
    left: -20px;
    border-radius: 30px 0 0;
  }
  .acne-child {
    width: calc(var(--page-width) * 0.35);
    height: calc(42vh - var(--announcement-height, 0px));
    bottom: 1vh;
    max-width: 110%;
    border-radius: 30px 0 0;
    z-index: 4;
    left: 30%;
  }
  .rosa-top-left {
    top: 40%;
    left: 4%;
    -webkit-backdrop-filter: blur(0);
    -moz-backdrop-filter: blur(0);
    -o-backdrop-filter: blur(0);
    -ms--backdrop-filter: blur(0);
    backdrop-filter: blur(0px);
    background: rgba(217, 217, 217, 0);
    text-align: left;
    box-shadow: none;
    height: 49vh;
  }
  .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: -5%;
  }
  .rosa-top-left .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: -3%;
  }
  .top-left {
    display: block;
    position: absolute;
    top: 10%;
    left: 4%;
  }
  .button {
    margin-top: 10px;
  }
}
@media (min-width: 1280px) and (max-width: 1500px) {
  .child {
    width: calc(var(--page-width) * 0.35);
    height: calc(35vh - var(--announcement-height, 0px));
    bottom: 10%;
    margin-bottom: -5%;
    max-width: 100%;
    left: -20px;
    border-radius: 30px 0 0;
  }
  .acne-child {
    width: calc(var(--page-width) * 0.35);
    height: calc(42vh - var(--announcement-height, 0px));
    bottom: 1vh;
    max-width: 110%;
    border-radius: 30px 0 0;
    z-index: 4;
    left: 30%;
  }
  .rosa-top-left {
    top: 40%;
    left: 4%;
    -webkit-backdrop-filter: blur(0);
    -moz-backdrop-filter: blur(0);
    -o-backdrop-filter: blur(0);
    -ms--backdrop-filter: blur(0);
    backdrop-filter: blur(0px);
    background: rgba(217, 217, 217, 0);
    text-align: left;
    box-shadow: none;
    height: 49vh;
  }
  .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: -5%;
  }
  .rosa-top-left .child-head {
    font-size: calc(1.3em + 0.35vw);
    margin-top: -3%;
  }
  .top-left {
    display: block;
    position: absolute;
    top: 10%;
    left: 4%;
  }
  .button {
    margin-top: 10px;
  }
}
@media (min-width: 2000px) {
  .child {
    width: calc(var(--page-width) * 0.5);
    height: calc(30vh - var(--announcement-height, 0px));
    margin-bottom: -5%;
    max-width: 100%;
    left: -20px;
    border-radius: 30px 0 30px;
  }
  .acne-child {
    width: calc(var(--page-width) * 0.4);
    height: calc(28vh - var(--announcement-height, 0px));
    max-width: 110%;
    margin-bottom: 1%;
    border-radius: 30px 0 30px;
    z-index: 4;
    left: 36%;
  }
  .top-left {
    display: block;
    position: absolute;
    top: 10%;
    left: 4%;
  }
  .slideshow-author {
    margin-top: 0px;
  }
  .slideshow-stars {
    margin-top: 1%;
  }
}
