.blur-section {
    margin-top: -43%;
    max-width: 107%;
    width: 107%;
    left: -4%;
    position: absolute;
    padding: 1.5rem 2rem 3rem;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(37.6667px);
    -moz-backdrop-filter: blur(37.6667px);
    -o-backdrop-filter: blur(37.6667px);
    -ms--backdrop-filter: blur(37.6667px);
    background: rgba(217,217,217,.1);
    box-shadow: inset 37.6667px -37.6667px 37.6667px #a5a5a51a, inset -37.6667px 37.6667px 37.6667px #ffffff1a;
    backdrop-filter: blur(37.6667px);
    border-radius: 30px 30px 0 0;
}

@media screen and (min-height: 999px) {
  .blur-section {
     all: unset; 
  }
}

/* @media screen and (min-height: 990px) {

} */
@media (max-width: 990px) {
    .slideshow {
    overflow: unset;
  }
  .slideshow--mobile-overlay .flickity-page-dots {
    visibility: hidden;
  }
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 990px) {
  .slideshow__card {
    width: 50vw;
  }
  .hidden-desktop {
    display: none;
  }
}