@media (min-width:1592px){
.slides_review_alisha {
    padding: 0;
    width: 83%;
    height: 542px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides_review_alisha * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides_review_alisha input { display: none; }

.slide-alisha-container { display: block; }

.slider__slide_ali {
    top: 0;
    opacity: 0;
    /* width: 609px; */
    height: 452px;
    display: block;
    position: absolute;
    display:flex;
    transform: translate(1,0);
    transition: all .7s ease-in-out;
}
.alisha-review-slid{
    width:100%;
    padding:0px 35px
  }
.slider__slide_ali img {
    width: 100%;
    height: 100%;
}
.alisha-review-slid h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    color: #CC4E61;
  }
  .alisha-review-slid p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #4A4A4A;
  }
  .read_review_btn button{
    background: #CC4E61;
    border-radius: 63px;
    padding: 10px 28px;
    color:#fff;
    border:none;
    font-size: 16px;
  }
.nav_alish label {
    width: 40px;
    /*height: 60px;*/
    height: 100%;
    display: none;
    position: absolute;
    /*margin: auto;*/

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 40pt;
    text-align: center;
    line-height: 380px;
    font-family: "Arial", sans-serif;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slider__slide_ali:hover + .nav_alish label { opacity: 0.5; }

.nav_alish label:hover { opacity: 1; }

.nav_alish .next { right: 0; }

input:checked + .slide-alisha-container  .slider__slide_ali {
    opacity: 1;

    /*transform: scale(1);*/
    /*transform: translate();*/
    /*transform: scale(2,3);*/

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-alisha-container .nav_alish label { display: block; }

.nav_alish-dots {
	width: 100%;
	bottom: 23px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav_alish-dots .nav_alish-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(204, 78, 97, 0.43);
}

.nav_alish-dots .nav_alish-dot:hover {
	cursor: pointer;
	background-color: #cc4e61;
}

input#img-1-alis:checked ~ .nav_alish-dots label#img-dot-1,
input#img-2-alis:checked ~ .nav_alish-dots label#img-dot-2,
input#img-3-alis:checked ~ .nav_alish-dots label#img-dot-3
 {background: #cc4e61;}
}
@media (min-width:1281px) and (max-width:1591px){
  .slides_review_alisha {
    padding: 0;
    width: 91%;
    height: 542px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides_review_alisha * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides_review_alisha input { display: none; }

.slide-alisha-container { display: block; }

.slider__slide_ali {
    top: 0;
    opacity: 0;
    /* width: 609px; */
    height: 452px;
    display: block;
    position: absolute;
    display:flex;
    transform: translate(1,0);
    transition: all .7s ease-in-out;
}
.alisha-review-slid{
    width:100%;
    padding:0px 35px
  }
.slider__slide_ali img {
    width: 627px;
    height: 370px;
}
.alisha-review-slid h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    color: #CC4E61;
  }
  .alisha-review-slid p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #4A4A4A;
  }
  .read_review_btn button{
    background: #CC4E61;
    border-radius: 63px;
    padding: 10px 28px;
    color:#fff;
    border:none;
    font-size: 16px;
  }
.nav_alish label {
    width: 40px;
    /*height: 60px;*/
    height: 100%;
    display: none;
    position: absolute;
    /*margin: auto;*/

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 40pt;
    text-align: center;
    line-height: 380px;
    font-family: "Arial", sans-serif;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slider__slide_ali:hover + .nav_alish label { opacity: 0.5; }

.nav_alish label:hover { opacity: 1; }

.nav_alish .next { right: 0; }

input:checked + .slide-alisha-container  .slider__slide_ali {
    opacity: 1;

    /*transform: scale(1);*/
    /*transform: translate();*/
    /*transform: scale(2,3);*/

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-alisha-container .nav_alish label { display: block; }

.nav_alish-dots {
	width: 100%;
	bottom: 61px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav_alish-dots .nav_alish-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(204, 78, 97, 0.43);
}

.nav_alish-dots .nav_alish-dot:hover {
	cursor: pointer;
	background-color: #cc4e61;
}

input#img-1-alis:checked ~ .nav_alish-dots label#img-dot-1,
input#img-2-alis:checked ~ .nav_alish-dots label#img-dot-2,
input#img-3-alis:checked ~ .nav_alish-dots label#img-dot-3
 {background: #cc4e61;}
}
@media (min-width:1025px) and (max-width:1280px){
  .slides_review_alisha {
    padding: 0;
    width: 91%;
    height: 542px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides_review_alisha * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides_review_alisha input { display: none; }

.slide-alisha-container { display: block; }

.slider__slide_ali {
    top: 0;
    opacity: 0;
    /* width: 609px; */
    height: 452px;
    display: block;
    position: absolute;
    display:flex;
    transform: translate(1,0);
    transition: all .7s ease-in-out;
}
.alisha-review-slid{
    width:100%;
    padding:0px 35px
  }
.slider__slide_ali img {
    width: 470px;
    height: 302px;
}
.alisha-review-slid h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #CC4E61;
  }
  .alisha-review-slid p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4A4A4A;
  }
  .read_review_btn button{
    background: #CC4E61;
    border-radius: 63px;
    padding: 10px 28px;
    color:#fff;
    border:none;
    font-size: 16px;
  }
.nav_alish label {
    width: 40px;
    /*height: 60px;*/
    height: 100%;
    display: none;
    position: absolute;
    /*margin: auto;*/

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 40pt;
    text-align: center;
    line-height: 380px;
    font-family: "Arial", sans-serif;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slider__slide_ali:hover + .nav_alish label { opacity: 0.5; }

.nav_alish label:hover { opacity: 1; }

.nav_alish .next { right: 0; }

input:checked + .slide-alisha-container  .slider__slide_ali {
    opacity: 1;

    /*transform: scale(1);*/
    /*transform: translate();*/
    /*transform: scale(2,3);*/

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-alisha-container .nav_alish label { display: block; }

.nav_alish-dots {
	width: 100%;
	bottom: 61px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav_alish-dots .nav_alish-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(204, 78, 97, 0.43);
}

.nav_alish-dots .nav_alish-dot:hover {
	cursor: pointer;
	background-color: #cc4e61;
}

input#img-1-alis:checked ~ .nav_alish-dots label#img-dot-1,
input#img-2-alis:checked ~ .nav_alish-dots label#img-dot-2,
input#img-3-alis:checked ~ .nav_alish-dots label#img-dot-3
 {background: #cc4e61;}
}
 @media screen and (max-width:768px){
    .slider__slide_ali {
  flex-direction:column;
    
    }
    .nav_alish-dots {
        width: 100%;
        bottom: -256px;
        /* height: 11px; */
        display: block;
        position: absolute;
        text-align: center;
    }
  }