.our.logo {
        text-align: center;
        width: 5%;
       
        
      }

      h1 {
        font-family: "Poppins";
        margin: 100px auto;
        text-align: center;
        color: #f36c6c;
        font-size: 18px;
        line-height: 168%;
        width: 748px;
        position: relative;
      }
      h1:before {
        content: "";
        display: block;
        width: 467px;
        height: 5px;
        background: #f36c6c;
        left: -603px;

        position: relative;
      }
      h1:after {
        content: "";
        display: block;
        width: 467px;
        height: 5px;
        background: #f36c6c;
        right: -601px;
/*         top: 6px; */
        position: absolute;
      }
      @media screen and (max-width: 768px) {
        .our.logo{
          width: 100%
        }
        h1 {
          width: 100%;
        }
        .our img{
          width: 100%;
        }
        h1:before{
          width: 100%;
        }
        h1:after{
          width: 100%;
        }
      }