

    .our_lines{
        position: relative;
        max-width: 100%;;
        margin: 81px auto 45px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 168%;
        color: #CC4E61;
      margin-bottom:10rem;

}
.span_our_lines{
    color: #4A4A4A;
    font-weight: 300;

}
.our_lines:before{
  content:" ";
  height: 6px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.our_lines:after{
  content:" ";
  height: 6px;
  width: 32%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

@media screen and (max-width: 768px) {
    .our_lines{
        font-size: 15px;
      font-weight:bold;
      width:100%;
      margin-top:3rem;
      margin-bottom:6rem;
}
  .our_lines:before{
    width:20%;
  }
  .our_lines:after{
     width:20%;
  }
}