.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 0px;
  }
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      position: relative;
      left: -93px;
    }
    .item-row-1 {
      width: 100%;
    }
    .item-row-2 {
      width: 100%;
    }
    .item-col-1 {
      width: 100%;
    }
    .item-col-2 {
      width: 100%;
    }
    .our-story{
      width: 100%;
    }
    .side-image{
      width: 100%;
    }
  }
  .item-row-1 {
    background: #CC4E61;
    height: 835px;
    padding-top: 15px;
    margin-top: 10px;
    min-width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center; width: 59%;
    height: 856px;
left: -109px;
    position: relative;
  }
  .item-row-2 {
    height: 850px;
    padding-top: 10px;
    min-width: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

width: 30%;
  }
  .item-col-1 {
    width: 680px;
    height: 246px;
    min-width: 25%;
    flex-grow: 1;
  }
  .item-col-2 {
    height: 204px;
    min-width: 25%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .our-story {
    padding-top: 104px;
    width: 330px;
    height: 800px;
    color: white;
    text-align: left;
    font-family: Poppins;
    line-height: 20px;
  }
  .side-image {
      align-items: center;
    left: -109px;
    position: relative; width: 1046px;
    height: 446px;
   }
  .our-story .head1 {
   font-weight: 500;
   font-size: 50px;
   padding-bottom: 50px;
  }
  .our-story h2 {
   font-weight: 300;
   font-size: 28px;
color: white
  }
  .our-story .head3 {
   font-weight: 200;
   font-size: 20px;
  }
  .our-story p{
  text-decoration: italic;
  font-size: 13px;
  font-weight: 400;
  width: 492px;
  
  }
  .philosophy {
    padding-top: 50px;
    width: 561px;
    height: 800px;
    color: #CC4E61;
    text-align: center;
    font-family: Poppins;
    line-height: 18px;
    left: 87px;     position: relative;
    top: -55px;
  }
  
  .philosophy h2 {
   font-weight: 100;
   font-size: 20px;
   margin-top: 14%;
   margin-bottom: -3%;


  }
  
  .philosophy p {
    color: #4A4A4A;
   display: flex;
   font-size: 14px;
   justify-content: center;     
   font-weight: 300;
   font-family: 'Poppins';
   font-style: normal;  
   line-height: 23px;
width: 644px;
    margin-left: -14%;
  }