.section-headerstory {
  position: relative;
  display: flex; /* sets a flex container */
  align-items: center; /* aligns vertically */
  }

  .section-headerstory .quotestory {
  font-size: calc(0.7em + 1vmin);
  color: #4a4a4a;
  padding-top: 9vh;
}
.section-headerstory .quoted{
  display: flex;
  flex-direction: row;
}
.section-headerstory .quoted-apostrophies  {
  font-size: 6vh;
  color: #cc4e61;
}
.section-headerstory .boxed-headingstory {
    font-size: calc(0.01em + 0.95em);
    margin-top: 4%;
    font-weight: 500;
    font-style: italic;
    top: -74px;
    width: 47vw;
    position: relative;
    padding: 0px 48px;
}

.section-headerstory .colored {
  color: #cc4e61
}
/* p {
  color: white;
  font-size: 20px;
} */
.section-headerstory .p1 {
  color: #cc4e61;
  font-size: calc(0.4em + 1vmin);
  /* display: flex; */
}

  
  .section-headerstory::after {
    border-top: 7px solid #cc4e61;
    display: block;
    height: 1px;
    content: " ";
    width: 50%;
    border-radius: 10px;
  }
  .section-headerstory::before {
    border-top: 7px solid #cc4e61;
    display: block;
    height: 1px;
    content: " ";
    width: 50%;
    border-radius: 10px;
  }
  .quotes {
  border-color: #cc4e61;
  border-style: solid;
  border-radius: 0.5vw;
  padding: 0.3em 0.8em;
  display: inline-block;
}
  .no-quotes {
  padding: 10vh;
}

  .text-center {
    text-align: center !important;
  }
 @media screen and (max-width: 768px) {
    .boxed-headingstory {
      width: 100%;
      margin-left:-9px;
    }
   .section-headerstory .boxed-headingstory {
   font-size: calc(0.8em + 0vmin);
    margin-top: 13%;
    font-weight: 500;
    top: -43px;
    padding: 0px 0px;
/*     position: relative;
    left: 11px; */
}
/*     .section-headerstory .quotestory .logo {
  font-size: calc(0.7em + 1vmin);
  color: #4a4a4a;
  padding-top: 9vh;
   padding: 10px;
    margin-bottom: 1%;
    margin-top: -6%;
    left: -8px;
    position: relative;
 } */
 }
     