{
    box-sizing: border-box;
  }
  .column1-img {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  .column1_text:after {
    content: "";
    display: table;
    clear: both;
  }
  .column1-img img{
    width: 802px;
    height: 501px;
    left: 71px;  
    top: -121px;     
    position: relative;
  }
    .column1-img h2 {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px; 
    height: 296px;
    width: 664px;
    left: -209px;
    position: relative;
    color: #4A4A4A;
    top: -52px;
    
  }
  .column1-img p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    top: -350px;
    position: relative;
    left: -40px;
    
    
   
  }
  .column1-img button{
    position: relative;
    width: 177px;
    height: 40px;
    background: #CC4E61;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    top: -372px;
    left: -40px;
    border: none;
  }
  @media screen and (max-width: 768px) {

    .column1-img{
      width: 100%;
    }
    .column1-img img{
      width: 100%;
  }
  .column1-img p{
      width: 100%;
  }
  .column1-img button{
      width: 100%;
  }
  .column1-img h2{
      width: 100%;
  }
}