{
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .column1_text:after {
    content: "";
    display: table;
    clear: both;
  }
  .column1 img{
    width: 823px;
    height: 501px;
    left: -53px;  
    top: -121px;     
    position: relative;
  }
    .column1 h2 {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px; 
    height: 296px;
    width: 664px;
    left: -57px;
    position: relative;
    color: #4A4A4A;
    top: -52px;
    
  }
  .column1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    top: -350px;
    position: relative;
    left: 73px;
    
    
   
  }
  .column1 button{
    position: relative;
    width: 177px;
    height: 40px;
    background: #CC4E61;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    top: -372px;
    left: 68px;
  }
  @media screen and (max-width: 768px) {

    .column1{
      width: 100%;
    }
    .column1 img{
      width: 100%;
  }
  .column1 p{
      width: 100%;
  }
  .column1 button{
      width: 100%;
  }
  .column1 h2{
      width: 100%;
  }
}