.bordering {
    border: 1px solid;
}

.heading {
    color: #cc4e61;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 119%;
    text-align: center;
    color: #cc4e61;
    display: block;
    font-family: "Poppins";
    font-weight: 800;
    z-index: 1;
}

.positive,
.negative {
    border: 0.5px solid #e7e7e7;
    background: rgba(217, 217, 217, 0.032);
    color: #4a4a4a;
}

.text-points {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #e7e7e7;
}

.bullet-points {
    padding-bottom: 2rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4a4a4a;
    list-style: none;
    counter-reset: item;
}

.bullet-points li {
    counter-increment: item;
    margin-bottom: 5px;
}

.bullet-points li .text-points:before {
    margin-right: 10px;
    margin-left: -35px;
    content: counter(item);
    border: 1px solid #cc4e61;
    border-radius: 100%;
    color: #cc4e61;
    padding: 0.1em 0.5em;
    text-align: center;
}

.wrapper {
    position: relative;
    height: 30rem;
    text-align: center;
}

.wrapper:after {
    content: " ";
    position: absolute;
    left: 50%;
    height: 100%;
    border-left: 1px solid #cc4e61;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 5px;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.circle-versus {
    background-color: #cc4e61;
    color: white;
    width: 50px;
    height: 50px;
    padding-top: 0.9rem;
    border-radius: 50%;
    font-size: 20px;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 5px;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.mobile-versus {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
}

.mobile-versus::before,
.mobile-versus::after {
    content: "";
    border-top: 0.1rem double #cc4e61;
    align-self: center;
}

.mobile-circle-versus {
    background-color: #cc4e61;
    color: white;
    width: 50px;
    height: 50px;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    border-radius: 50%;
    font-size: 25px;
}

@media only screen and (min-width: 2500px) and (max-width: 2620px) {
    .wrapper {
        height: 40rem;
    }
}

@media only screen and (min-width: 1980px) and (max-width: 2500px) {
    .wrapper {
        height: 40rem;
    }
}

@media only screen and (min-width: 1820px) and (max-width: 1980px) {
    .wrapper {
        height: 42rem;
    }
}

@media only screen and (min-width: 1780px) and (max-width: 1820px) {
    .wrapper {
        height: 44rem;
    }
}

@media only screen and (min-width: 1720px) and (max-width: 1780px) {
    .wrapper {
        height: 44rem;
    }
}

@media only screen and (min-width: 1650px) and (max-width: 1720px) {
    .wrapper {
        height: 46rem;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1650px) {
    .wrapper {
        height: 46rem;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {
    .wrapper {
        height: 50rem;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    .wrapper {
        height: 54rem;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
    .wrapper {
        height: 54rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .wrapper {
        height: 58rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .wrapper {
        height: 63rem;
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1100px) {
    .wrapper {
        height: 68rem;
    }
}

@media only screen and (min-width: 1030px) and (max-width: 1050px) {
    .wrapper {
        height: 70rem;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1030px) {
    .wrapper {
        height: 74rem;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
    .wrapper {
        height: 74rem;
    }
}


@media (min-width: 990px) {
    .hidden-desktop {
        display: none;
    }
}

@media (max-width: 990px) {
    .hidden-mobile {
        display: none;
    }
}

.posnegsection-link {
    position: absolute;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


/* text color  */

.posnegsection-link {
    color: pink;
}

.posnegsection-link.cyan {
    color: #1abc9c;
}

.posnegsection-link.red {
    color: #e74c3c;
}

positive circles1::maker {
    display: none;
}

.cursor,
.cursor2 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
}
/* blured effect */

.cursor2 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    filter: blur(3px);
}

.cursor2 {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(4) translateX(-25%) translateY(-25%);
    transform: scale(4) translateX(-25%) translateY(-25%);
    filter: blur(3px);
}

.color-cyan .cursor2 {
    border: none;
    background: rgba(12, 243, 108, 0.1);
    box-shadow: 0 0 55px rgba(12, 243, 108, 0.7);
    filter: blur(3px);
}

.color-cyan .cursor2.hover {
    border: none;
    background: rgba(12, 243, 108, 0.1);
    box-shadow: 0 0 55px rgba(12, 243, 108, 0.7);
    filter: blur(3px);
}

.color-red .cursor2 {
    border: none;
    background: rgba(231, 76, 70, 0.1);
    box-shadow: 0 0 55px rgba(231, 76, 60, 0.6);
    filter: blur(3px);
}

.color-red .cursor2.hover {
    border: none;
    background: rgba(231, 76, 70, 0.1);
    box-shadow: 0 0 55px rgba(231, 76, 60, 0.6);
    filter: blur(3px);
}

.positive-negative-container div:empty {
    display: block;
}



@media only screen and (max-width: 990px) {
    .unknown-container {
        display: none;
    }
    .header-1,
    .header-2 {
        font-weight: bold;
        font-size: 20px;
        line-height: 139%;
        text-align: center;
        color: #cc4e61;
        display: block;
        font-family: 'Poppins';
        z-index: 1;
    }
    .cursor,
    .cursor2,
    .positive-negative-container div:empty {
        display: none;
    }
    .circles1 {
        /*     height: 71vmin; */
        height: 100%;
        position: relative;
        /* width: 50vmin; */
        width: 100%;
        overflow: hidden;
        line-height: 2.3;
    }
    .circles1>span {
        animation: growAndFade 3s infinite ease-out;
        filter: blur(10px);
        background: radial-gradient(circle at 150% 150%, rgba(0, 255, 0, 1), rgba(0, 255, 0, 0));
        border-radius: 50%;
        height: 100%;
        opacity: 0;
        position: absolute;
        bottom: 50%;
        left: 50%;
        width: 100%;
    }
    .circles1 .circle11 {
        animation-delay: 2s;
    }
    .circles1 .circle12 {
        animation-delay: 4s;
    }
    .circles1 .circle13 {
        animation-delay: 6s;
    }
    .circles2 {
        /*     height: 60vmin; */
        height: 100%;
        position: relative;
        /*     width: 50vmin; */
        width: 100%;
        overflow: hidden;
        line-height: 2.3;
    }
    .circles2>span {
        animation: growAndFade 3s infinite ease-out;
        filter: blur(10px);
        background: radial-gradient(circle at 150% 150%, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
        border-radius: 50%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 50%;
        width: 100%;
    }
    .circles2 .circle11 {
        animation-delay: 2s;
    }
    .circles2 .circle12 {
        animation-delay: 4s;
    }
    .circles2 .circle13 {
        animation-delay: 6s;
    }
    @keyframes growAndFade {
        0% {
            opacity: 0.25;
            transform: scale(0);
        }
        100% {
            opacity: 0;
            transform: scale(2);
        }
    }
}
