 .collection_gelrow16 {
    display: flex;
    width: 100%;
    height: 101vh;
  }
  .collection_column16 h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 96px;
    text-align: center;
    color: #cc4e61;
  }
/* .and-img{
  height:40vh;
  width:100vw;
} */
  .collection_column16 {
    width: 50%;
  }
  .collection_stars16 {
    text-align: center;
  }
  .collection_stars16:before {
  content:" ";
  height: 1px;
  width: 20%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
}
.collection_stars16:after{
  content:" ";
  height: 1px;
  width: 28%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 20%;
  right: 758px;
}
  .main-bottlecollection_gelrows16 {
    /* display:flex; */
    text-align: center;
  }
  /* .bottls_collection_gelrows{
    flex-direction:collection_column;
} */
  .gel_btns16 {
    background: #cc4e61;
    border-radius: 7px;
    border: none;
    width: 78px;
    height: 31px;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .gel_btns16{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
/* .gel_btns16:hover, .gel_btns16:focus, .gel_btns16:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}  */
  .gel_btns16:hover{
    border:1px solid #4a4a4a;
  }
  .buyIT_nowbtn16 {
    background: #ffffff;
    border-radius: 47px;
    width: 299px;
    height: 50px;
    text-align: center;
    color: #cc4e61;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    top: -47px;
/*     margin-top: -112px; */
  }

  .clide .bag{
    width:100%;
  }
  .repaiegel_Slides16 {
    padding: 0;
    /* width: 609px;
    height: 420px; */
    width: 390px;
    height: 388px;
    display: Block;
    margin: 0 Auto;
    position: Relative;
  }
  .repaiegel_Slides16 * {
    user-select: None;
    -ms-user-select: None;
    -moz-user-select: None;
    -khtml-user-select: None;
    -webkit-user-select: None;
    -webkit-touch-callout: None;
  }
  .repaiegel_Slides16 Input {
    display: None;
  }
  .Slide-Containerr16 {
    display: Block;
  }
  .collec_Slide16 {
    top: 0;
    opacity: 0;
    /* width: 609px;
    height: 420px; */
    display: Block;
    position: Absolute;
    background: #cc4e61;
    transform: Scale(0);
    transition: All 0.7s Ease-In-Out;
    text-align:center;
  }
  .collec_Slide16 Img {
    width: 100%;
    height: 100%;
  }
  .Nav Label {
    width: 200px;
    height: 100%;
    display: None;
    position: Absolute;
    opacity: 0;
    z-index: 9;
    cursor: Pointer;
    transition: Opacity 0.2s;
    color: #fff;
    font-size: 156pt;
    text-align: Center;
    line-height: 380px;
    font-family: "Poppins", Sans-Serif;
    background-color: Rgba(255, 255, 255, 0.3);
    text-shadow: 0px 0px 15px Rgb(119, 119, 119);
  }
  .collec_Slide16:hover + .Nav Label {
    opacity: 0.5;
  }
  .Nav Label:hover {
    opacity: 1;
  }
  .Nav .Next {
    right: 0;
  }
  Input:checked + .Slide-Containerr16 .collec_Slide16{
    opacity: 1;
    transform: Scale(1);
    transition: Opacity 1s Ease-In-Out;
  }
  Input:checked + .Slide-Containerr16 .Nav Label {
    display: Block;
  }
  .Nav-Dots16 {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: Block;
    position: Absolute;
    text-align: Center;
  }
  .Nav-Dots16 .Nav-Dot16 {
    top: -317px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: Relative;
    border-radius: 100%;
    display: Inline-Block;
    background-color: #aaa;
  }
  .Nav-Dots16 .Nav-Dot16:hover {
    cursor: Pointer;
    background-color: #fff;
  }
  Input#Img-16:checked ~ .Nav-Dots16 Label#Img-Dot-16,
  Input#Img-26:checked ~ .Nav-Dots16 Label#Img-Dot-26,
  Input#Img-36:checked ~ .Nav-Dots16 Label#Img-Dot-36,
  Input#Img-46:checked ~ .Nav-Dots16 Label#Img-Dot-46 {
    background: #fff;
  }
  @media screen and (max-width:768px){
    .collection_gelrow16 {
      flex-direction:column;
    /* display: flex; */
    width: 100%;
  }
  }