.responsive-text-box {
  position: relative;
  display: flex; /* sets a flex container */
  align-items: center; /* aligns vertically */
}

.responsive-text-box .quote {
  font-size: calc(0.5em + 1vmin);
  color: black;
  padding-top: 4vh;
}
.responsive-text-box .quoted {
  display: flex;
  flex-direction: row;
}
.responsive-text-box .quoted-apostrophies {
  font-size: 6vh;
  color: #cc4e61;
}
.responsive-text-box .boxed-heading {
  font-size: calc(1.25em + 1vmin);
  margin-top: 4%;
}

.responsive-text-box .colored {
  color: #cc4e61;
}
/* p {
  color: white;
  font-size: 20px;
} */
.responsive-text-box .p1 {
  color: #cc4e61;
  font-size: calc(0.4em + 1vmin);
  /* display: flex; */
}

.responsive-text-box::before,
.responsive-text-box::after {
  border-top: 3px solid #cc4e61;
  display: block;
  height: 1px;
  content: " ";
  width: 25%; /* full-width ;)*/
}
.quotes {
  border-color: #cc4e61;
  border-style: solid;
  border-radius: 0.5vw;
  padding: 0.3em 0.8em;
  display: inline-block;
}
.no-quotes {
  padding: 10vh;
}

.text-center {
  text-align: center !important;
}
