.review_main1{
        display:flex;
        justify-content: center;
        align-items: center;
/*         width: 100%; */
        width: 80%;
        left: 177px;
        position:relative;
/*         top: -146px; */
/*   margin-left:20px;
  margin-right:20px; */
}
.review_main1 .review_line{
/*     border: 0.1px groove #ddd; */
  opacity: 0.17;
border: 1px solid #000000;
    width: 126%;
    height: -5.9rem;
    left: -178px;
    background-color: rgb(var(--color-border));
    position: relative;
    display: block;
}
.star_section {
  float: left;
  width: 50%;
  height: 300px; 
  position:relative;
}

.review_main1 {
  content: "";
  display: table;
  clear: both;
}
button{
  background: #cc4E61;
    border: none;
    padding: 10px 32px;
    border-radius: 32px;
    color: #fff;
    font-size: 16px;
}
.review_main1 .star_section .moneyback .review_content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 168%;
    text-align: left;
    color: #CC4E61;
}

/* .review_main1 .star_section .moneyback .review_content span{
    color: #FFCD4E;
        font-size: 22px;
    left: 30px;
    align-items: center;
    position: relative;
    position:relative;
    top: 15px;
} */
.review_main1 .star_section  .moneyback .review_content h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color:#aaa ;
/*     opacity: 0.33; */
}

.review_main1 .star_section .moneyback .review_content a{
    background: #CC4E61;
    border-radius: 81px;
    color:#ffffff;
/*     width: 223px;
    height: 62px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 49px;
    border:none;
  padding: 13px 25px;
  text-decoration: none;
}
.review_main1 .star_section .moneyback .review_content .name{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 168%;
color: #000000;
text-align:left;
}
.review_main1 .star_section .moneyback .review_content .date{
    font-family: 'Poppins';
font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 168%;
color: #000000;
text-align:center;
}

.review_main1 .star_section .moneyback .review_content .boldTxt{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 168%;
color: #4A4A4A; 
}
.review_main1 .star_section .moneyback .review_content .comment{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 168%;
/* or 34px */


color: #4A4A4A;
}
.moneyback{
    display:flex;
}

.review_content{
    flex-direction: column;
    margin-left:20px;
}
.review_content .checked{
    color: #FFCD4E;
        font-size: 22px;
/*   left: 53px; */
    /* align-items: center; */
    position: relative;
}
@media screen and (max-width: 768px) {
  .star_section {
    width: 100%;
  }
  .moneyback{
    flex-direction:column;
  }
  .review_content{
    flex-direction:column;
  }
}
@media screen and (min-width:410px) and (max-width: 500px) {
  .star_section {
    width: 100%;
  }
  .boldTxt{
    top:65px;
    position:relative;
  }
  .comment{
    top:45px;
    position:relative;
  }
}
  @media screen and (min-width:200px) and (max-width: 409px) {
  .star_section {
    width: 100%;
  }
  .boldTxt{
    top:124px;
    position:relative;
  }
  .comment{
    top:107px;
    position:relative;
  }
  /* .moneyback{
    flex-direction:column;
  }
  .review_content{
    flex-direction:column;
  } */
}