
@media (min-width:1485px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
.hidden-mobile{
  display:none;
}
      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 73%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
 @media(min-width:1375px) and (max-width:1484px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:1281px) and (max-width:1374px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 60%;
        width: 32vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:1025px) and (max-width:1280px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 78%;
        left: 65%;
        width: 43vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 24px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 147%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:768px) and (max-width:1024px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 78%;
        left: 65%;
        width: 41vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 145%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:481px) and (max-width:767px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 81%;
        left: 71%;
        width: 54vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 157%;
        text-align: start;
        color: #4a4a4a;
      }
    }
    @media(min-width:320px) and (max-width:480px){
      #grid {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }

      img {
        align-items: center;
        width: 100%;
        position: relative;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 75%;
        left: 58%;
        width: 26vw;
        transform: translate(-50%, -50%);
      }

      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 24px;
        color: white;
        background-color: #cc4e61;
        text-align: start;
        cursor: pointer;
        border: 1px solid #cc4e61;
        margin-left: -1px;
        margin-top: 5%;
        font-size: 8pt;
        /* letter-spacing: 5px; */
        font-weight: bold;
        font-family: "Poppins";
        font-style: normal;
        border-radius: 43px;
        margin: 0px auto;
      }
      .science_txt {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        color: #cc4e61;
        text-align: start;
      }

      .science__sec_p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 168%;
        text-align: start;
        color: #4a4a4a;
      }
    }
