.amabassador-icons {
  color: rgb(var(--color-foreground));
  background: var(--gradient-background);
  background-color: rgb(var(--color-background));
}

.page-width--full-width .amabassador-icons {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

.amabassador-icons-title {
  font-size: 1.5rem;
}

.amabassador-icons .grid {
  row-gap: 3rem;
  margin-bottom: 0;
  column-gap: 10rem;
}


.amabassador-icons .grid .grid {
  row-gap: 2rem;
  justify-content: center;
}

.amabassador-icon__item {
  --icon-height: 2.6rem;
}

.amabassador-icon-icon--small {
  --icon-height: 2rem;
}

.amabassador-icon-icon--large {
  --icon-height: 3.2rem;
}

.amabassador-icon__item svg,
.amabassador-icon__icon img {
  fill: currentColor;
}

.amabassador-icon__item .h3 {
  margin: 0.7rem 0 0.5rem;
}

.amabassador-icon__item .rte {
  margin-top: 1rem;
  color: rgba(var(--color-foreground), 0.75);
}

.amabassador-icons__title {
  margin: 0;
}

.amabassador-icons .grid__item {
  padding-bottom: 0;
}

.amabassador-icon__icon {
  display: inline-flex;
  line-height: 0;
}

.amabassador-icons-icon--colored .amabassador-icon__icon {
  width: calc(var(--icon-height) + 3rem);
  height: calc(var(--icon-height) + 3rem);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-icon));
}

.amabassador-icons-icon--colored .amabassador-icon__item .h3 {
  margin-top: 1rem;
}

.amabassador-icons--colored {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

@media screen and (min-width: 750px) {
  .amabassador-icons--colored {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }

  .amabassador-icons--horizontal .amabassador-icon__item {
    display: flex;
    column-gap: 1.5rem;
    text-align: start;
    text-color:black;
  }

  .amabassador-icons--horizontal .amabassador-icon__item.center {
    justify-content: center;
  }

  .amabassador-icons--horizontal .amabassador-icon__item.right {
    justify-content: flex-end;
  }

  .amabassador-icons--horizontal .amabassador-icon__item .h2,
  .amabassador-icons--horizontal .amabassador-icon__item .h3 {
    margin: 0;
  }

  .amabassador-icons--horizontal .amabassador-icon__item .h4 {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .amabassador-icons--horizontal .amabassador-icon__icon {
    flex: 0 0 auto;
  }
}

/*  */
/* @media only screen and (min-width: 750px) and (max-width: 1500px) {
  .page-width--full-width .amabassador-icons {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }
}
@media only screen and (min-width: 1450px){
  .amabassador-icons .grid {
    column-gap: 9rem;
  }
}
@media only screen and (max-width: 1450px) and (min-width: 1300px) {
  .amabassador-icons .grid {
    column-gap: 2rem;
  }
  .amabassador-icons {
    padding-left: 0%;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1150px) {
  .amabassador-icons .grid {
    column-gap: 10rem;
  }

  .amabassador-icons {
    padding-left: 0%;
  }
}
@media only screen and (max-width: 1150px) and (min-width: 1000px) {
  .amabassador-icons .grid {
    column-gap: 10rem;
  }
  
  .amabassador-icons {
    padding-left: 15%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 936px) {
  .amabassador-icons .grid {
    column-gap: 10rem;
  }

  .amabassador-icons {
    padding-left: 15%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 936px) {
  .amabassador-icons {
    padding-left: 0%;
  }
} */
