.footer-above-icons {
  color: rgb(var(--color-foreground));
  background: var(--gradient-background);
  background-color: rgb(var(--color-background));
  display: flex;
  justify-content: center;
}

.page-width--full-width .footer-above-icons {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

@media screen and (min-width: 750px) {
  .page-width--full-width .footer-above-icons {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }
}

.footer-above-icons .grid {
  row-gap: 3rem;
  margin-bottom: 0;
}

.footer-above-icons .grid .grid {
  row-gap: 2rem;
}

.footer-above-icon__item {
  --icon-height: 2.6rem;
}
.footer-above-icon__item1 {
  --icon-height: 9vh;
}

.footer-above-icon-icon--small {
  --icon-height: 2rem;
}

.footer-above-icon-icon--large {
  --icon-height: 3.2rem;
}

.footer-above-icon__item svg,
.footer-above-icon__icon img {
  fill: currentColor;
}

.footer-above-icon__item .h3 {
  margin: 0.7rem 0 0.5rem;
}

.footer-above-icon__item .rte {
  margin-top: 1rem;
  color: rgba(var(--color-foreground), 0.75);
}
.footer5 .rte {
  width: 15vw;
}


.footer-above-icons__title {
  margin: 0;
}

.footer-above-icons .grid__item {
  padding-bottom: 0;
}

.footer-above-icon__icon {
  display: inline-flex;
  line-height: 0;
}

.footer-above-icons-icon--colored .footer-above-icon__icon {
  width: calc(var(--icon-height) + 3rem);
  height: calc(var(--icon-height) + 3rem);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-icon));
}

.footer-above-icons-icon--colored .footer-above-icon__item .h3 {
  margin-top: 1rem;
}

.footer-above-icons--colored {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

@media only screen and (min-width: 1450px) {
  .footer-above-icons .grid {
    column-gap: 24rem;
  }
}


@media screen and (min-width: 750px) {
  .footer-above-icons--colored {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }

  .footer-above-icons--horizontal .footer-above-icon__item {
    display: flex;
    column-gap: 1.5rem;
    text-align: start;
  }

  .footer-above-icons--horizontal .footer-above-icon__item.center {
    justify-content: center;
  }

  .footer-above-icons--horizontal .footer-above-icon__item.right {
    justify-content: flex-end;
  }

  .footer-above-icons--horizontal .footer-above-icon__item .h2,
  .footer-above-icons--horizontal .footer-above-icon__item .h3 {
    margin: 0;
  }

  .footer-above-icons--horizontal .footer-above-icon__item .h4 {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .footer-above-icons--horizontal .footer-above-icon__icon {
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 989px) {
  .footer-above-icons-mobile-responsive {
      padding: 0 10% 0 10%;
  } 
}