/* Flickity */
.testimonials .flickity-slider {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.custom-testimonials {
  font-size: 10px;  
  color: #CC4E61;
}
.avatar-initials {
  font-style: normal;
  margin-top: -0.5rem;
  padding: 20px;
  font-style: normal;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: transform var(--duration-default) ease;
  -webkit-clip-path: url(#testimonial-clip-path);
  clip-path: url(#testimonial-clip-path);
}
.avatar-initials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author {
  padding: 5px;
}

.testimonials .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.testimonials .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.testimonials .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

testimonials-component {
  display: block;
  --block-width: 16rem;
}

@media screen and (min-width: 750px) {
  testimonials-component {
    --block-width: 50rem;
  }

  .testimonial__list .flickity-viewport {
    flex: 0 0 167%;
    width: 100%;
    min-height: 5rem;
    overflow: visible;
  }
}

@media screen and (max-width: 750px) {
  testimonials-component {
    --block-width: 18rem;
  }
}

@media screen and (max-width: 480px) {
  testimonials-component {
    --block-width: 14rem;
  }
}

testimonials-component[data-slider=false] .testimonial__list {
  max-width: 100%;
}

.testimonial__list-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: calc(var(--block-count) * var(--block-width) + calc(var(--block-width) / 2) + 4rem);
}

.testimonial__list {
  padding: 6rem 0;
  position: static;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.testimonial__list::before,
.testimonial__list::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 20%;
  pointer-events: none;
}

.testimonial__list::before {
  left: -3.2rem;
  background-image: linear-gradient(to left, rgba(var(--color-background), 0) 0, rgba(var(--color-background), 0.5) 30%);
}

.testimonial__list::after {
  right: -3.2rem;
  background-image: linear-gradient(to right, rgba(var(--color-background), 0) 0, rgba(var(--color-background), 0.5) 30%);
}

@media screen and (max-width: 480px) {
  .testimonial__list::before,
  .testimonial__list::after {
    pointer-events: none;
    width: 30%;
  }

  .testimonial__list::before {
    left: 0;
  }

  .testimonial__list::after {
    right: 0;
  }
}

.testimonial__list .flickity-viewport {
  flex: 0 0 100%;
  width: 100%;
  min-height: 5rem;
  overflow: visible;
}

.testimonial__list .flickity-button {
  display: none;
}

@media screen and (min-width: 750px) {
  .testimonial__list .flickity-button {
    padding: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    z-index: 5;
    opacity: 0;
    color: rgb(var(--color-foreground));
    background-color: transparent;
    transition: opacity var(--duration-default) ease;
  }

  .testimonial__list .flickity-button.previous {
    left: 0;
    justify-content: flex-start;
  }
  
  .testimonial__list .flickity-button.next {
    right: 0;
    justify-content: flex-end;
  }

  .testimonial__list .flickity-prev-next-button .flickity-button-icon {
    width: 1.6rem;
    height: 1.6rem;
    position: static;
  }
  
  @media screen and (hover: hover) {
    testimonials-component:hover .flickity-button {
      opacity: 1;
    }
  }
}

.testimonial__item {
  width: var(--block-width);
}

.testimonial__image {
  border-radius: 1rem;
  max-width: 5rem;
  margin: auto;
  overflow: visible;
}

.testimonial__image .media {
  border-radius: 1rem;
  box-shadow: 0 1rem 1.5rem 0 rgba(var(--color-foreground), 0.06), 0 0.8rem 2.5rem 0 rgba(var(--color-foreground), 0.1);
  cursor: pointer;
  transition: transform var(--duration-default) ease;
  -webkit-clip-path: url(#testimonial-clip-path);
  clip-path: url(#testimonial-clip-path);
}

.testimonial__item.is-selected .avatar-initials {
  transform: scale(2);
}

.testimonial__item.is-next .avatar-initials,
.testimonial__item.is-previous .avatar-initials {
  transform: scale(0);
}
.testimonial__item.is-selected .testimonial__author {
  margin-top: 0.5rem;
  transform: scale(2);
}

.testimonial__item.is-next .testimonial__author,
.testimonial__item.is-previous .testimonial__author {
  margin-top: 0.5rem;
  transform: scale(0);
}
.testimonial__item.is-selected .testimonial__author__company  {
  margin-top: 1.5rem;
  transform: scale(2);
}

.testimonial__item.is-next .testimonial__author__company ,
.testimonial__item.is-previous .testimonial__author__company  {
  margin-top: 0.5rem;
  transform: scale(0);
}

.testimonial__item.is-selected .testimonial__image .media {
  transform: scale(2);
}

.testimonial__item.is-next .testimonial__image .media,
.testimonial__item.is-previous .testimonial__image .media {
  transform: scale(0);
}

@media screen and (min-width: 750px) {
  .testimonial__item.is-selected .testimonial__image .media {
    transform: scale(2.4);
  }
  
  
  .testimonial__item.is-next .testimonial__image .media,
  .testimonial__item.is-previous .testimonial__image .media {
    transform: scale(1.4);
  }

  .testimonial__item.is-selected .avatar-initials {
    transform: scale(2.4);
  }
  
  .testimonial__item.is-next .avatar-initials,
  .testimonial__item.is-previous .avatar-initials {
    transform: scale(1.4);
  }

  .testimonial__item.is-selected .testimonial__author {
    margin-top: 3.5rem;
    transform: scale(2.4);
  }
  
  .testimonial__item.is-next .testimonial__author,
  .testimonial__item.is-previous .testimonial__author {
    margin-top: 1.5rem;
    transform: scale(1.4);
  }
  .testimonial__item.is-selected .testimonial__author__company  {
    transform: scale(2.4);
  }
  
  .testimonial__item.is-next .testimonial__author__company ,
  .testimonial__item.is-previous .testimonial__author__company  {
    transform: scale(1.4);
  }
}

.testimonial__item.is-selected {
  pointer-events: none;
}

.no-js .testimonial__item.is-selected .testimonial__image .media,
.no-js .testimonial__item.is-next .testimonial__image .media,
.no-js .testimonial__item.is-previous .testimonial__image .media {
  transform: none;
}

.testimonial__preview {
  left: 0;
  position: absolute;
  width: 100%;
}

.testimonial__preview.is-selected .testimonial__blockquote {
  opacity: 1;
  transition: opacity var(--duration-default) ease var(--duration-long);
  animation: appear-up var(--duration-long) ease;
}

.testimonial__blockquote {
  padding: 0;
  margin: auto;
  border: none;
  font-style: normal;
  max-width: 100rem;
  text-align: center;
  opacity: 0;
}

.testimonial__blockquote:empty {
  display: none;
}

.testimonial__blockquote .quote-icon {
  line-height: 1;
  margin-bottom: 1rem;
}

.testimonial__blockquote .icon-quote {
  width: 3rem;
  height: 3rem;
}

.testimonial__blockquote .rating {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.testimonial__blockquote .rating-star {
  --letter-spacing: 0.2;
  --font-size: 1.8;
 
}
.rating-star{
  color:#CC4E61;

}

.testimonial__author {
  font-style: normal;
  display: block;
  margin-top: 0.5rem;
  font-size: 5px;
  width: 60px;
  text-align: center;
  transition: transform var(--duration-default) ease;
  -webkit-clip-path: url(#testimonial-clip-path);
  clip-path: url(#testimonial-clip-path);
}
.testimonial__author__company {
  font-style: normal;
  display: block;
/*   margin-top: -0.5rem; */
  font-size: 5px;
  width: 60px;
  text-align: center;
  transition: transform var(--duration-default) ease;
  -webkit-clip-path: url(#testimonial-clip-path);
  clip-path: url(#testimonial-clip-path);
}

.testimonial__author__rating {
  transition: transform var(--duration-default) ease;
  -webkit-clip-path: url(#testimonial-clip-path);
  clip-path: url(#testimonial-clip-path);
}

.testimonial__author:empty {
  display: none;
}

.testimonial__previews {
  margin-top: 2rem;
}

@media only screen and (min-width: 749px) {
  .testimonial__previews {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 749px) {
  .testimonial__previews {
    margin-top: -2rem;
  }
  .testimonial__item.is-selected .testimonial__author {
    margin-top: 3.5rem;
    transform: scale(2);
    opacity: 1;
  }
  .testimonial__item.is-next .testimonial__author,
  .testimonial__item.is-previous .testimonial__author {
    margin-top: 3.5rem;
    transform: scale(0);
  }
  
  .testimonial__blockquote {
    
  }
  .testimonial__item {
    opacity: 0;
  }
  .testimonial__list-wrapper {
    display: none;
  }
}
