
@media (min-width:1485px){
      #grid___16 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .hidden-desktop16{
        display:none;
      }
      .shop_pro__image {
        align-items: center;
        width: 100%;
        position: relative;
      }
    }
 @media(min-width:1375px) and (max-width:1484px){
      #grid___16 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .hidden-desktop16{
          display:none;
      }
      .shop_pro__image {
        align-items: center;
        width: 100%;
        position: relative;
      }
    }
    @media(min-width:1281px) and (max-width:1374px){
      #grid___16 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .hidden-desktop16{
        display:none;
      }
      .shop_pro__image {
        align-items: center;
        width: 100%;
        position: relative;
      }
    }
    @media(min-width:1025px) and (max-width:1280px){
      #grid___16 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .hidden-desktop16{
        display:none;
      }
      .shop_pro__image {
        align-items: center;
        width: 100%;
        position: relative;
      }
    }
    @media(min-width:990px) and (max-width:1024px){
      #grid___16 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .hidden-desktop16{
        display:none;
      }
      .shop_pro__image {
        align-items: center;
        width: 100%;
        position: relative;
      }
    }
    @media(min-width:481px) and (max-width:989px){
      #grid___16 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .hidden-mobile16{
        display:none;
      }
      .shop_pro__image {
        align-items: center;
        width: 100%;
        position: relative;
      }
    }
    @media  (max-width:480px){
      #grid___16 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
        .hidden-mobile16{
        display:none;
      }
      .shop_pro__image {
        align-items: center;
        width: 100%;
        position: relative;
      }
    }
