@media(min-width:1592px){
  .six_months-row1 {
  display: flex;
  padding: 0px 20px;
}
.six-months-col1 {
  width: 50%;
}
.six-months-col2 {
  width: 50%;
}
.six_months-row2{
  padding:38px 0px;
  position: relative;
  top: 52px;
}
.p03__boxs {
  display: flex;
  justify-content: center;
}

.p03__box {
  background:linear-gradient(135deg, #BA949A 0%, #8BC7C3 100%);
  color: ffffff;
  width: 68rem;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.six-months__title {
  width:80%;
  text-align:center;
  font-size: clamp(5rem,3vw,24rem);
  font-family: maginia;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  justify-content:center;
  margin:auto;
  margin-bottom: 136px;

}

.p03__box__title {
  font-size: 40px;
  padding-top: -10rem;
  font-family: maginia;
  color: #ffffff;
  margin-left: 3rem;
  text-align: center;
}

.p03__box__text--bottom {
  margin-left: 3rem
  margin-top: -1rem;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
}

.p03__image {
  z-index: 1;
  margin-top: -8rem;
  margin-right: -8rem;
  width:150px;
  height:150px;
  pointer-events:none;
}
  .extra-gap-collage2{
    padding:30px 10px
  }
}
@media(min-width:1281px) and (max-width:1591px){
  .six_months-row1 {
  display: flex;
    padding: 0px 10px;
}
.six-months-col1 {
  width: 50%;
}
.six-months-col2 {
  width: 50%;
}
.six_months-row2{
  padding:38px 0px;
  position: relative;
  top: 52px;
}
.p03__boxs {
  display: flex;
  justify-content: center;
}

.p03__box {
  background: linear-gradient(135deg, #BA949A 0%, #8BC7C3 100%);
  color: ffffff;
  width: 68rem;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.six-months__title {
  width:80%;
  text-align:center;
  font-size: clamp(5rem,3vw,24rem);
  font-family: maginia;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  justify-content:center;
  margin:auto;
  margin-bottom: 136px;

}

.p03__box__title {
  font-size: 40px;
  padding-top: -10rem;
  font-family: maginia;
  color: #ffffff;
  margin-left: 3rem;
  text-align: center;
}

.p03__box__text--bottom {
  margin-left: 3rem
  margin-top: -1rem;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
}

.p03__image {
  z-index: 1;
  margin-top: -8rem;
  margin-right: -8rem;
  width:150px;
  height:150px;
  pointer-events:none;
}
  .extra-gap-collage2{
    padding:30px 16px
  }
}

@media(min-width:1025px) and (max-width:1280px){
  .six_months-row1 {
  display: flex;
    padding: 0px 10px;
}
.six-months-col1 {
  width: 50%;
}
.six-months-col2 {
  width: 50%;
}
.six_months-row2{
  padding:38px 0px;
  position: relative;
  top: 52px;
}
.p03__boxs {
  display: flex;
  justify-content: center;
}

.p03__box {
  background:linear-gradient(135deg, #BA949A 0%, #8BC7C3 100%);
  color: ffffff;
  width: 68rem;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.six-months__title {
  width:80%;
  text-align:center;
  font-size: clamp(5rem,3vw,24rem);
  font-family: maginia;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  justify-content:center;
  margin:auto;
  margin-bottom: 136px;

}

.p03__box__title {
  font-size: 40px;
  padding-top: -10rem;
  font-family: maginia;
  color: #ffffff;
  margin-left: 3rem;
  text-align: center;
}

.p03__box__text--bottom {
  margin-left: 3rem
  margin-top: -1rem;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
}

.p03__image {
  z-index: 1;
  margin-top: -8rem;
  margin-right: -8rem;
  width:150px;
  height:150px;
  pointer-events:none;
}
}
@media(min-width:990px) and (max-width:1024px){
  .six_months-row1 {
  display: flex;
    padding: 0px 10px;
}
.six-months-col1 {
  width: 50%;
}
.six-months-col2 {
  width: 50%;
}
.six_months-row2{
  padding:38px 0px;
  position: relative;
  top: 52px;
}
.p03__boxs {
  display: flex;
  justify-content: center;
}

.p03__box {
  background: linear-gradient(135deg, #BA949A 0%, #8BC7C3 100%);
  color: ffffff;
  width: 68rem;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.six-months__title {
  width:80%;
  text-align:center;
  font-size: clamp(5rem,3vw,24rem);
  font-family: maginia;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  justify-content:center;
  margin:auto;
  margin-bottom: 136px;

}

.p03__box__title {
  font-size: 40px;
  padding-top: -10rem;
  font-family:maginia;
  color: #ffffff;
  margin-left: 3rem;
  text-align: center;
}

.p03__box__text--bottom {
  margin-left: 3rem
  margin-top: -1rem;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
}

.p03__image {
  z-index: 1;
  margin-top: -8rem;
  margin-right: -8rem;
  width:150px;
  height:150px;
  pointer-events:none;
}
}
@media(min-width:768px) and (max-width:989px){
  .six_months-row1 {
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
}
.six-months-col1 {
  width: 100%;
}
.six-months-col2 {
  width: 100%;
  margin-top: 11rem;
}
.six_months-row2{
  padding:38px 0px;
  position: relative;
  top: 28px;
}
.p03__boxs {
  display: flex;
  justify-content: center;
}

.p03__box {
  background:linear-gradient(135deg, #BA949A 0%, #8BC7C3 100%);
  color: ffffff;
  width: 68rem;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.six-months__title {
  width:90%;
  text-align:center;
  font-size: clamp(5rem,3vw,24rem);
  font-family: maginia;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  justify-content:center;
  margin:auto;
  margin-bottom: 115px;

}

.p03__box__title {
  font-size: 40px;
  padding-top: -10rem;
  font-family: maginia;
  color: #ffffff;
  margin-left: 3rem;
  text-align: center;
}

.p03__box__text--bottom {
  margin-left: 3rem
  margin-top: -1rem;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
}

.p03__image {
  z-index: 1;
  margin-top: -8rem;
  margin-right: -8rem;
  width:150px;
  height:150px;
  pointer-events:none;
}
}
@media(min-width:481px) and (max-width:767px){
  .six_months-row1 {
    flex-direction: column;
    width: 100%;
    padding: 0px 22px;
}
.six-months-col1 {
  width: 100%;
}
.six-months-col2 {
  width: 100%;
  margin-top: 11rem;
}
.six_months-row2{
  padding:38px 22px;
  position: relative;
  top: 28px;
}
.p03__boxs {
  display: flex;
  justify-content: center;
}

.p03__box {
  background: linear-gradient(135deg, #BA949A 0%, #8BC7C3 100%);
  color: ffffff;
  width: 68rem;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.six-months__title {
  width:90%;
  text-align:center;
  font-size: clamp(5rem,3vw,24rem);
/*   line-height: px; */
  font-family: maginia;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  justify-content:center;
  margin:auto;
  margin-bottom: 115px;

}

.p03__box__title {
  font-size: 40px;
  padding-top: -10rem;
  font-family: maginia;
  color: #ffffff;
  margin-left: 3rem;
  text-align: center;
}

.p03__box__text--bottom {
  margin-left: 3rem
  margin-top: -1rem;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
}

.p03__image {
  z-index: 1;
  margin-top: -8rem;
  margin-right: -8rem;
  width:130px;
  height:130px;
  pointer-events:none;
}
}
@media(min-width:300px) and (max-width:480px){
  .six_months-row1 {
    flex-direction: column;
    width: 100%;
    padding: 0px 22px;
}
.six-months-col1 {
  width: 100%;
}
.six-months-col2 {
  width: 100%;
  margin-top: 11rem;
}
.six_months-row2{
  padding:38px 22px;
  position: relative;
  top: 28px;
}
.p03__boxs {
  display: flex;
  justify-content: center;
}

.p03__box {
  background: linear-gradient(135deg, #BA949A 0%, #8BC7C3 100%);
  color: ffffff;
  width: 68rem;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.six-months__title {
  width:90%;
  text-align:center;
  font-size: clamp(5rem,3vw,24rem);
  /*   line-height: 33px; */
  font-family: maginia;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  justify-content:center;
  margin:auto;
  margin-bottom: 115px;

}

.p03__box__title {
  font-size: 40px;
  padding-top: -10rem;
  font-family: maginia;
  color: #ffffff;
  margin-left: 3rem;
  text-align: center;
}

.p03__box__text--bottom {
  margin-left: 3rem
  margin-top: -1rem;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
}

.p03__image {
  z-index: 1;
  margin-top: -5rem;
  margin-right: -5rem;
  width:100px;
  height:100px;
  pointer-events:none;
}
}

