@charset 'UTF-8';
/* Slider */
.slick1-loading .slick1-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick1-prev,
.slick1-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick1-prev:hover,
.slick1-prev:focus,
.slick1-next:hover,
.slick1-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick1-prev:hover:before,
.slick1-prev:focus:before,
.slick1-next:hover:before,
.slick1-next:focus:before
{
    opacity: 1;
}
.slick1-prev.slick-disabled:before,
.slick1-next.slick-disabled:before
{
    opacity: .25;
}

.slick1-prev:before,
.slick1-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick1-prev
{
    left: 67px;
    z-index: 1;
}
[dir='rtl'] .slick1-prev
{
    right: -25px;
    left: auto;
}
.slick1-prev:before

{

    content: url('https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_21.png?v=1669091952');

}

[dir='rtl'] .slick1-prev:before

{

    content: url('https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_20.png?v=1669091952');

}



.slick1-next
{
  right: 103px;
    z-index: 1;

}

[dir='rtl'] .slick1-next

{

    right: auto;

    left: -25px;

}

.slick1-next:before

{

    content: url('https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_20.png?v=1669091952');

}

[dir='rtl'] .slick-next:before

{

    /* content: '←'; */

    content: url('https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_21.png?v=1669091952');

}

/* Dots */
.slick1-slider
{
    margin-bottom: 30px;
}

.slick1-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick1-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick1-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick1-dots li button:hover,
.slick1-dots li button:focus
{
    outline: none;
}
.slick1-dots li button:hover:before,
.slick1-dots li button:focus:before
{
    opacity: 1;
}
.slick1-dots li button:before
{ 
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick1-dots li.slick1-active button:before
{
    opacity: .75;
    color: black;
}
@media screen and (max-width: 768px) {
    .boxed-heading {
      width: 100%;
      margin-left:-9px;
    }
.slick1-next
{
  right: 60px;
    z-index: 1;

}
  .slick1-prev {
    left: 29px;
    z-index: 1;
}
}
