.scrolling-promotion1 {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: rgb(var(--color-foreground));
  background: var(--gradient-background);
  background-color: rgb(var(--color-background));
}

.scrolling-promotion1 .promotion1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.scrolling-promotion1 .promotion img1,
.scrolling-promotion1 .promotion svg1 {
  max-width: 100%;
  width: auto;
  height: calc(var(--image-height) * 0.75);
}

.scrolling-promotion1 .promotion--animated1 {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: var(--duration);
  animation-play-state: running;
  width: max-content;
  will-change: transform, width;
}

.scrolling-promotion--left1 .promotion--animated1 {
  animation-name: scrolling-left;
}

.scrolling-promotion--right1 .promotion--animated1 {
  animation-name: scrolling-right;
}

@media screen and (hover: hover) {
  .scrolling-promotion:hover1 .promotion--animated1 {
    animation-play-state: paused;
  }
}

.scrolling-promotion--paused1 .promotion--animated1 {
  animation-play-state: paused;
}

.scrolling-promotion1 .promotion__item1 {
  margin: 0 -.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  --icon-height: 2.6rem;
}

.scrolling-promotion1 .promotion-icon--small1 {
  --icon-height: 2rem;
}

.scrolling-promotion1 .promotion-icon--large1 {
  --icon-height: 3.2rem;
}

.scrolling-promotion1 .promotion__text1 {
  color: inherit;
  line-height: 1;
  white-space: nowrap;
  font-size: calc(var(--font-size) * 0.75);
}

@media screen and (min-width: 750px) {
  .scrolling-promotion1 .promotion img1,
  .scrolling-promotion1 .promotion svg1 {
    max-width: 100%;
    height: var(--image-height);
    --image-height: 100px;
  }

  .scrolling-promotion1 .promotion__item1 {
    margin: 0 -0.5rem;
  }

  .scrolling-promotion1 .promotion__text1 {
    font-size: var(--font-size);
  }
}

.scrolling-promotion1 .promotion__link1 {
  color: rgb(var(--color-link));
  text-decoration: none;
}

.scrolling-promotion1 .media-wrapper:not(.loading) {
  background-color: transparent;
}

@keyframes scrolling-left {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes scrolling-right {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.scrolling-promotion1 .promotion__icon1 {
  display: inline-flex;
  line-height: 0;
}

.promotion-icon--colored1 .promotion__icon1 {
  width: calc(var(--icon-height) + 3rem);
  height: calc(var(--icon-height) + 3rem);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-icon));
}

.scrolling-promotion1 .promotion__icon svg1,
.scrolling-promotion1 .promotion__icon img1 {
  width: auto;
  height: var(--icon-height);
  max-width: var(--icon-height);
  fill: currentColor;
}
