.wc_review_main_content .wc_review_graph {
  display: none;
}
.btn-success {
  background-color: none;
}
#shopify-section-template--17302958670135__main {
 --section-padding-top: 0px;
 --section-padding-bottom: 100px;
}

.wc_review_btn,
ul.wc_slider_review_main_ul .slick-prev,
ul.wc_testimonial_slider .slick-prev,
ul.wc_testimonial_slider .slick-next,
ul.wc_slider_review_main_ul .slick-next,
.wc_review_listing_select select.wc_select_drop,
#wc_testimonial_section .slick-dots li.slick-active button::before {
  background-color: #cc4e61 !important;
  border-radius: 22px;
  position: relative;
  left: 16rem;
}
/* .tab-collage__left{
  height: 532px;
}
.tab-collage__right{
  height: 532px;
}
.tab-collage__desc {
/*     display: none;
    line-height: calc(1 + .6 / var(--font-body-scale)); 
    width: 536px;
}

.tab-collage__desc p {
  width: 507px;
}*/
/* @media screen and (max-width: 600px) {
  .tab-collage__left {
    width: 50%;
  }
   .tab-collage__right {
    width: 50%;
  }
   .tab-collage__desc p {
    width: 68%;
  }
} */
#wc_review_section .wc_review_top_title h2 {
  color: #cc4e61;
}

.wc_review_listing_select .wc_select_drop_arrow {
  display: none;
}

.wc_review_listing_select select.wc_select_drop {
  display: none;
}

@media screen and (max-width: 600px) {
  .wc_review_listing_select select.wc_select_drop {
    width: 100%;
  }

  .wc_review_badge_wrap .wc_icon_color svg,
  #wc_review_section .wc_review_badge_wrap .wc_icon_color svg {
    margin-left: 2rem;
  }

  .wc_review_btn,
  ul.wc_slider_review_main_ul .slick-prev,
  ul.wc_testimonial_slider .slick-prev,
  ul.wc_testimonial_slider .slick-next,
  ul.wc_slider_review_main_ul .slick-next,
  .wc_review_listing_select select.wc_select_drop,
  #wc_testimonial_section .slick-dots li.slick-active button::before {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .wc_review_main_content .wc_review_count {
    display: grid;
  }

  .wc_review_btn,
  ul.wc_slider_review_main_ul .slick-prev,
  ul.wc_testimonial_slider .slick-prev,
  ul.wc_testimonial_slider .slick-next,
  ul.wc_slider_review_main_ul .slick-next,
  .wc_review_listing_select select.wc_select_drop,
  #wc_testimonial_section .slick-dots li.slick-active button:before {
    margin-left: -6rem;
  }

  #wc_review_section .wc_review_top_title h2 {
    margin-left: 6rem;
  }

  .wc_review_main_content .wc_review_count {
    justify-content: center;
  }

  .wc_tab_links li.wc_active a,
  li.wc_active a:hover {
    margin-left: 14rem;
  }

  .wc_empty_review_text p {
    margin-left: 6rem;
  }
  .active,
  .dot:hover {
    background-color: white;
  }
  .carousel-indicators .active {
    background: #ffd8de;
    color: #cc4e61;
  }
}
@media (max-width: 767px) {
  .tab-collage {
/*     width: 100%; */
    margin-top: -36rem;
  }
}
